<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar height="30" flat color="white">
        <v-toolbar-title class="font-weight-bold headline">
          <router-link
            style="text-decoration: none"
            :to="
              $route.name == 'Matriz Reporteria'
                ? '/supervisor'
                : $route.name == 'Reporteria Admin'
                ? '/admin/matrizconfig/' + $route.params.idmatriz
                : '/auditor'
            "
            class="grey--text text--darken-1"
            black
          >
            <span class="body-2 font-weight-bold">
              <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
            </span>
          </router-link>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar v-if="infoMatriz" flat color="white">
        <v-toolbar-title style="width: 100%" class="font-weight-bold headline">
          <v-list-item class="pa-0" two-line>
            <v-list-item-content>
              <v-list-item-title
                class="headline mb-1 text-uppercase secondary--text font-weight-bold"
                >{{ infoMatriz.nombre }}</v-list-item-title
              >
              <v-list-item-subtitle
                class="text-capitalize secondary--text font-weight-bold"
                >({{ infoMatriz.tipo_matriz.nombre }})</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar v-if="infoMatriz" flat color="white">
        <v-toolbar-title style="width: 100%" class="font-weight-bold headline">
          <v-list-item class="pa-0" two-line>
            <v-list-item-content>
              <v-list-item-subtitle
                class="text-capitalize secondary--text font-weight-bold"
                >Rango de peso ({{ infoMatriz.valor_peso_validacion.minimo }} -
                {{ infoMatriz.valor_peso_validacion.maximo }})
              </v-list-item-subtitle>
              <v-list-item-subtitle
                class="text-capitalize primary--text font-weight-bold"
                >Peso actual ({{ infoMatriz.acumulado }})</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
      </v-toolbar>

      <!-- <v-toolbar flat color="white">
        <v-radio-group v-model="tipoMatriz" row>
          <v-radio color="accent" label="Valor" value="valor"></v-radio>
          <v-radio color="accent" label="Cumplimiento" value="cumplimiento"></v-radio>
          <v-radio color="accent" label="Des-habilitar Matriz" value="deshabilitar"></v-radio>
        </v-radio-group>
      </v-toolbar>-->

      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12>
          <v-card class="elevation-0">
            <v-card-text>
              <v-form ref="formBuscar">
                <v-row
                  v-if="!descargarInforme"
                  class="align-center justify-center"
                >
                  <!-- <v-col cols="12" md="3">
                    <span class="font-weight-bold">Tipo Reporte</span>
                    <v-select
                      :rules="[rules_form.requerido]"
                      :items="item"
                      solo
                      outlined
                      flat
                      dense
                      v-model="formBuscar.tipoReporte"
                      item-text="text"
                      item-value="id"
                      placeholder="Tipo Informe"
                    ></v-select>
                  </v-col> -->
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Fecha inicial</span>
                    <v-menu
                      v-model="menuDate1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :rules="[rules_form.requerido]"
                          v-on="on"
                          v-model="formBuscar.fechaInicial"
                          readonly
                          placeholder="Selecciona..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        locale="es-ES"
                        :max="hoy"
                        v-model="formBuscar.fechaInicial"
                        @input="menuDate1 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Fecha final</span>
                    <v-menu
                      v-model="menuDate2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-on="on"
                          :rules="[rules_form.requerido]"
                          v-model="formBuscar.fechaFinal"
                          readonly
                          placeholder="Selecciona..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        locale="es-ES"
                        :min="formBuscar.fechaInicial"
                        v-model="formBuscar.fechaFinal"
                        @input="menuDate2 = false"
                        :max="hoy"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <v-btn
                      :disabled="loadingFormBuscar"
                      :loading="loadingFormBuscar"
                      @click="consultarGestiones"
                      block
                      color="secondary"
                      class="text-capitalize font-weight-bold"
                    >
                      Generar reporte
                    </v-btn>
                  </v-col>
                </v-row>

                <v-row v-if="descargarInforme">
                
                  
                  <v-col cols="12" md="3" offset="9">
                    <span class="font-weight-bold">&nbsp;</span>
                    <v-btn
                      :disabled="loadingFormBuscar"
                      :loading="loadingFormBuscar"
                      @click="descargar"
                      block
                      color="secondary"
                      class="text-capitalize font-weight-bold"
                    >
                      Descargar Reporte
                      <v-icon right>mdi-file-download</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
            <v-card-text v-if="gestionesMatriz.length > 0">
              <v-data-table
                    :footer-props="{
                      'no-results-text': 'No se han encontrado registros',
                      'loading-text': 'Cargando registros items...',
                      'page-text': '{0}-{1} de {2}',
                      'items-per-page-text': 'Registros por página:',
                      'items-per-page-all-text': 'Todos los registros',
                    }"
                    :page.sync="pageGestiones"
                    :options.sync="options"
                    :items-per-page="options.itemsPerPage"
                    :server-items-length="totalDataGestiones"
                    dense
                    hide-default-header
                    :headers="headersGestiones"
                    :items="gestionesMatriz"
                    :loading="loadingtable"
                    class="elevation-0"
                    @page-count="pageCountGestiones = $event"
                  >
                    >
                    <template v-slot:header="{ props: { headers } }">
                      <thead class="v-data-table-header">
                        <tr>
                          <th
                            class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                            v-for="(item, index) in headers"
                            :key="index"
                          >
                            {{ item.text }}
                          </th>
                        </tr>
                      </thead>
                    </template>
                    <template v-slot:item.calificacion="{ item }">
                     {{item.total_punaje}} / {{item.maximo_puntaje}}
                    </template>
                    <template v-slot:item.retroalimentada="{ item }">
                      {{item.retroalimentacion_auditor || item.retroalimentacion_supervisor ? 'Si' : 'No'}}
                    </template>
                  </v-data-table>
            </v-card-text>
            <v-card-text v-if="errorDescargar">
              <v-alert
      border="right"
      colored-border
      type="error"
      elevation="2"
    >
      No fue posible generar el informe, intentelo de nuevo.
      <br> Si el error persiste, contacte al departamento encargado.
    </v-alert>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-overlay
      fixed
      z-index="999"
      opacity="1"
      color="white"
      :value="loaderComponent"
    >
      <v-card flat min-width="250" color="transparent">
        
       
        <v-card-title
          style="display: block"
          class="display-2 primary--text text-center font-weight-bold"
          >{{ textTitleLoader }}</v-card-title
        >
        <v-card-subtitle class="headline black--text text-center">{{
          textSubTitleLoader
        }}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <span
            v-if="mensaje == 'matriz desactivada'"
            style="display: block"
            class="display-2 primary--text text-center font-weight-bold"
            >{{ mensaje }}</span
          >
          <v-progress-circular
            color="primary"
            indeterminate
            size="64"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-content>
</template>
<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  data() {
    return {
      errorDescargar: false,
      loadingtable: false,
      pageGestiones: 1,
       Gestiones: 1,
      options: {
        itemsPerPage: 10,
      },
      totalDataGestiones: 1, //0
      headersGestiones: [
        {
          text: "Id",
          align: "left",
          sortable: false,
          value: "id",
        },
        {
          text: "Campaña",
          align: "left",
          sortable: false,
          value: "detalle_matriz.nombre_campania",
        },
        {
          text: "Fecha auditoria",
          align: "left",
          sortable: false,
          value: "created_at",
        },
        {
          text: "Auditado Por",
          align: "center",
          sortable: false,
          value: "detalle_auditor.nombre",
        },
        {
          text: "UCID",
          align: "center",
          sortable: false,
          value: "ucid",
        },
        {
          text: "Calificación",
          align: "center",
          sortable: false,
          value: "calificacion",
        },
        {
          text: "Retroalimentada",
          align: "center",
          sortable: false,
          value: "retroalimentada",
        },
      ],
      gestionesMatriz: [],
      descargarInforme: false,
      infoMatriz: null,
      disable: false,
      item: [{ text: "General", id: 1 }],
      formBuscar: {
        tipoReporte: 1,
        fechaInicial: null,
        fechaFinal: null,
      },
      menuDate1: false,
      fechaInicial: null,
      menuDate2: false,
      fechaFinal: null,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      loadingFormBuscar: false,
      mensaje: "",
      max: 12,
      hoy: new Date().toISOString().substr(0, 10),
      matriz: this.$route.params.idmatriz,
      clave: this.$route.name,
      loadingFormBuscar: false,
      loaderComponent: false,
      textTitleLoader: "Un momento por favor",
    };
  },
  watch: {
    pageGestiones() {
      this.consultarGestiones();
    },
    "options.itemsPerPage"() {
      this.consultarGestiones();
    },
  },
  computed: {
    idMatriz() {
      return this.$route.params.idmatriz;
    },
  },
  methods: {
    detalleMatriz(typeLoaderShow) {
      this.loaderComponent = true;
      axios
        .get("/crudMatriz/" + this.idMatriz)
        .then((res) => {
          this.loaderComponent = false;
          this.infoMatriz = res.data;
        })
        .catch((err) => {
          this.loaderList = false;
          console.error(err);
        });
    },
    // matrizdesactivada() {
    //   this.loadingFormBuscar = true;
    //   this.loaderComponent = true;
    //   this.textTitleLoader = "Un momento por favor";
    //   axios
    //     .post(`/matrizActiva/${this.matriz}`)
    //     .then(res => {
    //       this.mensaje = res.data;
    //       if (this.mensaje == "matriz desactivada") {
    //         this.loadingFormBuscar = true;
    //         this.loaderComponent = true;
    //       } else {
    //         this.loadingFormBuscar = false;
    //         this.loaderComponent = false;
    //       }
    //     })
    //     .catch(error => {
    //       console.error(error);
    //     });
    // },
    consultarGestiones() {
      this.loaderComponent = true;
      axios
        .post("/gestionesMatriz?matriz_id=" + this.idMatriz +
            "&page=" +
            this.pageGestiones +
            "&rowsPerPage=" +
            this.options.itemsPerPage, {
          form: this.formBuscar,
        })
        .then((res) => {



          this.gestionesMatriz = res.data.data_registros;
          this.totalDataGestiones = res.data.total_registros;
          this.numberOfPages = Math.ceil(
            res.data.total_registros / this.options.itemsPerPage
          );
          
          if (this.totalDataGestiones > 0) {
            this.descargarInforme = true;
          }
          this.loaderComponent = false;


          
        })
        .catch((err) => {
          this.loaderList = false;
          console.error(err);
        });
    },
    descargar() {
          this.errorDescargar = false;

      // this.mensaje = "aqui se va a descargar";
       this.loaderComponent = true;
      axios({
        url: "/descargarInforme",
        method: "POST",
        data: {
          form: this.formBuscar,
          idm: this.matriz,
          clave: this.clave,
        },
        responseType: "blob", //importante
      })
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute(
            "download",
            "Informe_General_" + Date.now() + ".xlsx"
          );

          document.body.appendChild(link);
          link.click();
          //this.dialogEnviar=false;
          // this.formBuscar.tipoReporte = "1";
          // this.formBuscar.fechaInicial = "";
          // this.formBuscar.fechaFinal = "";
          // this.formBuscar.cedulaAesor = "";
          // this.date = new Date().toISOString().substr(0, 10);
          // this.date2 = new Date().toISOString().substr(0, 10);
          console.log(response.data);
          this.mensaje = response.data;
           this.loaderComponent = false;
        })
        .catch((error) => {
          console.log("error " + error);
          this.loaderComponent = false;
          this.errorDescargar = true;
        });
    },
  },
  mounted() {
    // this.matrizdesactivada();
    this.detalleMatriz();
  },
};
</script>

<style>
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none !important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
.headtable:first-child {
  border-radius: 10px 0 0 0;
}
.headtable:last-child {
  border-radius: 0 10px 0 0;
}
</style>