<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-row no-gutters>
        <v-col cols="12" sm="12" md="6">
          <v-toolbar flat color="white">
            <v-toolbar-title class="font-weight-bold headline"
              >¡Bienvenido al Módulo de Auditorías!</v-toolbar-title
            >
          </v-toolbar>
          <v-toolbar flat color="white">
            <v-toolbar-title class="subtitle-1"
              >Aquí podrás visualizar las auditorías que te han
              realizado.</v-toolbar-title
            >
          </v-toolbar>
        </v-col>
        <v-col cols="12" md="6">
          <v-container fluid>
            <v-row>
              <v-col v-for="card in cards" :key="card.title" :cols="card.flex">
                <v-card
                  min-height="150"
                  outlined
                  style="
                    border-width: thin;
                    border-top-color: #d52b1e;
                    border-right-color: #d52b1e;
                    border-bottom-color: #d52b1e;
                    border-left-color: #d52b1e;
                  "
                >
                  <v-card-text
                    class="text-center"
                    style="
                      font-size: 40px;
                      color: red;
                      padding: 20px;
                      height: 80px;
                      font-weight: bold;
                    "
                  >
                    <div style="margin-top: 10%">{{ card.text }}</div>
                  </v-card-text>
                  <v-card-actions
                    class="text-center font-weight-bold"
                    style="display: block"
                    size="10"
                  >
                    {{ card.title }}
                    <br />
                    <v-spacer></v-spacer>
                    <v-divider></v-divider>NOTA:
                    <span color="red" style="color: red">{{
                      card.promedio
                    }}</span>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
      <v-row class="col-5"></v-row>
      <v-container style="margin-top: -40px">
        <v-layout align-center justify-center>
          <v-flex xs12 sm12 md12 class="mt-6">
            <v-data-table
              :headers="headers"
              :items="auditorias"
              :items-per-page="5"
              :search="search"
              class="elevation-0"
              style="text-align-last: center"
              hide-default-header
              dense
            >
              <template
                v-slot:header="{ props: { headers } }"
                class="elevation-4"
              >
                <thead class="v-data-table-header">
                  <tr>
                    <th
                      class="headtable primary accent-4 text-capitalize white--text font-weight-bold text-center"
                      v-for="(item, index) in headers"
                      :key="index"
                    >
                      {{ item.text }}
                    </th>
                  </tr>
                </thead>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-btn
                  :disabled="loadingFormBuscar"
                  :loading="loadingFormBuscar"
                  @click="abrirDialog(item)"
                  class="font-weight-bold text-capitalize"
                  small
                  color="primary"
                  text
                >
                  Ver
                  <v-icon small right>mdi-magnify</v-icon>
                </v-btn>
                <!-- <v-row dense>
                  <v-col class="col-6">
                    <span style="color:red">ver</span>
                  </v-col>
                  <v-col class="col-6">
                    <v-icon
                      
                      color="red"
                    >mdi-magnify</v-icon>
                  </v-col>
                </v-row>-->
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
    <!--desde aqui va el dialogo de items -->
    <v-dialog persistent v-model="dialog" max-width="950">
      <v-card v-if="auditoriaSeleccionada">
        <v-card-title
          class="headline font-weight-bold pt-9 primary--text"
          style="display: block"
          >ID DE LA AUDITORÍA - {{ auditoriaSeleccionada.id }}</v-card-title
        >

        <v-card-text>
          <v-simple-table dense v-if="auditoriaSeleccionada">
            <template v-slot:default>
              <thead class="v-data-table-header">
                <tr>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >
                    Matriz
                  </th>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >
                    Fecha auditoría
                  </th>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >
                    Calificación
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ auditoriaSeleccionada.detalle_matriz.nombre }}</td>
                  <td>{{ auditoriaSeleccionada.created_at }}</td>
                  <td class="text-center display-1 font-weight-bold">
                    {{ auditoriaSeleccionada.total_punaje }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>

          <v-row class v-if="auditoriaSeleccionada">
            <v-col cols="12" md="6" style="overflow-y: auto; max-height: 732px">
              <v-expansion-panels>
                <v-expansion-panel
                  v-for="(
                    modulo, index
                  ) in auditoriaSeleccionada.items_afectados"
                  :key="index"
                >
                  <v-expansion-panel-header
                    class="pt-1 pb-1"
                    color="red lighten-4"
                  >
                    <v-card-actions class="ml-0 mr-0 pa-0 font-weight-bold">
                      <v-chip
                        v-if="
                          auditoriaSeleccionada.detalle_matriz.tipo_matriz_id ==
                            1 ||
                          auditoriaSeleccionada.detalle_matriz.tipo_peso_id ==
                            4 ||
                          modulo.premium
                        "
                        color="accent"
                        small
                        class="mr-2 font-weight-bold"
                      >
                        {{ modulo.detalle_item.peso }}
                        {{
                          auditoriaSeleccionada.detalle_matriz.tipo_matriz_id ==
                            1 &&
                          auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4
                            ? "%"
                            : ""
                        }}
                        <v-icon small v-if="modulo.detalle_item.premium"
                          >mdi-star</v-icon
                        >
                      </v-chip>
                      {{ modulo.detalle_item.sigla }}-&nbsp;
                      <span class="text-capitalize font-weight-bold body-2">{{
                        modulo.detalle_item.nombre
                      }}</span>
                      <v-spacer></v-spacer>

                      <span
                        style="min-width: 50px; margin: 0"
                        class="text-center caption font-weight-bold"
                        >{{
                          auditoriaSeleccionada.detalle_matriz.tipo_matriz_id ==
                          1
                            ? "Cumple"
                            : "Si"
                        }}</span
                      >
                      <span
                        style="min-width: 72px; margin: 0"
                        class="text-center caption font-weight-bold"
                        >{{
                          auditoriaSeleccionada.detalle_matriz.tipo_matriz_id ==
                          1
                            ? "No Cumple"
                            : "No"
                        }}</span
                      >
                      <span
                        style="min-width: 32px; margin: 0"
                        class="text-center caption font-weight-bold"
                        >N/A</span
                      >
                      <span
                        v-if="
                          auditoriaSeleccionada.detalle_matriz.tipo_peso_id ==
                            3 ||
                          auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4
                        "
                        style="min-width: 32px; margin: 0"
                        class="text-center caption font-weight-bold"
                        >Peso</span
                      >
                    </v-card-actions>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="pb-3" color="red lighten-4">
                    <v-card-actions
                      v-for="(item, index) in modulo.items"
                      :key="index"
                      style="border-radius: 5px; display: grid"
                      class="white ml-0 mt-1 mr-0"
                    >
                      <div style="display: inline-flex">
                        <v-chip
                          small
                          label
                          color="primary"
                          class="mr-2 mt-2 font-weight-bold"
                          >{{ item.detalle_item.sigla }}</v-chip
                        >&nbsp;
                        <span class="text-capitalize mt-2 font-weight-bold">{{
                          item.detalle_item.nombre
                        }}</span>
                        <v-spacer></v-spacer>

                        <v-radio-group
                          readonly
                          value="cumple"
                          :style="
                            auditoriaSeleccionada.detalle_matriz.tipo_peso_id ==
                              3 ||
                            (auditoriaSeleccionada.detalle_matriz
                              .tipo_peso_id == 4 &&
                              item.premium == true)
                              ? 'min-width:186px; max-width:186px;'
                              : 'min-width:186px; max-width:186px;'
                          "
                          hide-details
                          class="ma-0 pt-2 pb-2"
                          row
                          :rules="[(v) => !!v || 'Item is required']"
                          v-model="item.type_select"
                        >
                          <v-radio
                            style="width: 50px; margin: 0; display: block"
                            class="text-center radio-b"
                            :value="
                              auditoriaSeleccionada.detalle_matriz
                                .tipo_matriz_id == 1
                                ? 'cumple'
                                : 'si'
                            "
                          ></v-radio>
                          <v-radio
                            style="width: 72px; margin: 0; display: block"
                            class="text-center radio-b"
                            :value="
                              auditoriaSeleccionada.detalle_matriz
                                .tipo_matriz_id == 1
                                ? 'no_cumple'
                                : 'no'
                            "
                          ></v-radio>
                          <v-radio
                            style="width: 32px; margin: 0; display: block"
                            class="text-center radio-b"
                            value="no_aplica"
                          ></v-radio>

                          <span
                            v-if="
                              auditoriaSeleccionada.detalle_matriz
                                .tipo_peso_id == 3 ||
                              (auditoriaSeleccionada.detalle_matriz
                                .tipo_peso_id == 4 &&
                                item.detalle_item.premium == true)
                            "
                            style="width: 32px; margin: 0"
                            class="text-center font-weight-bold"
                            value="radio-3"
                            >{{ item.detalle_item.peso }}</span
                          >
                          <span
                            v-else
                            style="width: 32px; margin: 0; display: block"
                            class="text-center font-weight-bold"
                            value="radio-3"
                            >&nbsp;</span
                          >
                          <!-- {{auditoriaSeleccionada.detalle_matriz.tipo_peso_id}} -->
                        </v-radio-group>
                      </div>
                      <div
                        style="display: inline-flex"
                        v-for="(subitem, index) in item.subitems"
                        :key="index"
                      >
                        <v-chip
                          small
                          label
                          color="warning"
                          class="mr-2 ml-9 mt-2 font-weight-bold"
                          >{{ subitem.detalle_item.sigla }}</v-chip
                        >&nbsp;
                        <span class="text-capitalize mt-2 font-weight-bold">{{
                          subitem.detalle_item.nombre
                        }}</span>
                        <v-spacer></v-spacer>
                        <v-spacer></v-spacer>

                        <v-radio-group
                          readonly
                          :style="
                            auditoriaSeleccionada.detalle_matriz.tipo_peso_id ==
                              3 ||
                            (auditoriaSeleccionada.detalle_matriz
                              .tipo_peso_id == 4 &&
                              subitem.premium == true)
                              ? 'min-width:186px; max-width:186px;'
                              : 'min-width:186px; max-width:186px;'
                          "
                          hide-details
                          class="ma-0 pt-2 pb-2"
                          row
                          :rules="[(v) => !!v || 'Item is required']"
                          v-model="subitem.type_select"
                        >
                          <v-radio
                            style="width: 50px; margin: 0; display: block"
                            class="text-center radio-b"
                            :value="
                              auditoriaSeleccionada.detalle_matriz
                                .tipo_matriz_id == 1
                                ? 'cumple'
                                : 'si'
                            "
                          ></v-radio>
                          <v-radio
                            style="width: 72px; margin: 0; display: block"
                            class="text-center radio-b"
                            :value="
                              auditoriaSeleccionada.detalle_matriz
                                .tipo_matriz_id == 1
                                ? 'no_cumple'
                                : 'no'
                            "
                          ></v-radio>
                          <v-radio
                            style="width: 32px; margin: 0; display: block"
                            class="text-center radio-b"
                            value="no_aplica"
                          ></v-radio>
                          <span
                            v-if="
                              auditoriaSeleccionada.detalle_matriz
                                .tipo_peso_id == 3 ||
                              (auditoriaSeleccionada.detalle_matriz
                                .tipo_peso_id == 4 &&
                                subitem.detalle_item.premium == true)
                            "
                            style="width: 32px; margin: 0; display: block"
                            class="text-center font-weight-bold"
                            value="radio-3"
                            >{{ subitem.detalle_item.peso }}</span
                          >
                          <span
                            v-else-if="
                              auditoriaSeleccionada.detalle_matriz
                                .tipo_matriz == 2
                            "
                            style="width: 32px; margin: 0"
                            class="text-center font-weight-bold"
                            value="radio-3"
                          ></span>
                        </v-radio-group>
                      </div>
                    </v-card-actions>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
            <v-col cols="12" md="6">
              <v-form ref="formAuditor">
                <v-row>
                  <v-col cols="12" md="12">
                    <span class="font-weight-bold"
                      >Observación de la auditoría:</span
                    >
                    <v-textarea
                      disabled
                      readonly
                      v-model="auditoriaSeleccionada.observacion_auditor"
                      rows="4"
                      filled
                      dense
                      outlined
                      flat
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" md="12">
                    <span class="font-weight-bold"
                      >Retroalimentación Auditor:</span
                    >
                    <v-textarea
                      disabled
                      readonly
                      v-model="auditoriaSeleccionada.retroalimentacion_auditor"
                      rows="4"
                      filled
                      dense
                      outlined
                      flat
                    ></v-textarea>
                  </v-col>

                  <v-col cols="12" md="12">
                    <span class="font-weight-bold"
                      >Retroalimentación Supervisor:</span
                    >
                    <v-textarea
                      disabled
                      v-model="
                        auditoriaSeleccionada.retroalimentacion_supervisor
                      "
                      rows="4"
                      filled
                      dense
                      outlined
                      flat
                    ></v-textarea>
                  </v-col>

                  <v-col cols="12" md="12">
                    <span class="font-weight-bold">Compromiso Calidad:</span>
                    <v-textarea
                      :disabled="
                        auditoriaSeleccionada.retroalimentacion_auditor &&
                        !disabledCompCalidad
                          ? false
                          : true
                      "
                      :rules="
                        auditoriaSeleccionada.retroalimentacion_supervisor &&
                        auditoriaSeleccionada.retroalimentacion_auditor
                          ? [
                              rules_form.requerido,
                              rules_form.maximo150caracteres,
                            ]
                          : !auditoriaSeleccionada.retroalimentacion_supervisor &&
                            auditoriaSeleccionada.retroalimentacion_auditor
                          ? [
                              rules_form.requerido,
                              rules_form.maximo150caracteres,
                            ]
                          : []
                      "
                      v-model="compromiso_calidad"
                      :filled="
                        auditoriaSeleccionada.retroalimentacion_auditor &&
                        !disabledCompCalidad
                          ? false
                          : true
                      "
                      rows="4"
                      dense
                      outlined
                      flat
                    ></v-textarea>
                  </v-col>

                  <v-col cols="12" md="12">
                    <span class="font-weight-bold">Compromiso Operación:</span>
                    <v-textarea
                      :disabled="
                        auditoriaSeleccionada.retroalimentacion_supervisor &&
                        !disabledCompOperacion
                          ? false
                          : true
                      "
                      v-model="compromiso"
                      :rules="
                        auditoriaSeleccionada.retroalimentacion_supervisor &&
                        auditoriaSeleccionada.retroalimentacion_auditor
                          ? [
                              rules_form.requerido,
                              rules_form.maximo150caracteres,
                            ]
                          : auditoriaSeleccionada.retroalimentacion_supervisor &&
                            !auditoriaSeleccionada.retroalimentacion_auditor
                          ? [
                              rules_form.requerido,
                              rules_form.maximo150caracteres,
                            ]
                          : []
                      "
                      rows="4"
                      :filled="
                        auditoriaSeleccionada.retroalimentacion_supervisor &&
                        !disabledCompOperacion
                          ? false
                          : true
                      "
                      dense
                      outlined
                      flat
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-form>
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-text v-if="auditoriaSeleccionada" class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="
              (dialog = false),
                (auditoriaSeleccionada = null),
                (compromiso = '')
            "
            >Cancelar</v-btn
          >

          <v-btn
            v-if="disable == true"
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="guardarCompromiso"
            >Guardar</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar color="error" top right v-model="snackbar_error">
      <div>
        <p class="mx-2 my-2">—&nbsp;{{ mensaje }}</p>
      </div>
      <v-btn color="white" text @click="snackbar_error = false">CERRAR</v-btn>
    </v-snackbar>
    <!-- <v-dialog
      v-model="diaload"
      fullscreen
      persistent
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card>
        <v-row>
          <v-progress-circular
            style="margin-left: 47%; margin-top: 15%"
            v-model="interval"
            :size="120"
            :width="14"
            color="red"
            indeterminate
          ></v-progress-circular>
        </v-row>
      </v-card>
    </v-dialog> -->
    <v-overlay
      fixed
      z-index="999"
      opacity="1"
      color="white"
      :value="loaderComponent"
    >
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block"
          class="display-2 primary--text text-center font-weight-bold"
          >{{ textTitleLoader }}</v-card-title
        >
        <v-card-subtitle class="headline black--text text-center">{{
          textSubTitleLoader
        }}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular
            color="primary"
            indeterminate
            size="64"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-content>
</template>

<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  data() {
    return {
      snackbar_error: false,
      disable: false,
      search: "",
      auditorias: [],
      headers: [
        { text: "ID", value: "id" },
        { text: "Campaña", value: "campana" },
        { text: "Matriz", value: "matriz" },
        { text: "Fecha de Auditoría", value: "fecha_auditoria" },
        { text: "Auditado por", value: "auditado_por" },
        // { text: "Número de Teléfono Auditado", value: "telefono_auditado" },
        { text: "Calificación", value: "calificacion" },
        { text: "Retroalimentada", value: "retroalimentada" },
        { text: "", value: "actions", sortable: false },
      ],
      headersItem: [
        { text: "Campaña", value: "campana" },
        { text: "Matriz", value: "matriz" },
        { text: "Fecha Llamada de Auditoría", value: "fecha" },
        { text: "Número de Teléfono Auditado", value: "telefono" },
        { text: "Calificación", value: "calificacion" },
        { text: "", value: "actions", sortable: false },
      ],
      dessertsItem: [
        {
          campana: "",
          matriz: "",
          fecha: "",
          telefono: "",
          calificacion: "",
        },
      ],
      cards: [
        {
          title: "Auditorías del último trimestre ",
          text: "0",
          promedio: "",
          flex: 4,
        },
        { title: "Auditorías del mes", text: "0", promedio: "", flex: 4 },
        { title: "Auditorías del hoy", text: "0", promedio: "", flex: 4 },
      ],
      dialog: false,
      asesorAuditoria: "",
      auditor: [
        { auditor: "", supervisor: "", compromiso: "", compromiso_calidad: "" },
      ],
      asesorId: "",
      compromiso: "",
      compromiso_calidad: "",
      mensaje: "",
      // interval: false,
      diaload: false,

      //esto es lo del modal de auditoria
      auditoriaSeleccionada: null,
      formAuditor: {
        retroalimentacion: null,
      },
      loaderComponent: false,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      loadingFormBuscar: false,
      disabledCompCalidad: false,
      disabledCompOperacion: false,
    };
  },
  beforeDestroy() {
    // clearInterval(this.interval);
  },
  computed: {},
  methods: {
    abrirDialog(item) {
      console.log(item);

      this.loadingFormBuscar = true;
      this.loaderComponent = true;
      this.textTitleLoader = "Un momento por favor";

      if (item.compromiso_calidad) {
        this.disabledCompCalidad = true;
      }
      if (item.compromiso) {
        this.disabledCompOperacion = true;
      }

      //
      this.asesorId = item.id;
      if (
        item.retroalimentada == "NO" &&
        !item.compromiso &&
        !item.compromiso_calidad
      ) {
        this.disable = false;
      } else if (
        item.retroalimentada == "SI" &&
        item.compromiso &&
        item.compromiso_calidad
      ) {
        this.disable = false;
      } else if (item.retroalimentacion_auditor && !item.compromiso_calidad) {
        this.disable = true;
      } else if (item.retroalimentacion_supervisor && !item.compromiso) {
        this.disable = true;
      }
      this.compromiso = item.compromiso;
      this.compromiso_calidad = item.compromiso_calidad;
      this.auditor[0]["auditor"] = item.retroalimentacion_auditor;
      this.auditor[0]["supervisor"] = item.observacion_auditor;
      this.auditor[0]["compromiso"] = item.compromiso;
      this.auditor[0]["compromiso_calidad"] = item.compromiso_calidad;
      this.dessertsItem[0]["calificacion"] = item.calificacion;
      this.dessertsItem[0]["campana"] = item.campana;
      this.dessertsItem[0]["matriz"] = item.matriz;
      this.dessertsItem[0]["fecha"] = item.fecha_llamada_auditoria;
      this.dessertsItem[0]["telefono"] = item.telefono_auditado;

      //desde aqui va la funcion de el modal

      axios
        .post("/asesorRetroalimentar", {
          dataForm: item,
          id_auditoria: item.id,
        })
        .then((res) => {
          this.auditoriaSeleccionada = res.data;
          this.dialog = true;
          this.loadingFormBuscar = false;
          this.loaderComponent = false;
        })
        .catch((err) => {
          console.error(err);
          this.loadingFormBuscar = false;
          this.loaderComponent = false;
        });
    },
    traerAuditorias() {
      this.loaderComponent = true;
      axios
        .get("auditorias")
        .then((res) => {
          this.auditorias = res.data;
          this.dialog = false;
          this.loaderComponent = false;
        })
        .catch((error) => {
          console.log(error);
          this.loaderComponent = false;
        });
    },
    auditoriasAsesor() {
      axios
        .get("traerAuditoriasAsesor")
        .then((res) => {
          this.cards[0]["text"] = res.data.trimestre;
          this.cards[1]["text"] = res.data.mes;
          this.cards[2]["text"] = res.data.dia;

          this.cards[0]["promedio"] = res.data.promedio_trimestre;
          this.cards[1]["promedio"] = res.data.promedio_mes;
          this.cards[2]["promedio"] = res.data.promedio_dia;
        })
        .catch((error) => {
          console.error(error);
        });
    },

    guardarCompromiso() {
      if (this.$refs.formAuditor.validate()) {
        // this.interval = true;
        this.loaderComponent = true;
        axios
          .put("compromiso", {
            id: this.asesorId,
            compromiso: this.compromiso,
            compromiso_calidad: this.compromiso_calidad,
          })
          .then((res) => {
            this.aceptado = res.data;
            this.dialog = false;
            this.compromiso = "";
            this.compromiso_calidad = "";
            this.auditor = [
              { auditor: "", supervisor: "", compromiso_calidad: "" },
            ];
            this.traerAuditorias();
            this.diaload = false;
            // this.interval = false;
            // setTimeout(() => {
            //   this.loaderComponent = false;
            //   this.textTitleLoader = "Un momento por favor";
            // }, 2000);
            
          })
          .catch((error) => {
            console.error(error);
          });
      }
    },
  },
  mounted() {
    this.traerAuditorias();
    this.auditoriasAsesor();
  },
};
</script>
<style >
.v-progress-circular {
  margin: 1rem;
}
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none !important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
.headtable:first-child {
  border-radius: 10px 0 0 0;
}
.headtable:last-child {
  border-radius: 0 10px 0 0;
}
.v-expansion-panel-content .v-expansion-panel-content__wrap {
  padding: 0 16px 0px !important;
}
.v-expansion-panel:not(:first-child):after {
  border-top: none !important;
}
.v-application--is-ltr .v-expansion-panel-header__icon {
  margin-left: auto !important;
  position: absolute !important;
  left: 1px !important;
  top: 16px !important;
}
</style>
  
