<template>
  <v-content>
   
    <!-- Provides the application the proper gutter -->
    <v-container>
      <!-- <v-toolbar height="30" flat color="white">
        <v-toolbar-title class="font-weight-bold headline">
          <router-link
            style="text-decoration: none;"
            to="/supervisor"
            class="grey--text text--darken-1"
            black
          >
            <span class="body-2 font-weight-bold">
              <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
            </span>
          </router-link>
        </v-toolbar-title>
      </v-toolbar> -->
      <v-toolbar flat color="white">
        <v-toolbar-title
          class="font-weight-bold headline"
        >¡Bienvenido al Módulo de Calidad Retroalimentación!</v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title
          class="subtitle-1"
        >Aquí podrás visualizar la retroalimentación de los grupos de supervisores.</v-toolbar-title>
      </v-toolbar>
      <!-- <v-toolbar flat color="white">
        <v-radio-group v-model="tipoMatriz" row>
          <v-radio color="accent" label="Valor" value="valor"></v-radio>
          <v-radio color="accent" label="Cumplimiento" value="cumplimiento"></v-radio>
          <v-radio color="accent" label="Des-habilitar Matriz" value="deshabilitar"></v-radio>
        </v-radio-group>
      </v-toolbar>-->

      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md10>
          <v-card class="elevation-3 mt-9">
            <v-card-text class="pt-6 pr-9 pl-9 pb-6">
              <v-form ref="formBuscarCal">
                <v-row class="pt-6 pr-9 pl-9 pb-6">
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Nombre del grupo</span>
                    <v-text-field
                      v-model="formBuscar.nombreGrupo"
                      placeholder="Buscar"
                      dense
                      solo
                      outlined
                      flat
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Fecha inicial</span>
                    <v-menu
                      v-model="menuDate1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :rules="[rules_form.requerido]"
                          v-on="on"
                          v-model="formBuscar.fechaInicial"
                          readonly
                          placeholder="Selecciona..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                      </template>
                      <v-date-picker
                      locale="es-ES"
                        :max="formBuscar.fechaFinal"
                        v-model="formBuscar.fechaInicial"
                        @input="menuDate1 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Fecha final</span>
                    <v-menu
                      v-model="menuDate2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-on="on"
                          :rules="[rules_form.requerido]"
                          v-model="formBuscar.fechaFinal"
                          readonly
                          placeholder="Selecciona..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                      </template>
                      <v-date-picker
                      locale="es-ES"
                        :min="formBuscar.fechaInicial"
                        v-model="formBuscar.fechaFinal"
                        @input="menuDate2 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">&nbsp;</span>
                    <v-btn
                      :disabled="loadingFormBuscar"
                      :loading="loadingFormBuscar"
                      @click="getGrupos"
                      block
                      color="secondary"
                      class="text-capitalize font-weight-bold"
                    >
                      Buscar
                      <v-icon right>mdi-magnify</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout v-if="dataFormularios" align-center justify-center class="mt-9">
        <v-flex xs12 sm12 md12 class="pa-4">
          <v-data-table
            :footer-props="{'no-results-text': 'No se han encontrado registros',
            'loading-text': 'Cargando registros items...', 
            'page-text': '{0}-{1} de {2}',
            'items-per-page-text': 'Registros por página:',
            'items-per-page-all-text': 'Todos los registros'}"
            :page.sync="page"
            :options.sync="options"
            :items-per-page="itemsPerPage"
            :server-items-length="totalData"
            dense
            hide-default-header
            :headers="headers"
            :items="dataFormularios"
            :loading="loadingtable"
            class="elevation-0"
            @page-count="pageCount = $event"
          >
            >
            <template v-slot:header="{ props: { headers } }">
              <thead class="v-data-table-header">
                <tr>
                  <th
                    class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                    v-for="(item, index) in headers"
                    :key="index"
                  >{{item.text}}</th>
                </tr>
              </thead>
            </template>
            <template v-slot:item.ver="{ item }">
              <v-btn
                @click="abrirModalGrupo(item)"
                class="font-weight-bold text-capitalize"
                small
                color="primary"
                text
              >
                Ver
                <v-icon small right>mdi-magnify</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog persistent v-model="dialogGrupo" max-width="950">
      <v-card>
        <v-card-title
          class="headline font-weight-bold pt-9 primary--text"
          style="display:block"
        >Retroalimentación</v-card-title>

        <v-card-text>
          <v-simple-table dense>
            <template v-slot:default>
              <thead class="v-data-table-header">
                <tr>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Nombre del asesor</th>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Retroalimentada</th>
                  <!-- <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Teléfono auditado</th>-->
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Fecha retroalimentación</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(asesor, index) in grupoSeleccionado" :key="index">
                  <td>{{asesor.detalle_asesor.nombre}}</td>
                  <td class="text-center">{{asesor.auditor_retroalimentacion_id || asesor.supervisor_retroalimentacion_id ? 'Si': 'No'}}</td>
                  <td>
                    <span
                      v-if="asesor.fecha_retroalimentacion_auditor"
                      class="font-weight-bold"
                    >F. AUD&nbsp;</span>
                    {{asesor.fecha_retroalimentacion_auditor}}
                    <span
                      v-if="asesor.fecha_retroalimentacion_supervisor"
                      class="font-weight-bold"
                    >&nbsp;F. SUP&nbsp;</span>

                    {{asesor.fecha_retroalimentacion_supervisor}}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>

        <v-card-text v-if="grupoSeleccionado" class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogGrupo = false"
          >Cerrar</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-overlay fixed z-index="999" opacity="1" color="white" :value="loaderComponent">
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block;"
          class="display-2 primary--text text-center font-weight-bold"
        >{{textTitleLoader}}</v-card-title>
        <v-card-subtitle class="headline black--text text-center">{{textSubTitleLoader}}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-content>
</template>
<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  data() {
    return {
      loaderComponent: false,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      loadingFormBuscar: false,
      grupoSeleccionado: null,
      formBuscar: {
        nombreGrupo: null,
        fechaInicial: new Date().toJSON().slice(0, 10),
        fechaFinal: new Date().toJSON().slice(0, 10),
        search: false
      },
      formAuditor: {
        retroalimentacion: null
      },
      menuDate1: false,
      fechaInicial: null,
      menuDate2: false,
      fechaFinal: null,

      page: 1,
      options: {},
      itemsPerPage: 10,
      totalData: 1, //0
      headers: [
        {
          text: "Nombre Grupo",
          align: "center",
          sortable: false,
          value: "nombre"
        },
        {
          text: "Cantidad de Asesores",
          align: "center",
          sortable: false,
          value: "total_asesores"
        },
        {
          text: "Aud. Retroalimentadas",
          align: "center",
          sortable: false,
          value: "total_conretroalimentacion"
        },
        {
          text: "Aud. No Retroalimentadas",
          align: "center",
          sortable: false,
          value: "total_sinretroalimentacion"
        },
        {
          text: "Visualizar",
          align: "center",
          sortable: false,
          value: "ver"
        }
      ],
      dataFormularios: [
        // {
        //   id: 1,
        //   matriz: "Prueba de matriz",
        //   fecha: "2020-04-22 13:20:00",
        //   cedula: "1030649098",
        //   nombre: "Yecid Tovar",
        //   auditado: "Tambien Yecid",
        //   telefono: "3214140263"
        // }
      ],
      loadingtable: false,
      pageCount: 1, //0
      dialogGrupo: false
    };
  },
  watch: {
    'formBuscar.fechaInicial'(){
this.dataFormularios = [];
this.grupoSeleccionado = null;
    },
    'formBuscar.fechaFinal'(){
this.dataFormularios = [];
this.grupoSeleccionado = null;
    },
    dialogGrupo() {
      if (!this.dialogGrupo) {
        this.grupoSeleccionado = null;
      }
    }
  },
  computed: {},
  created() {
    this.getGrupos(false);
  },
  methods: {
    abrirModalGrupo(grupo) {
      // this.grupoSeleccionado = JSON.parse(JSON.stringify(grupo));
      this.loaderComponent = true;
      axios
        .post("/detalleGruposCalidad", {
          id_grupo: grupo.id,
          matriz_id: grupo.matriz_id,
          fecha_inicial: this.formBuscar.fechaInicial,
          fecha_final: this.formBuscar.fechaFinal,
        })
        .then(res => {
          console.log(res);
          this.grupoSeleccionado = res.data;
          this.dialogGrupo = true;
          this.loaderComponent = false;
        })
        .catch(err => {
          console.error(err);
        });
    },
    getGrupos(control) {
      if (control) {
        this.formBuscar.search = true;
        
      this.$refs.formBuscarCal.validate();
      }
      this.loaderComponent = true;
      this.loadingFormBuscar = true;
      this.dataFormularios = [];
      this.grupoSeleccionado = null;

        axios
          .post("/buscarGruposCalidad", {
            formData: this.formBuscar
          })
          .then(res => {
            console.log(res);
            if (res.data) {
              this.dataFormularios = res.data;
              this.formBuscar.search = false;
            }
            this.loadingFormBuscar = false;

            this.loaderComponent = false;
          })
          .catch(err => {
            console.error(err);
            this.loadingFormBuscar = false;
            this.loaderComponent = false;
          });
      
    }
  }
};
</script>

<style>
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none!important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
.headtable:first-child {
  border-radius: 10px 0 0 0;
}
.headtable:last-child {
  border-radius: 0 10px 0 0;
}
</style>