<template>
  <v-content>
    <!-- Provides the application the proper gutter -->

    <v-container>
      <v-toolbar flat color="white">
        <v-toolbar-title class="font-weight-bold headline"
          >¡Bienvenido al Módulo de Creación!</v-toolbar-title
        >
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title class="subtitle-1">
          Aquí podrás crear una nueva matriz de calidad (por campaña - CRM -
          Call
          <br />Center), solo debes diligenciar los siguientes campos
        </v-toolbar-title>
      </v-toolbar>

      <!-- <v-layout align-center justify-center>
        <v-flex xs12 sm12 md10>
         
        </v-flex>
      </v-layout>-->

      <v-layout class="mt-9">
        <v-flex md5>
          <v-text-field
            v-model="searchTable"
            placeholder="Búsqueda por nombre de matriz"
            dense
            solo
            outlined
            hide-details
            flat
            append-icon="mdi-magnify"
            @click:append="getMatriz"
          >
            <!-- <template v-slot:append-outer>
                <v-btn
                  @click="getMatriz"
                  style="top: -6px"
                  max-width="265"
                  width="265"
                  color="secondary"
                  class="ml-5 text-capitalize font-weight-bold"
                >
                  Buscar
                  <v-icon right>mdi-magnify</v-icon>
                </v-btn>
            </template>-->
          </v-text-field>
        </v-flex>
        <v-flex md3 offset-md4>
          <v-btn
            @click="dialogCrear = true"
            block
            color="secondary"
            class="text-capitalize font-weight-bold"
          >
            Crear matriz
            <v-icon right>mdi-plus-circle-outline</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12 class="mt-3">
          <v-toolbar-title class="subtitle-1 mb-0 mt-3"
            >Seleccione una de las siguientes campañas para
            iniciar:</v-toolbar-title
          >
          <v-data-iterator
            :loading="cargandoConsulta"
            :items="matricesItems"
            :items-per-page.sync="itemsPerPage"
            :page="page"
            hide-default-footer
          >
            <template v-slot:loading>
              <v-row>
                <v-col
                  v-for="item in itemsPerPage"
                  :key="item"
                  cols="12"
                  sm="6"
                  md="4"
                  lg="3"
                >
                  <v-skeleton-loader
                    height="120"
                    class="mx-auto"
                    type="image"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
            </template>
            <template v-slot:default="props">
              <v-row>
                <v-col
                  v-for="matriz in props.items"
                  :key="matriz.id"
                  cols="12"
                  sm="6"
                  md="4"
                  lg="3"
                >
                  <v-card
                    :style="
                      'border: 2px solid ' +
                      (matriz.activo ? '#D52B1E' : '#9e9e9e')
                    "
                    outlined
                    height="120"
                  >
                    <v-toolbar
                      height="86"
                      :color="matriz.activo ? 'primary' : 'grey lighten-1'"
                      dark
                      flat
                    >
                      <div style="width: 40px">
                        <svg
                          width="40"
                          height="40"
                          viewBox="0 0 40 40"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M31.4339 8.33327V11.6666H24.9397V8.33327H31.4339ZM15.1983 8.33327V18.3333H8.70402V8.33327H15.1983ZM31.4339 21.6666V31.6666H24.9397V21.6666H31.4339ZM15.1983 28.3333V31.6666H8.70402V28.3333H15.1983ZM34.681 4.99994H21.6925V14.9999H34.681V4.99994ZM18.4454 4.99994H5.45691V21.6666H18.4454V4.99994ZM34.681 18.3333H21.6925V34.9999H34.681V18.3333ZM18.4454 24.9999H5.45689V34.9999H18.4454V24.9999Z"
                            fill="white"
                          />
                        </svg>
                      </div>
                      <v-list-item tow-line style="width: 78%">
                        <v-list-item-content>
                          <v-tooltip color="grey darken-4" top>
                            <template v-slot:activator="{ on }">
                              <v-list-item-title
                                v-on="on"
                                class="title mb-1 font-weight-bold text-capitalize"
                                >{{ matriz.nombre }}</v-list-item-title
                              >
                            </template>
                            <span>{{ matriz.nombre }}</span>
                          </v-tooltip>

                          <v-list-item-subtitle>{{
                            matriz.tipo_matriz.nombre
                          }}</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <!-- <p
                        class="ml-3 font-weight-bold text-capitalize"
                        style="width: 100%"
                      >{{matriz.nombre}}</p>
                      <p
                        class="ml-3 font-weight-bold text-capitalize"
                        style="width: 100%"
                      >{{matriz.nombre}}</p>-->
                      <v-spacer></v-spacer>
                      <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            v-on="on"
                            @click="confirmarMatriz(matriz.id, matriz.activo)"
                            small
                            icon
                            style="top: -25px"
                          >
                            <v-icon small color="white">{{
                              matriz.activo ? "mdi-eye" : "mdi-eye-off"
                            }}</v-icon>
                          </v-btn>
                        </template>
                        <span>{{
                          matriz.activo
                            ? "¿Des-habilitar matriz?"
                            : "¿Habilitar matriz?"
                        }}</span>
                      </v-tooltip>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-actions class="pa-1">
                      <span class="caption font-weight-bold">{{
                        matriz.created_at
                      }}</span>
                      <v-spacer></v-spacer>
                      <router-link
                        :to="'/admin/matrizconfig/' + matriz.id"
                        class="text--black"
                        black
                      >
                        <span class="body-2 font-weight-bold">Ingresar</span>
                      </router-link>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </template>

            <template v-slot:footer>
              <v-row class="mt-2 pl-4 pr-4" align="center" justify="center">
                <span class="grey--text">Items por página</span>
                <v-menu offset-y>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      dark
                      text
                      color="primary"
                      class="ml-2 mr-2"
                      v-on="on"
                    >
                      {{ itemsPerPage }}
                      <v-icon>mdi-chevron-down</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(number, index) in itemsPerPageArray"
                      :key="index"
                      @click="updateItemsPerPage(number)"
                    >
                      <v-list-item-title>{{ number }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <span class="grey--text">
                  Registros totales
                  <strong>{{ totalItems }}</strong>
                </span>

                <v-spacer></v-spacer>

                <span class="mr-4 grey--text"
                  >Página {{ page }} de {{ numberOfPages }}</span
                >
                <v-btn
                  small
                  fab
                  dark
                  color="secondary"
                  class="mr-1"
                  @click="formerPage"
                >
                  <v-icon small>mdi-chevron-left</v-icon>
                </v-btn>
                <v-btn
                  small
                  fab
                  dark
                  color="secondary"
                  class="ml-1"
                  @click="nextPage"
                >
                  <v-icon small>mdi-chevron-right</v-icon>
                </v-btn>
              </v-row>
            </template>
          </v-data-iterator>
        </v-flex>
      </v-layout>
    </v-container>
    <v-snackbar color="primary" top right v-model="snackbarValidaciones">
      <v-alert
        prominent
        class="ma-0"
        color="primary"
        dark
        icon="mdi-alert-octagon"
      >
        <ul>
          <li
            v-for="(error, index) in erroresRetornados"
            :key="index"
            class="font-weight-bold caption"
          >
            {{ error }}
          </li>
        </ul>
      </v-alert>
    </v-snackbar>
    <v-dialog persistent v-model="dialogRespuesta" max-width="618">
      <v-card>
        <v-card-text
          class="text-center ma-0 pa-0 pt-5"
          style="overflow: hidden; height: 98px"
        >
          <img
            width="150"
            style="top: -20px; position: relative"
            src="/img/wrapper-img.gif"
            alt
            srcset
          />
        </v-card-text>
        <v-card-title
          class="headline text-center font-weight-bold pt-0"
          style="display: block"
          >Registro exitoso</v-card-title
        >
        <v-card-text class="text-center"
          >La matriz de calidad se ha guardado correctamente.</v-card-text
        >

        <v-card-text class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="dialogRespuesta = false"
            >Entendido</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogConfirmar" max-width="618" persistent>
      <v-card>
        <v-card-title
          class="headline text-center font-weight-bold pt-9"
          style="display: block"
          >¡Está seguro!</v-card-title
        >

        <v-card-text class="text-center"
          >¿Desea {{ deleteMatrizEstado ? "des-habilitar" : "habilitar" }} la
          matriz de calidad?</v-card-text
        >

        <v-card-text class="text-center pb-9">
          <v-btn
            :disabled="loadingConfirmar"
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogConfirmar = false"
            >Cancelar</v-btn
          >

          <v-btn
            :disabled="loadingConfirmar"
            :loading="loadingConfirmar"
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="eliminarMatriz"
            >Aceptar</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog scrollable v-model="dialogCrear" max-width="950" persistent>
      <v-card class="pl-9 pr-9">
        <v-card-title
          class="headline text-center font-weight-bold pt-9 pl-8 pr-8"
          >Creación de matriz</v-card-title
        >
        <v-card-text class="pt-6 pr-9 pl-9 pb-6">
          <v-form ref="formMatriz">
            <v-row>
              <v-col cols="12" xs="12" sm="8" md="8" lg="8">
                <span class="font-weight-bold">Nombre</span>
                <v-text-field
                  :rules="[
                    rules_form.requerido,
                    rules_form.maximo150caracteres,
                  ]"
                  v-model="formMatriz.nombre"
                  dense
                  solo
                  outlined
                  flat
                ></v-text-field>
              </v-col>
              <v-col cols="6" xs="12" sm="4" md="4" lg="4">
                <span class="font-weight-bold">Tipo de matriz</span>
                <v-select
                  :rules="[rules_form.requerido]"
                  v-model="formMatriz.tipo_matriz_id"
                  :items="tipoMatrizItems"
                  item-value="id"
                  item-text="nombre"
                  dense
                  solo
                  outlined
                  flat
                ></v-select>
              </v-col>
              <v-col
                v-if="formMatriz.tipo_matriz_id == 2"
                cols="6"
                xs="12"
                sm="4"
                md="4"
                lg="4"
              >
                <span class="font-weight-bold">Rango del peso</span>
                <v-select
                  :rules="[rules_form.requerido]"
                  v-model="formMatriz.rango_id"
                  :items="rangoPesoMatrizItems"
                  item-value="id"
                  item-text="nombre"
                  dense
                  solo
                  outlined
                  flat
                ></v-select>
              </v-col>
              <v-col
                v-if="formMatriz.tipo_matriz_id == 2"
                cols="6"
                xs="12"
                sm="4"
                md="4"
                lg="4"
              >
                <span class="font-weight-bold"
                  >¿Peso en módulo o en items?</span
                >
                <v-select
                  :rules="[rules_form.requerido]"
                  v-model="formMatriz.tipo_peso_id"
                  :items="pesoMatrizItems"
                  item-value="id"
                  item-text="nombre"
                  dense
                  solo
                  outlined
                  flat
                ></v-select>
              </v-col>
              <v-col cols="6" xs="12" sm="6" md="6" lg="6">
                <span class="font-weight-bold">Campaña asociada</span>
                <v-select
                  v-model="formMatriz.campania_asociada"
                  :items="asociadaMatrizItems"
                  item-value="id"
                  item-text="nombre"
                  dense
                  solo
                  outlined
                  flat
                ></v-select>
              </v-col>
              <v-col
                v-if="formMatriz.campania_asociada"
                cols="6"
                xs="12"
                sm="6"
                md="6"
                lg="6"
              >
                <span class="font-weight-bold">Seleccionar CRM</span>
                <v-autocomplete
                  :loading="loadingItemsCampaigns"
                  :rules="[rules_form.requerido]"
                  v-model="campaignSeleccion"
                  :items="campaignsItems"
                  item-text="name"
                  return-object
                  dense
                  solo
                  outlined
                  flat
                >
                  <template v-slot:item="data">
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-item-content
                        v-text="data.item"
                      ></v-list-item-content>
                    </template>
                    <template v-else>
                      <v-list-item-content>
                        <v-list-item-title
                          v-html="data.item.name"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-html="data.item.grupo"
                        ></v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-col cols="6" xs="12" sm="6" md="6" lg="6">
                <span class="font-weight-bold">Aplicar voz cliente</span>
                <v-select
                  v-model="formMatriz.aplicar_encuesta"
                  :items="encuestaMatrizItems"
                  item-value="id"
                  item-text="nombre"
                  dense
                  solo
                  outlined
                  flat
                ></v-select>
              </v-col>
              <v-col
                v-if="formMatriz.aplicar_encuesta"
                cols="6"
                xs="12"
                sm="6"
                md="6"
                lg="6"
              >
                <span class="font-weight-bold">Seleccionar voz cliente</span>
                <v-autocomplete
                  :rules="[rules_form.requerido]"
                  v-model="formMatriz.encuesta_id"
                  :items="formulariosItems.data_registros"
                  item-value="id"
                  item-text="nombre"
                  dense
                  solo
                  outlined
                  flat
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-text class="text-center pb-9">
          <v-btn
            :disabled="loadingConfirmar"
            depressed
            min-width="265"
            max-width="265"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="resetFormulario"
            >Cancelar</v-btn
          >

          <v-btn
            :loading="disabledBtnGuardar"
            :disabled="disabledBtnGuardar"
            @click="nuevaMatriz"
            color="secondary"
            max-width="265"
            width="265"
            class="text-capitalize font-weight-bold"
            >Añadir Matriz</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-content>
</template>

<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  data() {
    return {
      cargandoConsulta: false,
      loadingConfirmar: false,
      dialogRespuesta: false,
      dialogCrear: false,
      disabledBtnGuardar: false,
      snackbarValidaciones: false,
      erroresRetornados: [],
      formMatriz: {
        nombre: null,
        tipo_matriz_id: null,
        rango_id: null,
        grupo: "Master",
        tipo_peso_id: null,
        campania_asociada: false,
        aplicar_encuesta: false,
        crm_id: null,
        encuesta_id: null,
      },
      itemsPerPageArray: [4, 8, 12],
      searchTable: "",
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 12,
      sortBy: "name",
      tipoMatriz: null,
      tipoMatrizItems: [],
      rangoPesoMatrizItems: [],
      campaniaAppMasterItems: [],
      loadingItemsCampaigns: true,
      campaniaMiosItems: [],
      campaignsItems: [],
      formulariosItems: [],
      pesoMatriz: null,
      pesoMatrizItems: [],
      asociadaMatriz: null,
      asociadaMatrizItems: [
        {
          id: true,
          nombre: "Si",
        },
        {
          id: false,
          nombre: "No",
        },
      ],
      encuestaMatrizItems: [
        {
          id: true,
          nombre: "Si",
        },
        {
          id: false,
          nombre: "No",
        },
      ],
      keys: [
        "Name",
        "Calories",
        "Fat",
        "Carbs",
        "Protein",
        "Sodium",
        "Calcium",
        "Iron",
      ],
      matricesItems: [],
      totalItems: 0,
      numberOfPages: 0,
      deleteMatrizId: 0,
      deleteMatrizEstado: 0,
      dialogConfirmar: false,

      campaignSeleccion: null,
    };
  },
  computed: {},
  mounted() {
    this.getMatriz();
    this.getTiposMatriz();
  },
  watch: {
    campaignSeleccion() {
      if (this.campaignSeleccion) {
        this.formMatriz.crm_id = this.campaignSeleccion.id;
        this.formMatriz.grupo = this.campaignSeleccion.grupo;
      }
    },
    "formMatriz.aplicar_encuesta"() {
      this.formulariosItems = [];
      this.formMatriz.encuesta_id = null;
      if (this.formMatriz.aplicar_encuesta) {
        this.getVozCliente();
      }
    },
    "formMatriz.campania_asociada"() {
      this.campaniaAppMasterItems = [];
      this.campaniaMiosItems = [];
      this.formMatriz.crm_id = null;
      if (this.formMatriz.campania_asociada) {
        this.campaignSeleccion = null;
        this.getCampanias();
      }
    },
    "formMatriz.tipo_matriz_id"() {
      this.formMatriz.tipo_peso_id = null;
      this.formMatriz.rango_id = null;

      if (this.formMatriz.tipo_matriz_id == 2) {
        this.getRangoPesoMatriz();
        this.getTipoPesoMatriz();
      } else if (this.formMatriz.tipo_matriz_id == 1) {
        this.formMatriz.tipo_peso_id = 4;
        this.formMatriz.rango_id = 6;
      }
    },
    page() {
      this.getMatriz();
    },
    itemsPerPage() {
      this.getMatriz();
    },
  },
  methods: {
    resetFormulario() {
      this.formMatriz.nombre = null;
      this.formMatriz.tipo_matriz_id = null;
      this.formMatriz.rango_id = null;
      this.formMatriz.tipo_peso_id = null;
      this.formMatriz.campania_asociada = false;
      this.formMatriz.aplicar_encuesta = false;
      this.formMatriz.crm_id = null;
      this.formMatriz.encuesta_id = null;

      this.$refs.formMatriz.resetValidation();
      this.dialogCrear = false;
    },
    confirmarMatriz(idMatriz, estado) {
      this.dialogConfirmar = true;
      this.deleteMatrizId = idMatriz;
      this.deleteMatrizEstado = estado;
    },
    eliminarMatriz() {
      this.loadingConfirmar = true;
      axios
        .delete("/crudMatriz/" + this.deleteMatrizId)
        .then((res) => {
          console.log(res);
          this.getMatriz();
          this.loadingConfirmar = false;

          this.dialogConfirmar = false;
          this.deleteMatrizId = 0;
        })
        .catch((err) => {
          this.loadingConfirmar = false;

          this.dialogConfirmar = false;
          this.deleteMatrizId = 0;

          console.error(err);
        });
    },
    getVozCliente() {
      axios
        .get("/crudFormulario")
        .then((res) => {
          this.formulariosItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getTiposMatriz() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 1,
        })
        .then((res) => {
          this.tipoMatrizItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getRangoPesoMatriz() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 2,
        })
        .then((res) => {
          this.rangoPesoMatrizItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getCampanias() {
      this.loadingItemsCampaigns = true;
      axios
        .post("/listarCampaniaItems")
        .then((res) => {
          this.campaniaAppMasterItems = res.data.master;
          this.campaniaMiosItems = res.data.mios;

          this.campaignsItems = [{ header: "Master" }].concat(
            this.campaniaAppMasterItems,
            { divider: true },
            { header: "Mios" },
            this.campaniaMiosItems
          );
          this.loadingItemsCampaigns = false;
        })
        .catch((err) => {
          console.error(err);
          this.loadingItemsCampaigns = false;
        });
    },

    getTipoPesoMatriz() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 6,
        })
        .then((res) => {
          this.pesoMatrizItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getMatriz() {
      this.matricesItems = [];
      this.cargandoConsulta = true;
      axios
        .get(
          "/crudMatriz?search=" +
            this.searchTable +
            "&page=" +
            this.page +
            "&rowsPerPage=" +
            this.itemsPerPage
        )
        .then((res) => {
          this.matricesItems = res.data.data_registros;
          this.totalItems = res.data.total_registros;
          this.numberOfPages = Math.ceil(
            res.data.total_registros / this.itemsPerPage
          );
          this.cargandoConsulta = false;
        })
        .catch((err) => {
          console.error(err);
          this.cargandoConsulta = false;
        });
    },
    nuevaMatriz() {
      if (this.$refs.formMatriz.validate()) {
        this.disabledBtnGuardar = true;
        this.snackbarValidaciones = false;
        this.erroresRetornados = [];
        axios
          .post("/crudMatriz", {
            dataform: this.formMatriz,
          })
          .then((res) => {
            this.disabledBtnGuardar = false;
            console.log(res);
            if (res.data.respuesta.codigo == 202) {
              this.dialogRespuesta = true;
              this.resetFormulario();
              this.getMatriz();
            }
          })
          .catch((err) => {
            this.disabledBtnGuardar = false;
            var errores = err.response.data.errors;

            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach((element) => {
                  this.erroresRetornados.push(element);
                });
              }
            }
            this.snackbarValidaciones = true;
          });
      }
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    },
  },
};
</script>