<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar height="30" flat color="white">
        <v-toolbar-title class="font-weight-bold headline">
          <router-link
            style="text-decoration: none;"
            to="/admin"
            class="grey--text text--darken-1"
            black
          >
            <span class="body-2 font-weight-bold">
              <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
            </span>
          </router-link>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar v-if="infoMatriz" flat color="white">
        <v-toolbar-title style="width: 100%" class="font-weight-bold headline">
          <v-list-item class="pa-0" two-line>
            <v-list-item-content>
              <v-list-item-title
                class="headline mb-1 text-uppercase secondary--text font-weight-bold"
              >{{infoMatriz.nombre}}</v-list-item-title>
              <v-list-item-subtitle
                class="text-capitalize secondary--text font-weight-bold"
              >({{infoMatriz.tipo_matriz.nombre}})</v-list-item-subtitle>
          
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar v-if="infoMatriz" flat color="white">
        <v-toolbar-title style="width: 100%" class="font-weight-bold headline">
          <v-list-item class="pa-0" two-line>
            <v-list-item-content>
            
              <v-list-item-subtitle
                class="text-capitalize secondary--text font-weight-bold"
              >Rango de peso ({{infoMatriz.valor_peso_validacion.minimo}} - {{infoMatriz.valor_peso_validacion.maximo}}) </v-list-item-subtitle>
              <v-list-item-subtitle
                class="text-capitalize primary--text font-weight-bold"
              >Peso actual ({{infoMatriz.acumulado}})</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title class>
          <v-list-item class="pa-0" two-line>
            <v-list-item-content>
              <v-list-item-title
                class="headline mb-1 font-weight-bold"
              >¡Bienvenido al Módulo para Configurar la Matriz!</v-list-item-title>
              <v-list-item-subtitle>Aquí podrás crear, editar y/o des-habilitar los items de calidad</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
        <v-spacer></v-spacer>
       
        <v-btn
          outlined
          :href="'/admin/informes/'+$route.params.idmatriz"
          style="top: -6px"
          max-width="235"
          width="235"
          color="success"
          class="ml-5 text-capitalize font-weight-bold"
        >
          Reporte
          <v-icon right>mdi-file-download</v-icon>
        </v-btn>

         <v-btn
          outlined
          @click="abrirDialogAsignarAuditor"
          style="top: -6px"
          max-width="235"
          width="235"
          color="secondary"
          class="ml-5 text-capitalize font-weight-bold"
        >
          Asignar Auditor
          <v-icon right>mdi-account-plus</v-icon>
        </v-btn>
      </v-toolbar>

      <!-- <v-toolbar flat color="white">
        <v-radio-group v-model="tipoMatriz" row>
          <v-radio color="accent" label="Valor" value="valor"></v-radio>
          <v-radio color="accent" label="Cumplimiento" value="cumplimiento"></v-radio>
          <v-radio color="accent" label="Des-habilitar Matriz" value="deshabilitar"></v-radio>
        </v-radio-group>
      </v-toolbar>-->

      <v-layout v-if="infoMatriz" align-center justify-center>
        <v-flex xs12 sm12 md10>
          <v-card class="elevation-3 mt-9">
            <v-card-text class="pt-6 pr-9 pl-9 pb-6">
              <v-form ref="formnuevomodulo">
                <v-row class="pt-6 pr-9 pl-9 pb-6">
                  <v-col
                    v-if="infoMatriz.tipo_matriz_id==2 && infoMatriz.rango_total_id == 7"
                    cols="12"
                    xs="12"
                    sm="12"
                    md="12"
                    lg="12"
                  >
                    <span class="font-weight-bold">¿Módulo con valores premium?</span>
                    <v-switch
                      hide-details
                      v-model="moduloAddForm.premium"
                      :label="moduloAddForm.premium ? 'Si, el módulo contiene items con valor premium' : 'No, el módulo no contiene items con valor premium'"
                    ></v-switch>
                  </v-col>
                  <v-col
                    cols="12"
                    xs="12"
                    sm="12"
                    md="12"
                    lg="12"
                  >
                    <span class="font-weight-bold">¿Módulo crítico?</span>
                    <v-switch
                      hide-details
                      v-model="moduloAddForm.error_critico"
                      :label="moduloAddForm.error_critico ? 'Si, el módulo contiene items de tipo crítico' : 'No, módulo de configuración general'"
                    ></v-switch>
                  </v-col>
                  <v-col cols="12" xs="12" sm="12" md="12" lg="12">
                    <span class="font-weight-bold">Nombre</span>
                    <v-text-field
                      :rules="[rules_form.requerido, rules_form.maximo150caracteres]"
                      v-model="moduloAddForm.nombre"
                      placeholder="Nombre del módulo"
                      dense
                      solo
                      outlined
                      flat
                    >
                      <template v-slot:append-outer>
                        <v-text-field
                          :rules="[rules_form.requerido, rules_form.maximo5caracterestel, rules_form.numeros, v => v >= infoMatriz.valor_peso_validacion.minimo || 'El valor mínimo es de ' + infoMatriz.valor_peso_validacion.minimo]"
                          v-if="(infoMatriz.tipo_matriz_id ==1 || infoMatriz.tipo_peso_id == 4) && (infoMatriz.tipo_peso_id == 4 && !moduloAddForm.premium)"
                          style="top: -7px; width: 150px"
                          v-model="moduloAddForm.peso"
                          placeholder="Peso"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                        <div
                          :style="moduloAddForm.id ? 'top: -20px; position: relative;     display: grid;' : '    display: grid;'"
                        >
                          <v-btn
                            :loading="disabledBtnGuardar"
                            :disabled="disabledBtnGuardar"
                            @click="crearModulo"
                            style="top: -6px"
                            max-width="265"
                            width="265"
                            color="secondary"
                            class="ml-5 text-capitalize font-weight-bold"
                          >
                            {{moduloAddForm.id ? 'Editar Módulo' : 'Crear Módulo'}}
                            <v-icon
                              right
                            >{{moduloAddForm.id ? 'mdi-check' : 'mdi-plus-circle-outline'}}</v-icon>
                          </v-btn>
                          <v-btn
                            v-if="moduloAddForm.id"
                            outlined
                            :loading="disabledBtnGuardar"
                            :disabled="disabledBtnGuardar"
                            @click="limpiarFormModulo(false)"
                            style="top: -6px"
                            max-width="265"
                            width="265"
                            color="primary"
                            class="ml-5 text-capitalize font-weight-bold mt-1"
                          >Cancelar Edición</v-btn>
                        </div>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout v-if="infoMatriz" align-center justify-center class="mt-9">
        <v-flex xs12 sm12 md12 class="pa-4">
          <!-- INICIO MODULOS CREADOS -->

          <v-row v-if="loaderList">
            <v-col
              class="pt-0 pb-0"
              v-for="item in 1"
              :key="item"
              cols="12"
              sm="12"
              md="12"
              lg="12"
            >
              <v-skeleton-loader
                height="47"
                style="display: grid; background: #f5f5f5;
    border: 1px solid #ececec;"
                class="mx-auto pt-0 pb-0"
                type="date-picker-options"
              ></v-skeleton-loader>
            </v-col>
          </v-row>

          <v-expansion-panels v-model="panelIdOpen" v-else>
            <v-expansion-panel v-for="(modulo, keyModulo) in infoMatriz.modulos" :key="keyModulo">
              <!-- {{modulo}} -->
              <v-expansion-panel-header
                color="grey lighten-4"
                disable-icon-rotate
                style="max-height: 40px!important;
                min-height: 47px!important;"
                class="pt-0 pb-0 pr-5 pl-5"
              >
                <v-card-actions style="height:32px" class="pa-0">
                  <v-chip
                    class="mr-5 font-weight-bold"
                    value
                    dark
                    label
                    :color="modulo.activo ? 'primary' : 'grey lighten-1'"
                  >{{modulo.sigla}}</v-chip>
                  <span
                    :class="'font-weight-bold text-capitalize ' + (modulo.activo ? 'primary--text' : 'grey--text text--lighten-1')"
                  >{{modulo.nombre}}</span>
                </v-card-actions>
                <template v-slot:actions>
                  <span
                    v-if="(infoMatriz.tipo_matriz_id==1 || infoMatriz.tipo_peso_id == 4) && (infoMatriz.tipo_peso_id == 4 && !modulo.premium)"
                    :class="'mr-5 mt-2 font-weight-bold ' + (modulo.activo ? 'secondary--text' : 'grey--text text--lighten-1')"
                  >Peso ({{modulo.peso}})</span>
                  <v-btn
                    @click.native.stop="agregarItem(modulo.idConsecutivoModulo, true)"
                    depressed
                    :class="'mr-9 mt-1 font-weight-bold text-capitalize ' + (modulo.activo ? '' : 'white--text')"
                    small
                    :color="modulo.activo ? 'accent' : 'grey lighten-1'"
                  >Agregar item</v-btn>

                  <v-btn @click.native.stop="editarModulo(modulo)" icon class="mr-3">
                    <v-icon
                      @click.native.stop="editarModulo(modulo)"
                      color="grey darken-3"
                    >mdi-pencil</v-icon>
                  </v-btn>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-on="on"
                        icon
                        @click.native.stop="desactivarModulo(modulo.id, modulo.peso, (modulo.activo == true || modulo.activo == 1 ? 'desactivar' : 'activar'))"
                      >
                        <v-icon
                          color="grey darken-3"
                        >{{modulo.activo == true || modulo.activo == 1 ? 'mdi-eye' : 'mdi-eye-off'}}</v-icon>
                      </v-btn>
                    </template>
                    <span>{{modulo.activo ? '¿Des-habilitar módulo?' : '¿Habilitar módulo?'}}</span>
                  </v-tooltip>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content class="content-expansion">
                <!-- INICIO ITEMS DEL MODULO -->
                <v-expansion-panels v-model="panelIdItemOpen" accordion>
                  <v-expansion-panel
                    active-class="itemSeleccionado"
                    v-for="(item, index) in modulo.items_modulo"
                    :key="index"
                  >
                    <v-expansion-panel-header
                      class="pt-0 pb-0 pr-4 pl-2"
                      style="border-bottom: 1px solid #e0e0e0; max-height: 40px!important;
                      min-height: 47px!important;"
                      disable-icon-rotate
                    >
                      <v-card-actions>
                        <v-chip
                          class="ml-1 mr-5 font-weight-bold"
                          value
                          small
                          dark
                          label
                          :color="item.activo ? 'primary' : 'grey lighten-1'"
                        >{{item.sigla}}</v-chip>
                        <span
                          :class="'font-weight-bold text-capitalize ' + (item.activo ? 'primary--text' : 'grey--text text--lighten-1')"
                        >{{item.nombre}}</span>
                      </v-card-actions>
                      <template v-slot:actions>
                        <span
                          v-if="modulo.error_critico == false && (infoMatriz.tipo_matriz_id==2 && infoMatriz.tipo_peso_id == 3) ||  (infoMatriz.tipo_peso_id == 4 && modulo.premium)"
                          :class="'mr-5 mt-2 font-weight-bold ' + (item.activo ? 'secondary--text' : 'grey--text text--lighten-1')"
                        >Peso ({{item.peso}})</span>

                        <v-btn
                          @click.native.stop="agregarSubItem(modulo.idConsecutivoModulo, item.idConsecutivoModuloItem, item, true)"
                          depressed
                          :class="'mr-9 mt-1 font-weight-bold text-capitalize ' + (item.activo ? '' : 'white--text')"
                          small
                          :color="item.activo ? 'accent' : 'grey lighten-1'"
                        >Agregar sub-item</v-btn>

                        <v-btn @click.native.stop="editarModuloItem(item)" class="mr-3" icon>
                          <v-icon color="grey darken-3">mdi-pencil</v-icon>
                        </v-btn>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn
                              v-on="on"
                              @click.native.stop="desactivarModulo(item.id, item.peso, (item.activo == true || item.activo == 1 ? 'desactivar' : 'activar'))"
                              class="mr-1"
                              icon
                            >
                              <v-icon
                                color="grey darken-3"
                              >{{item.activo == true || item.activo == 1 ? 'mdi-eye' : 'mdi-eye-off'}}</v-icon>
                            </v-btn>
                          </template>
                          <span>{{item.activo ? '¿Des-habilitar item?' : '¿Habilitar item?'}}</span>
                        </v-tooltip>
                      </template>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-list class="pa-0" dense>
                        <v-list-item
                          style="border-bottom: 1px solid #e0e0e0"
                          v-for="(subitem, index) in item.subItems"
                          :key="index"
                        >
                          <v-list-item-content class="pa-0">
                            <div>
                              <v-chip
                                class="ml-9 mr-5 font-weight-bold"
                                value
                                small
                                dark
                                label
                                :color="subitem.activo ? 'warning' : 'grey lighten-1'"
                              >{{subitem.sigla}}</v-chip>
                              <span
                                :class="'font-weight-bold text-capitalize ' + (subitem.activo ? '' : 'grey--text text--lighten-1')"
                                class="font-weight-bold text-capitalize"
                              >{{subitem.nombre}}</span>
                            </div>
                          </v-list-item-content>
                          <v-list-item-action
                            style="display: block; margin-top: 2px; margin-bottom: 0;"
                          >
                            <v-btn
                              @click.native.stop="editarModuloItemSubItem(modulo.idConsecutivoModulo, panelIdItemOpen, subitem)"
                              class="mr-3"
                              icon
                            >
                              <v-icon color="grey darken-3">mdi-pencil</v-icon>
                            </v-btn>
                            <v-tooltip top>
                              <template v-slot:activator="{ on }">
                                <v-btn
                                  v-on="on"
                                  @click.native.stop="desactivarModulo(subitem.id)"
                                  class="mr-1"
                                  icon
                                >
                                  <v-icon
                                    color="grey darken-3"
                                  >{{subitem.activo == true || subitem.activo == 1 ? 'mdi-eye' : 'mdi-eye-off'}}</v-icon>
                                </v-btn>
                              </template>
                              <span>{{subitem.activo ? '¿Des-habilitar sub-item?' : '¿Habilitar sub-item?'}}</span>
                            </v-tooltip>
                          </v-list-item-action>
                        </v-list-item>
                      </v-list>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>

                <!-- FIN ITEMS DEL MODULO -->

                <!-- INICIO FORMULARIO -->
                <v-card-text v-if="mostrarFormNuevoSubItem">
                  <v-card-text class="pt-0 pr-9 pl-9 pb-0">
                    <v-form
                      :ref="'formnuevosubitem_'+modulo.idConsecutivoModulo+'_'+panelIdItemOpen"
                    >
                      <v-row class="pt-0 pr-9 pl-9 pb-0">
                        <v-col cols="12" xs="12" sm="12" md="12" lg="12">
                          <span
                            class="font-weight-bold"
                          >{{subItemAddForm.id ? 'Editar Sub-item' : 'Agregar nuevo Sub-item'}}</span>
                          <v-text-field
                            v-model="subItemAddForm.nombre"
                            placeholder="Nombre del sub-item"
                            dense
                            solo
                            outlined
                            flat
                            :rules="[rules_form.requerido, rules_form.maximo150caracteres]"
                          >
                            <template v-slot:append-outer>
                              <div
                                :style="subItemAddForm.id ? 'top: -20px; position: relative;     display: grid;' : '    display: grid;'"
                              >
                                <v-btn
                                  :loading="disabledBtnGuardar"
                                  :disabled="disabledBtnGuardar"
                                  @click="crearSubItem(modulo.idConsecutivoModulo, panelIdItemOpen)"
                                  style="top: -6px"
                                  max-width="265"
                                  width="265"
                                  color="secondary"
                                  class="ml-5 text-capitalize font-weight-bold"
                                >
                                  {{subItemAddForm.id ? 'Editar Item' : 'Agregar Nuevo'}}
                                  <v-icon
                                    right
                                  >{{subItemAddForm.id ? 'mdi-check' : 'mdi-plus-circle-outline'}}</v-icon>
                                </v-btn>
                                <v-btn
                                  v-if="subItemAddForm.id"
                                  outlined
                                  :loading="disabledBtnGuardar"
                                  :disabled="disabledBtnGuardar"
                                  @click="limpiarFormItemsSubItems(modulo.idConsecutivoModulo, panelIdItemOpen, false)"
                                  style="top: -6px"
                                  max-width="265"
                                  width="265"
                                  color="primary"
                                  class="ml-5 text-capitalize font-weight-bold mt-1"
                                >Cancelar Edición</v-btn>
                              </div>
                            </template>
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-card-text>
                </v-card-text>
                <v-card-text
                  v-else-if="mostrarFormNuevoItem && panelIdOpen == modulo.idConsecutivoModulo"
                >
                  <v-card-text class="pt-0 pr-9 pl-9 pb-0">
                    <v-form :ref="'formnuevoitem_'+modulo.idConsecutivoModulo">
                      <v-row class="pt-0 pr-9 pl-9 pb-0">
                        <v-col cols="12" xs="12" sm="12" md="12" lg="12">
                          <span
                            class="font-weight-bold"
                          >{{itemAddForm.id ? 'Editar item' : 'Agregar nuevo item'}}</span>
                          <v-text-field
                            v-model="itemAddForm.nombre"
                            placeholder="Nombre del item"
                            dense
                            solo
                            outlined
                            flat
                            :rules="[rules_form.requerido, rules_form.maximo150caracteres]"
                          >
                            <template v-slot:append-outer>
                              <v-text-field
                                v-if="modulo.error_critico == false && (infoMatriz.tipo_matriz_id==2 && infoMatriz.tipo_peso_id == 3) || (infoMatriz.tipo_peso_id == 4 && modulo.premium== true) "
                                style="top: -7px; width: 100px"
                                v-model="itemAddForm.peso"
                                placeholder="Peso"
                                dense
                                solo
                                outlined
                                flat
                                :rules="[rules_form.requerido, rules_form.maximo5caracterestel, rules_form.numeros, v => v >= infoMatriz.valor_peso_validacion.minimo || 'El valor mínimo es de ' + infoMatriz.valor_peso_validacion.minimo]"
                              ></v-text-field>
                              <div
                                :style="itemAddForm.id ? 'top: -20px; position: relative;     display: grid;' : '    display: grid;'"
                              >
                                <v-btn
                                  :loading="disabledBtnGuardar"
                                  :disabled="disabledBtnGuardar"
                                  @click="crearItem(modulo.idConsecutivoModulo, modulo.id, modulo)"
                                  style="top: -6px"
                                  max-width="265"
                                  width="265"
                                  color="secondary"
                                  class="ml-5 text-capitalize font-weight-bold"
                                >
                                  {{itemAddForm.id ? 'Editar Item' : 'Agregar Nuevo'}}
                                  <v-icon
                                    right
                                  >{{itemAddForm.id ? 'mdi-check' : 'mdi-plus-circle-outline'}}</v-icon>
                                </v-btn>
                                <v-btn
                                  v-if="itemAddForm.id"
                                  outlined
                                  :loading="disabledBtnGuardar"
                                  :disabled="disabledBtnGuardar"
                                  @click="limpiarFormItems(modulo.idConsecutivoModulo,false)"
                                  style="top: -6px"
                                  max-width="265"
                                  width="265"
                                  color="primary"
                                  class="ml-5 text-capitalize font-weight-bold mt-1"
                                >Cancelar Edición</v-btn>
                              </div>
                            </template>
                          </v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-card-text>
                </v-card-text>
                <!-- FIN FORMULARIO -->
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <!-- FIN MODULOS CREADOS -->
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog persistent v-model="dialogConfirmar" max-width="618">
      <v-card>
        <v-card-title
          class="headline text-center font-weight-bold pt-9"
          style="display:block"
        >¡Está seguro!</v-card-title>

        <v-card-text class="text-center">¿Deseas des-habilitar el módulo de la matriz de calidad?</v-card-text>

        <v-card-text class="text-center pb-9">
          <v-btn
            :disabled="btnDisabledConfirm"
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogConfirmar = false; idselectEliminar = null"
          >Cancelar</v-btn>

          <v-btn
            :disabled="btnDisabledConfirm"
            :loading="btnDisabledConfirm"
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="deleteItem"
          >Aceptar</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog persistent v-model="dialogAsignarAuditor" max-width="618">
      <v-card>
        <v-card-title
          class="headline text-center font-weight-bold pt-9 primary--text"
          style="display:block"
        >Asignar Auditores</v-card-title>

        <v-card-text>
          <span class="font-weight-bold">Auditores</span>
          <v-autocomplete
            dense
            solo
            outlined
            flat
            v-model="auditoresSeleccionados"
            :items="auditores"
            item-value="id_usuario"
            item-text="nombre"
            placeholder="Selecciona uno o más auditores"
            multiple
          >
            <v-list-item slot="prepend-item" ripple @click="seleccionar">
              <v-list-item-action>
                <v-icon :color="auditoresSeleccionados.length > 0 ? 'secondary' : ''">{{ icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-title>Seleccionar Todos</v-list-item-title>
            </v-list-item>
            <v-divider slot="prepend-item" class="mt-2"></v-divider>
            <template v-slot:selection="{ item, index }">
              <v-chip v-if="index === 0">
                <span>{{ item.nombre }}</span>
              </v-chip>
              <span
                v-if="index === 1"
                class="grey--text caption"
              >(+{{ auditoresSeleccionados.length - 1 }} otros)</span>
            </template>
          </v-autocomplete>
        </v-card-text>

        <v-card-text class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogAsignarAuditor = false"
          >Cancelar</v-btn>

          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="guardarAuditores"
          >Guardar</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-overlay fixed z-index="999" opacity="1" color="white" :value="loaderComponent">
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block;"
          class="display-2 primary--text text-center font-weight-bold"
        >{{textTitleLoader}}</v-card-title>
        <v-card-subtitle class="headline black--text text-center">{{textSubTitleLoader}}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
    <v-snackbar color="primary" top right v-model="snackbarValidaciones">
      <v-alert class="ma-0" color="primary" dark>
        <ul>
          <li
            v-for="(error, index) in erroresRetornados"
            :key="index"
            class="font-weight-bold caption"
          >{{error}}</li>
        </ul>
      </v-alert>
    </v-snackbar>
  </v-content>
</template>
<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  data() {
    return {
      btnDisabledConfirm: false,
      idselectEliminar: null,
      snackbarValidaciones: false,
      disabledBtnGuardar: false,
      erroresRetornados: [],
      loaderComponent: true,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",

      loaderList: false,
      infoMatriz: null,
      //tipoMatriz: 2, //cumplimiento/valor
      tipoModulo: false,
      tipoModuloPremium: false,
      //4 perso en modulo - 3 peso en items
      //tipoPeso: this.tipoMatriz == 1 ? 4 : 4,

      pesoEliminar: null,
      accionEliminar: null,

      dialogConfirmar: false,
      dialogAsignarAuditor: false,
      panelIdOpen: [],
      panelIdItemOpen: [],
      mostrarFormNuevoItem: false,
      mostrarFormNuevoSubItem: false,

      textModuloAdd: "",
      pesoModuloAdd: "0",
      textItemAdd: "",
      textSubItemAdd: "",
      pesoItemAdd: "0",
      modulos: [],
      moduloAddForm: {
        id: null,
        nombre: null,
        peso: null,
        premium: false,
        nivel: 1,
        activo: true,
        error_critico: false
      },
      itemAddForm: {
        id: null,
        nombre: null,
        peso: null,
        premium: false,
        padre_id: null,
        sigla: null,
        nivel: 2,
        activo: true,
        error_critico: false
      },
      subItemAddForm: {
        id: null,
        nombre: null,
        peso: null,
        premium: false,
        padre_id: null,
        sigla: null,
        nivel: 3,
        activo: true,
        error_critico: false
      },
      itemSeleccionadoAdd: null,
      auditores: [],
      auditoresSeleccionados: [],
      pesoAnterior: 0
    };
  },
  watch: {
    panelIdItemOpen() {
      if (this.panelIdItemOpen == undefined) {
        this.mostrarFormNuevoSubItem = false;
        this.mostrarFormNuevoItem = false;
        this.textItemAdd = "";
        this.textSubItemAdd = "";
      }
    },
    panelIdOpen() {
      this.panelIdItemOpen = null;
      this.mostrarFormNuevoItem = false;
      this.mostrarFormNuevoSubItem = false;
    }
  },
  computed: {
    idMatriz() {
      return this.$route.params.idmatriz;
    },
    likesAllAuditores() {
      return this.auditoresSeleccionados.length === this.auditores.length;
    },
    likesSomeAuditores() {
      return this.auditoresSeleccionados.length > 0 && !this.likesAllAuditores;
    },
    icon() {
      if (this.likesAllAuditores) return "mdi-close-box";
      if (this.likesSomeAuditores) return "mdi-minus-box";
      return "mdi-checkbox-blank-outline";
    }
  },
  mounted() {
    this.detalleMatriz("page");
    this.getAuditores();
  },
  methods: {
    /* MOSTRAR AUDITORES */
    getAuditores() {
      axios
        .get("/listarAuditoresItems")
        .then(res => {
          this.auditores = res.data;
          console.log(res);
        })
        .catch(err => {
          console.error(err);
        });
    },
    /* MOSTRAR AUDITORES */
    /* GUARDAR AUDITORES */
    guardarAuditores() {
      this.loaderComponent = true;
      axios
        .post("/guardarAuditores", {
          dataForm: this.auditoresSeleccionados,
          idMatriz: this.idMatriz
        })
        .then(res => {
          console.log(res);
          if (res.data.respuesta.codigo == 202) {
            this.textTitleLoader = res.data.respuesta.text;
            this.dialogAsignarAuditor = false;
          } else {
            this.textTitleLoader = "Error al almacenar la información";
          }
          setTimeout(() => {
            this.loaderComponent = false;
            this.textTitleLoader = "Un momento por favor";
          }, 2000);
        })
        .catch(err => {
          console.error(err);
        });
    },
    /* GUARDAR AUDITORES */

    /* EDICIONES */

    editarModulo(modulo) {
      this.moduloAddForm.id = modulo.id;
      this.moduloAddForm.nombre = modulo.nombre;
      this.moduloAddForm.peso = modulo.peso;
      this.pesoAnterior = modulo.peso;
      this.moduloAddForm.premium = modulo.premium == 1 ? true : false;
      this.moduloAddForm.nivel = 1;
      this.moduloAddForm.activo = modulo.activo == 1 ? true : false;
      this.moduloAddForm.error_critico =
        modulo.error_critico == 1 ? true : false;
    },

    editarModuloItem(item) {
      this.agregarItem(item.idConsecutivoModulo, false);
      this.pesoAnterior = item.peso;
      this.itemAddForm.id = item.id;
      this.itemAddForm.nombre = item.nombre;
      this.itemAddForm.peso = item.peso;
      this.itemAddForm.premium = item.premium == 1 ? true : false;
      this.itemAddForm.padre_id = item.padre_id;
      this.itemAddForm.sigla = item.sigla;
      this.itemAddForm.nivel = 2;
      this.itemAddForm.activo = item.activo == 1 ? true : false;
      this.itemAddForm.error_critico = item.error_critico == 1 ? true : false;
    },

    editarModuloItemSubItem(
      idConsecutivoModulo,
      idConsecutivoModuloItem,
      subitem
    ) {
      console.log(subitem);

      this.agregarSubItem(
        idConsecutivoModulo,
        idConsecutivoModuloItem,
        subitem,
        false
      );

      this.subItemAddForm.id = subitem.id;
      this.subItemAddForm.nombre = subitem.nombre;
      this.subItemAddForm.peso = subitem.peso;
      this.subItemAddForm.premium = subitem.premium == 1 ? true : false;
      this.subItemAddForm.padre_id = subitem.padre_id;
      this.subItemAddForm.sigla = subitem.sigla;
      this.subItemAddForm.nivel = 3;
      this.subItemAddForm.activo = subitem.activo == 1 ? true : false;
      this.subItemAddForm.error_critico =
        subitem.error_critico == 1 ? true : false;
      //   this.mostrarFormNuevoSubItem = true;
      //   this.panelIdItemOpen = idConsecutivoModuloItem;
      //   alert(idConsecutivoModuloItem);
    },

    /* EDICIONES */

    detalleMatriz(typeLoaderShow) {
      if (typeLoaderShow == "list") {
        this.loaderList = true;
      } else if (typeLoaderShow == "page") {
        this.loaderComponent = true;
      }
      axios
        .get("/crudMatriz/" + this.idMatriz)
        .then(res => {
          this.loaderList = false;
          this.loaderComponent = false;
          this.infoMatriz = res.data;

          if (this.infoMatriz) {
            if (this.infoMatriz.auditores) {
              this.auditoresSeleccionados = this.infoMatriz.auditores;
            }
          }
        })
        .catch(err => {
          this.loaderList = false;
          console.error(err);
        });
    },

    seleccionar() {
      this.$nextTick(() => {
        if (this.likesAllAuditores) {
          this.auditoresSeleccionados = [];
        } else {
          this.auditoresSeleccionados = this.auditores.slice();
        }
      });
    },
    abrirDialogAsignarAuditor() {
      this.dialogAsignarAuditor = true;
    },
    desactivarModulo(id, peso, accion) {
      this.dialogConfirmar = true;
      this.pesoEliminar = null;
      this.accionEliminar = null;
      if (peso && accion) {
        this.pesoEliminar = peso;
        this.accionEliminar = accion;
      }
  this.dialogConfirmar = true;
      this.idselectEliminar = id;
    },
    deleteItem() {
      this.btnDisabledConfirm = true;
      if(this.accionEliminar=="activar"){
        
          var total_parcial =
            parseFloat(this.pesoEliminar) +
            parseFloat(this.infoMatriz.acumulado);

       

          if (total_parcial > this.infoMatriz.valor_peso_validacion.maximo) {
            // this.disabledBtnGuardar = false;
            // this.textTitleLoader = "Error al almacenar la información";
            // this.loaderComponent = false;
            this.erroresRetornados = [
              "El valor del peso indicado, supera el peso máximo del rango indicado en la matriz"
            ];
            this.snackbarValidaciones = true;
            // this.textTitleLoader = "Un momento por favor";
             this.btnDisabledConfirm = false;
            return false;
          }
      }
      axios
        .delete("/crudModulo/" + this.idselectEliminar)
        .then(res => {
          console.log(res);
          this.detalleMatriz("list");
          this.btnDisabledConfirm = false;
          this.dialogConfirmar = false;
          this.idselectEliminar = null;
        })
        .catch(err => {
          console.error(err);
        });
    },
    crearSubItem(idModulo, idItem) {
      if (
        this.$refs["formnuevosubitem_" + idModulo + "_" + idItem][0].validate()
      ) {
        console.log(this.itemSeleccionadoAdd);
        //subItemAddForm

        this.subItemAddForm.padre_id = this.itemSeleccionadoAdd.id;
        this.subItemAddForm.sigla = this.itemSeleccionadoAdd.sigla;
        this.subItemAddForm.error_critico = this.itemSeleccionadoAdd.error_critico;
        this.subItemAddForm.premium = this.itemSeleccionadoAdd.premium;
        this.loaderComponent = true;
        this.erroresRetornados = [];
        this.snackbarValidaciones = false;

        var url = "/crudModuloItemsSubItems";
        if (this.subItemAddForm.id > 0 && this.subItemAddForm.id != null) {
          url = "/crudModuloItemsSubItemsUpdate";
        }

        axios
          .post(url, {
            dataform: this.subItemAddForm,
            idMatriz: this.idMatriz
          })
          .then(res => {
            console.log(res);

            this.disabledBtnGuardar = false;
            this.limpiarFormItemsSubItems(idModulo, idItem, true);
            if (res.data.respuesta.codigo == 202) {
              this.textTitleLoader = res.data.respuesta.text;
            } else {
              this.textTitleLoader = "Error al almacenar la información";
            }
            setTimeout(() => {
              this.loaderComponent = false;
              this.textTitleLoader = "Un momento por favor";
            }, 2000);
          })
          .catch(err => {
            this.loaderComponent = false;
            this.disabledBtnGuardar = false;
            var errores = err.response.data.errors;

            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach(element => {
                  this.erroresRetornados.push(element);
                });
              }
            }
            this.snackbarValidaciones = true;
          });
      }
    },
    crearItem(idConsecutivoModulo, idModulo, modulo) {
      if (this.$refs["formnuevoitem_" + idConsecutivoModulo][0].validate()) {
        console.log(this.itemAddForm);

        this.itemAddForm.padre_id = modulo.id;
        this.itemAddForm.sigla = modulo.sigla;
        this.itemAddForm.error_critico = modulo.error_critico;
        this.itemAddForm.premium = modulo.premium;
        this.loaderComponent = true;
        this.erroresRetornados = [];
        this.snackbarValidaciones = false;

        var url = "/crudModuloItems";
        if (this.itemAddForm.id > 0 && this.itemAddForm.id != null) {
          url = "/crudModuloItemsUpdate";
        }
        if (this.itemAddForm.hasOwnProperty("peso")) {
          var total_parcial =
            parseFloat(this.itemAddForm.peso) +
            parseFloat(this.infoMatriz.acumulado);

          if (url == "/crudModuloItemsUpdate") {
            total_parcial =
              parseFloat(total_parcial) - parseFloat(this.pesoAnterior);
          }

          // alert(total_parcial)

          // return false;

          if (total_parcial > this.infoMatriz.valor_peso_validacion.maximo) {
            this.disabledBtnGuardar = false;
            this.textTitleLoader = "Error al almacenar la información";
            this.loaderComponent = false;
            this.erroresRetornados = [
              "El valor del peso indicado, supera el peso máximo del rango indicado en la matriz"
            ];
            this.snackbarValidaciones = true;
            this.textTitleLoader = "Un momento por favor";
            return false;
          }
        }

        axios
          .post(url, {
            dataform: this.itemAddForm,
            idMatriz: this.idMatriz
          })
          .then(res => {
            console.log(res);

            this.disabledBtnGuardar = false;
            this.limpiarFormItems(idConsecutivoModulo, true);
            if (res.data.respuesta.codigo == 202) {
              this.textTitleLoader = res.data.respuesta.text;
            } else {
              this.textTitleLoader = "Error al almacenar la información";
            }
            setTimeout(() => {
              this.loaderComponent = false;
              this.textTitleLoader = "Un momento por favor";
            }, 2000);
          })
          .catch(err => {
            this.loaderComponent = false;
            this.disabledBtnGuardar = false;
            var errores = err.response.data.errors;

            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach(element => {
                  this.erroresRetornados.push(element);
                });
              }
            }
            this.snackbarValidaciones = true;
          });
      }
    },
    limpiarFormItemsSubItems(idModulo, idItem, control) {
      this.subItemAddForm.id = null;
      this.subItemAddForm.nombre = null;
      this.subItemAddForm.peso = null;
      this.subItemAddForm.premium = false;
      this.subItemAddForm.padre_id = null;
      this.subItemAddForm.sigla = null;
      this.subItemAddForm.nivel = 3;
      this.subItemAddForm.activo = true;
      this.subItemAddForm.error_critico = false;

      this.$refs[
        "formnuevosubitem_" + idModulo + "_" + idItem
      ][0].resetValidation();

      if (control) {
        this.detalleMatriz("list");
      }
    },
    limpiarFormItems(idConsecutivoModulo, control) {
      this.itemAddForm.id = null;
      this.itemAddForm.nombre = null;
      this.itemAddForm.peso = null;
      this.itemAddForm.premium = false;
      this.itemAddForm.padre_id = null;
      this.itemAddForm.sigla = null;
      this.itemAddForm.nivel = 2;
      this.itemAddForm.activo = true;
      this.itemAddForm.error_critico = false;

      this.$refs["formnuevoitem_" + idConsecutivoModulo][0].resetValidation();
      if (control) {
        this.detalleMatriz("list");
      }
      // else {
      //   this.mostrarFormNuevoItem = false;
      // }
    },
    limpiarFormModulo(control) {
      this.moduloAddForm.id = null;
      this.moduloAddForm.nombre = null;
      this.moduloAddForm.peso = null;
      this.moduloAddForm.premium = false;
      this.moduloAddForm.nivel = 1;
      this.moduloAddForm.activo = true;
      this.moduloAddForm.error_critico = false;
      this.$refs.formnuevomodulo.resetValidation();
      if (control) {
        this.detalleMatriz("list");
      }
    },
    agregarSubItem(
      idConsecutivoModulo,
      idConsecutivoModuloItem,
      item,
      restarForm
    ) {
      this.itemSeleccionadoAdd = item;
      this.panelIdItemOpen = idConsecutivoModuloItem;
      setTimeout(() => {
        this.mostrarFormNuevoSubItem = true;
        if (restarForm) {
          setTimeout(() => {
            this.limpiarFormItemsSubItems(
              idConsecutivoModulo,
              idConsecutivoModuloItem,
              false
            );
          }, 100);
        }
      }, 100);
    },
    agregarItem(idModulo, restarForm) {
      this.panelIdItemOpen = null;
      this.panelIdOpen = idModulo;
      setTimeout(() => {
        this.mostrarFormNuevoItem = true;
        if (restarForm) {
          setTimeout(() => {
            this.limpiarFormItems(idModulo, false);
          }, 100);
        }
        this.mostrarFormNuevoSubItem = false;
      }, 100);
    },
    crearModulo() {
      if (this.$refs.formnuevomodulo.validate()) {
        this.loaderComponent = true;

        this.erroresRetornados = [];
        this.snackbarValidaciones = false;

        if (this.moduloAddForm.hasOwnProperty("peso")) {
          var total_parcial =
            parseFloat(this.moduloAddForm.peso) +
            parseFloat(this.infoMatriz.acumulado);
          if (this.moduloAddForm.id > 0 && this.moduloAddForm.id != null) {
            total_parcial =
              parseFloat(total_parcial) - parseFloat(this.pesoAnterior);
          }
          // alert(total_parcial)
          if (total_parcial > this.infoMatriz.valor_peso_validacion.maximo) {
            this.disabledBtnGuardar = false;
            this.textTitleLoader = "Error al almacenar la información";
            this.loaderComponent = false;
            this.erroresRetornados = [
              "El valor del peso indicado, supera el peso máximo del rango indicado en la matriz"
            ];
            this.snackbarValidaciones = true;
            this.textTitleLoader = "Un momento por favor";
            return false;
          }
        }

        // return false;

        // return false;

        if (this.moduloAddForm.id > 0 && this.moduloAddForm.id != null) {
          //NUEVO MODULO
          axios
            .put("/crudModulo/" + this.moduloAddForm.id, {
              dataform: this.moduloAddForm,
              idMatriz: this.idMatriz
            })
            .then(res => {
              console.log(res);

              this.disabledBtnGuardar = false;
              this.limpiarFormModulo(true);
              if (res.data.respuesta.codigo == 202) {
                this.textTitleLoader = res.data.respuesta.text;
              } else {
                this.textTitleLoader = "Error al almacenar la información";
              }
              setTimeout(() => {
                this.loaderComponent = false;
                this.textTitleLoader = "Un momento por favor";
              }, 2000);
            })
            .catch(err => {
              this.loaderComponent = false;
              this.disabledBtnGuardar = false;
              var errores = err.response.data.errors;

              for (var key in errores) {
                if (errores.hasOwnProperty(key)) {
                  errores[key].forEach(element => {
                    this.erroresRetornados.push(element);
                  });
                }
              }
              this.snackbarValidaciones = true;
            });
        } else {
          //NUEVO MODULO
          axios
            .post("/crudModulo", {
              dataform: this.moduloAddForm,
              idMatriz: this.idMatriz
            })
            .then(res => {
              console.log(res);

              this.disabledBtnGuardar = false;
              this.limpiarFormModulo(true);
              if (res.data.respuesta.codigo == 202) {
                this.textTitleLoader = res.data.respuesta.text;
              } else {
                this.textTitleLoader = "Error al almacenar la información";
              }
              setTimeout(() => {
                this.loaderComponent = false;
                this.textTitleLoader = "Un momento por favor";
              }, 2000);
            })
            .catch(err => {
              this.loaderComponent = false;
              this.disabledBtnGuardar = false;
              var errores = err.response.data.errors;

              for (var key in errores) {
                if (errores.hasOwnProperty(key)) {
                  errores[key].forEach(element => {
                    this.erroresRetornados.push(element);
                  });
                }
              }
              this.snackbarValidaciones = true;
            });
        }
      }
    }
  }
};
</script>

<style>
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none!important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
</style>