<template>
  <v-col>
    <span class="font-weight-bold text-capitalize">
      {{ identificador + 1 }}. {{ elemento.pregunta.pregunta }}
    </span>

    <v-icon
      size="20"
      v-if="editarForm"
      right
      style="float: right; top: -1px"
      color="primary"
      @click="deletePregunta(identificador)"
      >mdi-trash-can</v-icon
    >
    <v-icon
      size="20"
      v-if="editarForm"
      class="handle"
      style="float: right; top: -1px"
      left
      color="secondary"
      >mdi-arrow-all</v-icon
    >
    <!-- Respuesta corta -->
    <v-text-field
      v-if="elemento.pregunta.tipo_pregunta_id == 1"
      dense
      solo
      outlined
      flat
    >
    </v-text-field>
    <!-- Respuesta corta -->
    <!-- Selección múltiple -->
    <v-radio-group v-else-if="elemento.pregunta.tipo_pregunta_id == 2" row>
      <v-radio
        class="text-capitalize col-3 ma-0"
        v-for="(itemRespuestas, indexOpcR) in elemento.pregunta
          .opciones_respuesta_form_pregunta_activos"
        :key="indexOpcR"
        :label="itemRespuestas.nombre"
        :value="itemRespuestas.id"
      ></v-radio>
    </v-radio-group>
    <!-- Selección múltiple -->
    <!-- Escala lineal -->
    <v-slider
      v-else-if="elemento.pregunta.tipo_pregunta_id == 3"
      thumb-label
      :min="minLine(elemento.pregunta.rango.regla)"
      :max="maxLine(elemento.pregunta.rango.regla)"
    ></v-slider>
    <!-- Escala lineal -->
    <!-- Fecha -->
    <v-menu
      v-else-if="elemento.pregunta.tipo_pregunta_id == 4"
      v-model="elemento.pregunta.dialog"
      :close-on-content-click="false"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="elemento.pregunta.respuesta_usuario"
          append-icon="mdi-calendar"
          readonly
          v-bind="attrs"
          v-on="on"
          dense
          solo
          outlined
          flat
        ></v-text-field>
      </template>
      <v-date-picker
        locale="es-co"
        v-model="elemento.pregunta.respuesta_usuario"
        @input="elemento.pregunta.dialog = false"
      ></v-date-picker>
    </v-menu>
    <!-- Fecha -->
    <!-- Hora -->
    <v-text-field
      v-else-if="elemento.pregunta.tipo_pregunta_id == 5"
      v-model="elemento.pregunta.respuesta_usuario"
      append-icon="mdi-clock-outline"
      dense
      type="time"
      solo
      outlined
      flat
    ></v-text-field>
    <!-- Hora -->
  </v-col>
</template>

<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  props: ["elemento", "identificador", "editarForm"],
  data() {
    return {};
  },
  methods: {
    deletePregunta(id){
      this.$emit('deletePre', id);
    },
    minLine(regla) {
      var separar = regla.split("to");

      return parseInt(separar[0]);
    },
    maxLine(regla) {
      var separar = regla.split("to");

      return parseInt(separar[1]);
    },
  },
};
</script>
