<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar-title class="font-weight-bold headline">
        <router-link
          style="text-decoration: none"
          to="/adm/voz-cliente"
          class="grey--text text--darken-1"
          black
        >
          <span class="body-2 font-weight-bold">
            <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
          </span>
        </router-link>
      </v-toolbar-title>

      <v-layout class="mt-9">
        <v-flex md6>
          <v-form ref="detallePreguntas">
            <label class="font-weight-bold">Nombre voz cliente</label>
            <v-text-field
              v-model="nombreform"
              :rules="[rules_form.requerido, rules_form.maximo150caracteres]"
              placeholder="Pregunta"
              dense
              solo
              outlined
              flat
            >
            </v-text-field>
          </v-form>
        </v-flex>
      </v-layout>

      <v-toolbar-title class="font-weight-bold headline mt-9 mb-8">
        Preguntas
      </v-toolbar-title>
      <v-divider></v-divider>
      <v-layout class="mt-3">
        <v-flex md5>
          <label class="font-weight-bold">Búsqueda por preguntas</label>
          <v-autocomplete
            v-model="autocompletePregunta"
            :items="preguntasCreadas"
            :loading="isLoading"
            :search-input.sync="searchPregunta"
            chips
            clearable
            hide-details
            hide-selected
            item-text="pregunta"
            item-value="id"
            solo
            dense
            outlined
            flat
            @change="addPregunta"
            return-object
          >
            <template v-slot:append>
              <v-icon>mdi-magnify</v-icon>
            </template>
            <template v-slot:no-data>
              <v-list-item>
                <v-list-item-title>
                  Busque por
                  <strong>pregunta</strong>
                </v-list-item-title>
              </v-list-item>
            </template>

            <template v-slot:item="{ item }">
              <v-list-item-content>
                <v-list-item-title
                  class="text-capitalize font-weight-bold"
                  v-text="item.pregunta"
                ></v-list-item-title>
                <!-- <v-list-item-subtitle
                  v-text="item.symbol"
                ></v-list-item-subtitle> -->
              </v-list-item-content>
              <!-- <v-list-item-action>
                <v-icon @click.stop="">mdi-plus-circle</v-icon>
              </v-list-item-action> -->
            </template>
          </v-autocomplete>
        </v-flex>
      </v-layout>
      <v-toolbar-title class="font-weight-bold headline pt-3 mt-9 mb-8">
        Preguntas agregadas
      </v-toolbar-title>
      <v-divider></v-divider>
      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12>
          <v-card class="elevation-0">
            <v-card-text class="">
              <v-simple-table dense class="elevation-1">
                <template v-slot:default>
                  <thead class="v-data-table-header">
                    <tr></tr>
                    <tr>
                      <th
                        class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                      >
                        Pregunta
                      </th>
                      <th
                        class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                      >
                        Tipo de pregunta
                      </th>
                      <th
                        class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                      >
                        Fecha de creación
                      </th>
                      <th
                        class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                      ></th>
                    </tr>
                  </thead>
                  <draggable
                    handle=".handle"
                    v-model="preguntasFormularioAdd"
                    tag="tbody"
                  >
                    <tr
                      v-for="(item, indexP) in preguntasFormularioAdd"
                      :key="indexP"
                    >
                      <td scope="row">{{ item.pregunta }}</td>
                      <td>{{ item.tipo_pregunta.nombre }}</td>
                      <td>{{ item.created_at }}</td>
                      <td>
                        <v-icon
                          left
                          @click="editarPreguntaDialog(item.id)"
                          small
                          >mdi-eye</v-icon
                        >
                        <v-icon
                          color="primary"
                          @click="deletePregunta(indexP)"
                          small
                          >mdi-trash-can</v-icon
                        >
                        <v-icon class="handle" right color="secondary" small
                          >mdi-arrow-all</v-icon
                        >
                      </td>
                    </tr>
                  </draggable>
                </template>
              </v-simple-table>
            </v-card-text>
            <v-card-title class="text-right pb-9" style="display: block">
              <v-btn
                :disabled="disabledBtnGuardar"
                depressed
                min-width="265"
                max-width="265"
                color="grey lighten-2"
                class="text-capitalize font-weight-bold mr-3"
                to="/adm/voz-cliente"
                >Cancelar</v-btn
              >

              <v-btn
                :loading="disabledBtnGuardar"
                :disabled="disabledBtnGuardar"
                @click="guardarFormulario"
                color="secondary"
                max-width="265"
                width="265"
                class="text-capitalize font-weight-bold"
                >Crear formulario</v-btn
              >
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog
      scrollable
      v-model="dialogEditarPreguntas"
      max-width="950"
      persistent
    >
      <v-card class="pl-9 pr-9">
        <v-card-title
          class="headline text-center font-weight-bold pt-9 pl-8 pr-8"
          >Detalle de pregunta
          <v-icon
            @click="dialogEditarPreguntas = false"
            style="margin-left: auto"
            >mdi-close</v-icon
          >
        </v-card-title>
        <v-card-text class="pt-6 pr-9 pl-9 pb-6">
          <v-row>
            <v-col cols="12" xs="12" sm="12" md="12" lg="12" class="pb-0">
              <span class="font-weight-bold">Tipo de pregunta</span>
              <v-select
                disabled
                :rules="[rules_form.requerido]"
                v-model="detallePregunta.tipo_pregunta_id"
                :items="itemsTipoPreguntas"
                item-value="id"
                item-text="nombre"
                dense
                solo
                outlined
                flat
              ></v-select>
            </v-col>
            <v-col cols="12" xs="12" sm="12" md="12" lg="12" class="pt-0 pb-0">
              <span class="font-weight-bold">Pregunta</span>
              <v-text-field
                disabled
                :rules="[rules_form.requerido, rules_form.maximo150caracteres]"
                v-model="detallePregunta.pregunta"
                dense
                solo
                outlined
                flat
              ></v-text-field>
            </v-col>
            <template v-if="detallePregunta.tipo_pregunta_id == 2">
              <v-col
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
                v-for="(
                  itemOpcionR, indexOpcionR
                ) in detallePregunta.opciones_respuesta_form_pregunta"
                :key="indexOpcionR"
              >
                <span class="font-weight-bold text-capitalize"
                  >Opción {{ convertToNumberingScheme(indexOpcionR + 1) }}</span
                >
                <v-text-field
                  disabled
                  :rules="[
                    rules_form.requerido,
                    rules_form.maximo150caracteres,
                  ]"
                  v-model="itemOpcionR.nombre"
                  dense
                  solo
                  outlined
                  flat
                >
                </v-text-field>
              </v-col>
            </template>

            <v-col
              v-if="detallePregunta.tipo_pregunta_id == 2"
              cols="12"
              xs="12"
              sm="12"
              md="12"
              lg="12"
              class="pt-0"
            >
              <span class="font-weight-bold">Otra ¿Cuál?</span>
              <v-checkbox
                disabled
                class="mt-0"
                v-model="detallePregunta.otra_respuesta"
                :label="
                  detallePregunta.otra_respuesta
                    ? 'Si, digitar otra respuesta'
                    : 'No agregar otra respuesta'
                "
                hide-details
              ></v-checkbox>
            </v-col>

            <v-col
              v-if="detallePregunta.tipo_pregunta_id == 3"
              cols="12"
              xs="12"
              sm="12"
              md="12"
              lg="12"
              class="pt-0 pb-0"
            >
              <span class="font-weight-bold">Rango</span>
              <v-radio-group
                disabled
                row
                v-model="detallePregunta.tipo_pregunta_item_id"
              >
                <v-radio
                  v-for="(item, index) in detallePregunta.tipo_pregunta
                    .items_tipo_pregunta"
                  :key="index"
                  :label="item.nombre"
                  color="primary"
                  :value="item.id"
                ></v-radio>
              </v-radio-group>
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="12" lg="12" class="pt-0 pb-0">
              <!-- <span class="font-weight-bold">Pregunta obligatoria</span> -->
              <v-checkbox
                disabled
                v-model="detallePregunta.requerida"
                :label="
                  detallePregunta.requerida
                    ? 'Si, respuesta obligatoria'
                    : 'No es obligatoria la respuesta'
                "
                hide-details
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-overlay
      fixed
      z-index="999"
      opacity="1"
      color="white"
      :value="loaderComponent"
    >
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block"
          class="display-2 primary--text text-center font-weight-bold"
          >{{ textTitleLoader }}</v-card-title
        >
        <v-card-subtitle class="headline black--text text-center">{{
          textSubTitleLoader
        }}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular
            color="primary"
            indeterminate
            size="64"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
    <v-snackbar color="primary" top right v-model="snackbarValidaciones">
      <v-alert
        prominent
        class="ma-0"
        color="primary"
        dark
        icon="mdi-alert-octagon"
      >
        <ul>
          <li
            v-for="(error, index) in erroresRetornados"
            :key="index"
            class="font-weight-bold caption"
          >
            {{ error }}
          </li>
        </ul>
      </v-alert>
    </v-snackbar>
  </v-content>
</template>
<script>
import draggable from "vuedraggable";

import reglasForm from "../../import/reglasForm";
export default {
  components: {
    draggable,
  },
  mixins: [reglasForm],
  data() {
    return {
      nombreform: null,
      snackbarValidaciones: false,
      erroresRetornados: [],
      disabledBtnGuardar: false,
      loaderComponent: false,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      itemsTipoPreguntas: [],
      dialogEditarPreguntas: false,
      enabled: true,
      preguntasFormularioAdd: [],
      dragging: false,
      isLoading: false,
      preguntasCreadas: [],
      autocompletePregunta: null,
      searchPregunta: null,
      detallePregunta: {
        tipo_pregunta_id: 0,
        tipo_pregunta_item_id: null,
        pregunta: null,
        requerida: true,
        otra_respuesta: false,
        opcionesRespuestaFormPregunta: [],
      },
    };
  },
  watch: {
    searchPregunta(val) {
      // Items have already been loaded
      if (this.preguntasCreadas.length > 0) return;

      this.isLoading = true;

      // Lazily load input items
      axios
        .get("/crudPreguntas")
        .then((res) => {
          this.preguntasCreadas = res.data.data_registros;
        })
        .catch((err) => {
          console.error(err);
          this.loaderComponent = false;
        })
        .finally(() => (this.isLoading = false));
    },
  },
  mounted() {
    this.getTiposPreguntas();
  },
  computed: {
    draggingInfo() {
      return this.dragging ? "under drag" : "";
    },
  },
  methods: {
    guardarFormulario() {
      if (this.$refs.detallePreguntas.validate()) {
        this.disabledBtnGuardar = true;
        this.snackbarValidaciones = false;
        this.loaderComponent = true;
        this.erroresRetornados = [];
        axios
          .post("/crudFormulario", {
            dataform: this.preguntasFormularioAdd,
            nombreform: this.nombreform,
          })
          .then((res) => {
            this.disabledBtnGuardar = false;
            console.log(res);
            if (res.data.respuesta.codigo == 202) {
              this.dialogRespuesta = true;
              this.textTitleLoader = "¡Bien hecho!";
              this.textSubTitleLoader = "Formulario creado exitosamente.";
              setTimeout(() => {
                this.loaderComponent = false;
                this.$router.push("/adm/voz-cliente");
              }, 2000);
            }
          })
          .catch((err) => {
            this.disabledBtnGuardar = false;
            var errores = err.response.data.errors;
            this.loaderComponent = false;
            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach((element) => {
                  this.erroresRetornados.push(element);
                });
              }
            }
            this.snackbarValidaciones = true;
          });
      }
    },
    convertToNumberingScheme(number) {
      var baseChar = "A".charCodeAt(0),
        letters = "";

      do {
        number -= 1;
        letters = String.fromCharCode(baseChar + (number % 26)) + letters;
        number = (number / 26) >> 0; // quick `floor`
      } while (number > 0);

      return letters;
    },
    getTiposPreguntas() {
      axios
        .post("/getTiposPreguntas")
        .then((res) => {
          this.itemsTipoPreguntas = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    editarPreguntaDialog(idPregunta) {
      this.loaderComponent = true;
      axios
        .get("/crudPreguntas/" + idPregunta)
        .then((res) => {
          this.detallePregunta = res.data;
          this.dialogEditarPreguntas = true;
          this.loaderComponent = false;
        })
        .catch((err) => {
          console.error(err);
          this.loaderComponent = false;
        });
      // dialogEditarPreguntas
    },
    addPregunta() {
      var pregunta = this.autocompletePregunta;
      const existePregunta = this.preguntasFormularioAdd.find(
        (pre) => pre.id == pregunta.id
      );

      if (!existePregunta) {
        this.preguntasFormularioAdd.push(pregunta);
      }
      this.limpiarValor();
    },
    deletePregunta(index) {
      this.preguntasFormularioAdd.splice(index, 1);
    },
    limpiarValor() {
      setTimeout(() => {
        this.autocompletePregunta = null;
      }, 1);
    },
  },
};
</script>

<style>
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none !important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}

.buttons {
  margin-top: 35px;
}
.sortable-ghost{
  border: 1px dashed #999;
  border-radius: 4px;
}
/* .ghost {
  opacity: 0.5;
  background: #c8ebfb;
} */
.handle {
  cursor: move;
}
</style>
