<template>
  <v-content>
    <!-- Provides the application the proper gutter -->

    <v-container>
      <v-toolbar-title class="pb-5 font-weight-bold headline"
        >¡Bienvenido al Módulo de Voz cliente!</v-toolbar-title
      >
      <v-toolbar-title class="subtitle-1" v-if="tabs_voz_cliente == 0">
        Aquí podrás crear o modificar los formularios según la matriz de calidad
        <br />
        deseada.
      </v-toolbar-title>
      <v-toolbar-title class="subtitle-1" v-if="tabs_voz_cliente == 1">
        Aquí podrás crear o modificar las encuestas según la nueva matriz de
        <br />
        calidad deseada.
      </v-toolbar-title>

      <!-- <v-layout align-center justify-center>
        <v-flex xs12 sm12 md10>
         
        </v-flex>
      </v-layout>-->

      <v-layout class="mt-9">
        <v-flex v-if="tabs_voz_cliente == 0" md5>
          <label class="font-weight-bold">Búsqueda por pregunta</label>
          <v-text-field
            v-model="searchTable"
            placeholder="Pregunta"
            dense
            solo
            outlined
            hide-details
            flat
            append-icon="mdi-magnify"
            @click:append="getPreguntas"
          >
          </v-text-field>
        </v-flex>
        <v-flex v-if="tabs_voz_cliente == 1" md5>
          <label class="font-weight-bold">Búsqueda por voz cliente</label>
          <v-text-field
            v-model="searchTable"
            placeholder="Nombre de voz cliente"
            dense
            solo
            outlined
            hide-details
            flat
            append-icon="mdi-magnify"
            @click:append="getFormularios"
          >
          </v-text-field>
        </v-flex>
        <v-flex md3 offset-md4>
          <v-btn
            v-if="tabs_voz_cliente == 0"
            @click="dialogCrearPreguntas = true"
            block
            color="secondary"
            class="text-capitalize font-weight-bold"
          >
            Crear pregunta
            <v-icon small right>mdi-plus-circle</v-icon>
          </v-btn>

          <v-btn
            v-if="tabs_voz_cliente == 1"
            to="/adm/voz-cliente/formulario"
            block
            color="secondary"
            class="text-capitalize font-weight-bold"
          >
            Crear Formulario
            <v-icon small right>mdi-plus-circle</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12 class="mt-3">
          <v-tabs class="pt-4" v-model="tabs_voz_cliente">
            <v-tabs-slider slider-size="3" color="black"></v-tabs-slider>

            <v-tab
              active-class="black--text"
              class="text-capitalize font-weight-bold"
            >
              Preguntas
            </v-tab>
            <v-tab
              active-class="black--text"
              class="text-capitalize font-weight-bold"
            >
              Voz cliente
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tabs_voz_cliente">
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <v-data-table
                    :footer-props="{
                      'no-results-text': 'No se han encontrado registros',
                      'loading-text': 'Cargando registros items...',
                      'page-text': '{0}-{1} de {2}',
                      'items-per-page-text': 'Registros por página:',
                      'items-per-page-all-text': 'Todos los registros',
                    }"
                    :page.sync="pagePreguntas"
                    :options.sync="options"
                    :items-per-page="options.itemsPerPage"
                    :server-items-length="totalDataPreguntas"
                    dense
                    hide-default-header
                    :headers="headersPreguntas"
                    :items="dataPreguntas"
                    :loading="loadingtable"
                    class="elevation-0"
                    @page-count="pageCountPreguntas = $event"
                  >
                    >
                    <template v-slot:header="{ props: { headers } }">
                      <thead class="v-data-table-header">
                        <tr>
                          <th
                            class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                            v-for="(item, index) in headers"
                            :key="index"
                          >
                            {{ item.text }}
                          </th>
                        </tr>
                      </thead>
                    </template>
                    <template v-slot:item.acciones="{ item }">
                      <v-icon left @click="editarPreguntaDialog(item.id)" small
                        >mdi-eye</v-icon
                      >

                      <v-icon
                        right
                        @click="eliminarPregunta(item.id, item.activo)"
                        small
                        color="primary"
                        >mdi-trash-can</v-icon
                      >
                    </template>
                  </v-data-table>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <v-data-table
                    :footer-props="{
                      'no-results-text': 'No se han encontrado registros',
                      'loading-text': 'Cargando registros items...',
                      'page-text': '{0}-{1} de {2}',
                      'items-per-page-text': 'Registros por página:',
                      'items-per-page-all-text': 'Todos los registros',
                    }"
                    :page.sync="pageFormularios"
                    :options.sync="optionsFormularios"
                    :items-per-page="optionsFormularios.itemsPerPage"
                    :server-items-length="totalDataFormularios"
                    dense
                    hide-default-header
                    :headers="headersFormularios"
                    :items="dataFormularios"
                    :loading="loadingtable"
                    class="elevation-0"
                    @page-count="pageCountFormularios = $event"
                  >
                    >
                    <template v-slot:header="{ props: { headers } }">
                      <thead class="v-data-table-header">
                        <tr>
                          <th
                            class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                            v-for="(item, index) in headers"
                            :key="index"
                          >
                            {{ item.text }}
                          </th>
                        </tr>
                      </thead>
                    </template>
                    <template v-slot:item.acciones="{ item }">
                      <v-icon left @click="verFormulario(item.id)" small
                        >mdi-eye</v-icon
                      >

                      <v-icon
                        right
                        @click="eliminarFormulario(item.id, item.activo)"
                        small
                        color="primary"
                        >mdi-trash-can</v-icon
                      >
                    </template>
                  </v-data-table>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
      </v-layout>
    </v-container>
    <v-snackbar color="primary" top right v-model="snackbarValidaciones">
      <v-alert
        prominent
        class="ma-0"
        color="primary"
        dark
        icon="mdi-alert-octagon"
      >
        <ul>
          <li
            v-for="(error, index) in erroresRetornados"
            :key="index"
            class="font-weight-bold caption"
          >
            {{ error }}
          </li>
        </ul>
      </v-alert>
    </v-snackbar>
    <v-dialog persistent v-model="dialogRespuesta" max-width="618">
      <v-card>
        <v-card-text
          class="text-center ma-0 pa-0 pt-5"
          style="overflow: hidden; height: 98px"
        >
          <img
            width="150"
            style="top: -20px; position: relative"
            src="/img/wrapper-img.gif"
            alt
            srcset
          />
        </v-card-text>
        <v-card-title
          class="headline text-center font-weight-bold pt-0"
          style="display: block"
          >Registro exitoso</v-card-title
        >
        <v-card-text class="text-center"
          >Los cambios se han aplicado correctamente.</v-card-text
        >

        <v-card-text class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="dialogRespuesta = false"
            >Entendido</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogConfirmar" max-width="618" persistent>
      <v-card>
        <v-card-title
          class="headline text-center font-weight-bold pt-9"
          style="display: block"
          >¡Está seguro!</v-card-title
        >

        <v-card-text v-if="!textoPreguntaEliminar" class="text-center"
          >¿Desea eliminar la pregunta?, esto sera definitivo 
          <br />
          y no se podrá des-hacer.</v-card-text
        >
        <v-card-text v-else class="text-center">{{
          textoPreguntaEliminar
        }}</v-card-text>

        <v-card-text class="text-center pb-9">
          <v-btn
            :disabled="loadingConfirmar"
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogConfirmar = false"
            >Cancelar</v-btn
          >

          <v-btn
            :disabled="textoPreguntaEliminar ? true : false"
            :loading="loadingConfirmar"
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="deletePregunta"
            >Aceptar</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogConfirmarFormulario" max-width="618" persistent>
      <v-card>
        <v-card-title
          class="headline text-center font-weight-bold pt-9"
          style="display: block"
          >¡Está seguro!</v-card-title
        >

        <v-card-text v-if="!textoFormularioEliminar" class="text-center"
          >¿Desea eliminar este formulario?, esto sera definitivo
          <br />  y no se podrá des-hacer.</v-card-text
        >
        <v-card-text v-else-if="textoFormularioEliminar" class="text-center"
          >{{textoFormularioEliminar}}</v-card-text
        >

        <v-card-text class="text-center pb-9">
          <v-btn
            :disabled="loadingConfirmar"
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogConfirmarFormulario = false"
            >Cancelar</v-btn
          >

          <v-btn
            :disabled="textoFormularioEliminar ? true : false"
            :loading="loadingConfirmar"
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="deleteFormulario"
            >Aceptar</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      scrollable
      v-model="dialogCrearPreguntas"
      max-width="950"
      persistent
    >
      <v-card class="pl-9 pr-9">
        <v-card-title
          class="headline text-center font-weight-bold pt-9 pl-8 pr-8"
          >Creación de pregunta</v-card-title
        >
        <v-card-text class="pt-6 pr-9 pl-9 pb-6">
          <v-form ref="formPreguntas">
            <v-row>
              <v-col cols="12" xs="12" sm="12" md="12" lg="12" class="pb-0">
                <span class="font-weight-bold">Tipo de pregunta</span>
                <v-select
                  :rules="[rules_form.requerido]"
                  v-model="tipoPreguntaSelect"
                  :items="itemsTipoPreguntas"
                  item-value="id"
                  item-text="nombre"
                  dense
                  solo
                  outlined
                  flat
                  return-object
                ></v-select>
              </v-col>
              <v-col
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
              >
                <span class="font-weight-bold">Pregunta</span>
                <v-text-field
                  :rules="[
                    rules_form.requerido,
                    rules_form.maximo150caracteres,
                  ]"
                  v-model="formNuevaPregunta.pregunta"
                  dense
                  solo
                  outlined
                  flat
                ></v-text-field>
              </v-col>
              <template v-if="formNuevaPregunta.tipo_pregunta_id == 2">
                <v-col
                  cols="12"
                  xs="12"
                  sm="12"
                  md="12"
                  lg="12"
                  class="pt-0 pb-0"
                  v-for="(
                    itemOpcionR, indexOpcionR
                  ) in formNuevaPregunta.opcionesRespuestaFormPregunta"
                  :key="indexOpcionR"
                >
                  <span class="font-weight-bold text-capitalize"
                    >Opción
                    {{ convertToNumberingScheme(indexOpcionR + 1) }}</span
                  >
                  <v-text-field
                    :rules="[
                      rules_form.requerido,
                      rules_form.maximo150caracteres,
                    ]"
                    v-model="itemOpcionR.nombre"
                    dense
                    solo
                    outlined
                    flat
                  >
                    <v-icon
                      slot="append-outer"
                      color="primary"
                      @click="deleteOpcionR(indexOpcionR)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </v-text-field>
                </v-col>
              </template>

              <v-col
                v-if="formNuevaPregunta.tipo_pregunta_id == 2"
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0"
              >
                <span class="font-weight-bold">Otra ¿Cuál?</span>
                <v-checkbox
                  class="mt-0"
                  v-model="formNuevaPregunta.otra_respuesta"
                  :label="
                    formNuevaPregunta.otra_respuesta
                      ? 'Si, digitar otra respuesta'
                      : 'No agregar otra respuesta'
                  "
                  hide-details
                ></v-checkbox>
              </v-col>
              <v-col
                v-if="formNuevaPregunta.tipo_pregunta_id == 2"
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
              >
                <v-btn
                  depressed
                  outlined
                  large
                  block
                  color="grey lighten-1"
                  class="text-capitalize font-weight-bold mr-3"
                  style="border: 2px dashed"
                  @click="agregarItemRespuesta"
                  >Añadir opción &nbsp;&nbsp;&nbsp;<v-icon right
                    >mdi-plus-circle</v-icon
                  ></v-btn
                >
              </v-col>
              <v-col
                v-if="formNuevaPregunta.tipo_pregunta_id == 3"
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
              >
                <span class="font-weight-bold">Rango</span>
                <v-radio-group
                  row
                  v-model="formNuevaPregunta.tipo_pregunta_item_id"
                >
                  <v-radio
                    v-for="(
                      item, index
                    ) in tipoPreguntaSelect.items_tipo_pregunta"
                    :key="index"
                    :label="item.nombre"
                    color="primary"
                    :value="item.id"
                  ></v-radio>
                </v-radio-group>
              </v-col>

              <v-col
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
              >
                <!-- <span class="font-weight-bold">Pregunta obligatoria</span> -->
                <v-checkbox
                  v-model="formNuevaPregunta.requerida"
                  :label="
                    formNuevaPregunta.requerida
                      ? 'Si, respuesta obligatoria'
                      : 'No es obligatoria la respuesta'
                  "
                  hide-details
                ></v-checkbox>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-title class="text-center pb-9" style="display: block">
          <v-btn
            :disabled="loadingConfirmar"
            depressed
            min-width="265"
            max-width="265"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="
              dialogCrearPreguntas = false;
              resetFormCrearPregunta();
            "
            >Cancelar</v-btn
          >

          <v-btn
            :loading="disabledBtnGuardar"
            :disabled="disabledBtnGuardar"
            @click="nuevaPregunta"
            color="secondary"
            max-width="265"
            width="265"
            class="text-capitalize font-weight-bold"
            >Crear Pregunta</v-btn
          >
        </v-card-title>
      </v-card>
    </v-dialog>

    <v-dialog
      scrollable
      v-model="dialogEditarPreguntas"
      max-width="950"
      persistent
    >
      <v-card class="pl-9 pr-9">
        <v-card-title
          class="headline text-center font-weight-bold pt-9 pl-8 pr-8"
          >Detalle de pregunta
          <v-icon
            v-if="disabledEditarPreguntas"
            @click="enableEditPregunta"
            style="margin-left: auto"
            >mdi-square-edit-outline</v-icon
          ></v-card-title
        >
        <v-card-text class="pt-6 pr-9 pl-9 pb-6">
          <v-form ref="formEditarPreguntas">
            <v-row>
              <v-col cols="12" xs="12" sm="12" md="12" lg="12" class="pb-0">
                <span class="font-weight-bold">Tipo de pregunta</span>
                <v-select
                  disabled
                  :rules="[rules_form.requerido]"
                  v-model="formEditarPregunta.tipo_pregunta_id"
                  :items="itemsTipoPreguntas"
                  item-value="id"
                  item-text="nombre"
                  dense
                  solo
                  outlined
                  flat
                ></v-select>
              </v-col>
              <v-col
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
              >
                <span class="font-weight-bold">Pregunta</span>
                <v-text-field
                  :disabled="disabledEditarPreguntas"
                  :rules="[
                    rules_form.requerido,
                    rules_form.maximo150caracteres,
                  ]"
                  v-model="formEditarPregunta.pregunta"
                  dense
                  solo
                  outlined
                  flat
                ></v-text-field>
              </v-col>
              <template v-if="formEditarPregunta.tipo_pregunta_id == 2">
                <v-col
                  cols="12"
                  xs="12"
                  sm="12"
                  md="12"
                  lg="12"
                  class="pt-0 pb-0"
                  v-for="(
                    itemOpcionR, indexOpcionR
                  ) in formEditarPregunta.opciones_respuesta_form_pregunta"
                  :key="indexOpcionR"
                >
                  <span class="font-weight-bold text-capitalize"
                    >Opción
                    {{ convertToNumberingScheme(indexOpcionR + 1) }}</span
                  >
                  <v-text-field
                    :disabled="disabledEditarPreguntas"
                    :rules="[
                      rules_form.requerido,
                      rules_form.maximo150caracteres,
                    ]"
                    v-model="itemOpcionR.nombre"
                    dense
                    solo
                    outlined
                    flat
                  >
                    <v-icon
                      :disabled="disabledEditarPreguntas"
                      slot="append-outer"
                      color="primary"
                      @click="deleteOpcionR(indexOpcionR, itemOpcionR)"
                    >
                      {{
                        itemOpcionR.activo
                          ? "mdi-trash-can"
                          : "mdi-backup-restore"
                      }}
                    </v-icon>
                  </v-text-field>
                </v-col>
              </template>

              <v-col
                v-if="formEditarPregunta.tipo_pregunta_id == 2"
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0"
              >
                <span class="font-weight-bold">Otra ¿Cuál?</span>
                <v-checkbox
                  :disabled="disabledEditarPreguntas"
                  class="mt-0"
                  v-model="formEditarPregunta.otra_respuesta"
                  :label="
                    formEditarPregunta.otra_respuesta
                      ? 'Si, digitar otra respuesta'
                      : 'No agregar otra respuesta'
                  "
                  hide-details
                ></v-checkbox>
              </v-col>
              <v-col
                v-if="formEditarPregunta.tipo_pregunta_id == 2"
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
              >
                <v-btn
                  :disabled="disabledEditarPreguntas"
                  depressed
                  outlined
                  large
                  block
                  color="grey lighten-1"
                  class="text-capitalize font-weight-bold mr-3"
                  style="border: 2px dashed"
                  @click="agregarItemRespuesta('editar')"
                  >Añadir opción &nbsp;&nbsp;&nbsp;<v-icon right
                    >mdi-plus-circle</v-icon
                  ></v-btn
                >
              </v-col>
              <v-col
                v-if="formEditarPregunta.tipo_pregunta_id == 3"
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
              >
                <span class="font-weight-bold">Rango</span>
                <v-radio-group
                  :disabled="disabledEditarPreguntas"
                  row
                  v-model="formEditarPregunta.tipo_pregunta_item_id"
                >
                  <v-radio
                    v-for="(item, index) in formEditarPregunta.tipo_pregunta
                      .items_tipo_pregunta"
                    :key="index"
                    :label="item.nombre"
                    color="primary"
                    :value="item.id"
                  ></v-radio>
                </v-radio-group>
              </v-col>

              <v-col
                cols="12"
                xs="12"
                sm="12"
                md="12"
                lg="12"
                class="pt-0 pb-0"
              >
                <!-- <span class="font-weight-bold">Pregunta obligatoria</span> -->
                <v-checkbox
                  :disabled="disabledEditarPreguntas"
                  v-model="formEditarPregunta.requerida"
                  :label="
                    formEditarPregunta.requerida
                      ? 'Si, respuesta obligatoria'
                      : 'No es obligatoria la respuesta'
                  "
                  hide-details
                ></v-checkbox>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-title class="text-center pb-9" style="display: block">
          <v-btn
            :disabled="loadingConfirmar"
            depressed
            min-width="265"
            max-width="265"
            color="grey lighten-2"
            @click="dialogEditarPreguntas = false"
            class="text-capitalize font-weight-bold mr-3"
            >Cancelar</v-btn
          >

          <v-btn
            v-if="!disabledEditarPreguntas"
            :loading="disabledBtnGuardar"
            :disabled="disabledBtnGuardar"
            @click="editarPregunta"
            color="secondary"
            max-width="265"
            width="265"
            class="text-capitalize font-weight-bold"
            >Editar Pregunta</v-btn
          >
        </v-card-title>
      </v-card>
    </v-dialog>

    <v-overlay
      fixed
      z-index="999"
      opacity="1"
      color="white"
      :value="loaderComponent"
    >
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block"
          class="display-2 primary--text text-center font-weight-bold"
          >{{ textTitleLoader }}</v-card-title
        >
        <v-card-subtitle class="headline black--text text-center">{{
          textSubTitleLoader
        }}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular
            color="primary"
            indeterminate
            size="64"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-content>
</template>

<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  data() {
    return {
      loaderComponent: false,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      tabs_voz_cliente: null,

      loadingConfirmar: false,
      dialogRespuesta: false,
      dialogCrearPreguntas: false,
      disabledBtnGuardar: false,
      snackbarValidaciones: false,
      erroresRetornados: [],

      searchTable: "",
      filter: {},
      sortDesc: false,
      sortBy: "name",
      tipoMatriz: null,

      rangoPesoMatrizItems: [],
      campaniaAppMasterItems: [],
      encuestaItems: [],
      pesoMatriz: null,
      pesoMatrizItems: [],
      asociadaMatriz: null,
      asociadaMatrizItems: [
        {
          id: true,
          nombre: "Si",
        },
        {
          id: false,
          nombre: "No",
        },
      ],
      encuestaMatrizItems: [
        {
          id: true,
          nombre: "Si",
        },
        {
          id: false,
          nombre: "No",
        },
      ],
      keys: [
        "Name",
        "Calories",
        "Fat",
        "Carbs",
        "Protein",
        "Sodium",
        "Calcium",
        "Iron",
      ],
      matricesItems: [],
      totalItems: 0,
      numberOfPages: 0,
      deleteMatrizId: 0,
      deleteMatrizEstado: 0,
      dialogConfirmar: false,
      dialogConfirmarFormulario: false,

      /* */
      idPreguntaEliminar: 0,
      estadoPreguntaEliminar: null,
      textoPreguntaEliminar: null,
      textoFormularioEliminar: null,
      idFormularioEliminar: null,

      itemsTipoPreguntas: [],
      tipoPreguntaSelect: null,
      dialogEditarPreguntas: false,
      disabledEditarPreguntas: true,
      formEditarPregunta: {
        tipo_pregunta_id: 0,
        tipo_pregunta_item_id: null,
        pregunta: null,
        requerida: true,
        otra_respuesta: false,
        opcionesRespuestaFormPregunta: [],
      },
      formNuevaPregunta: {
        tipo_pregunta_id: 0,
        tipo_pregunta_item_id: null,
        pregunta: null,
        requerida: true,
        otra_respuesta: false,
        opcionesRespuestaFormPregunta: [],
      },

      pagePreguntas: 1,
      options: {
        itemsPerPage: 10,
      }, 
      optionsFormularios: {
        itemsPerPage: 10,
      },
      totalDataPreguntas: 1, //0
      headersPreguntas: [
        {
          text: "Pregunta",
          align: "left",
          sortable: false,
          value: "pregunta",
        },
        {
          text: "Tipo de pregunta",
          align: "left",
          sortable: false,
          value: "tipo_pregunta.nombre",
        },
        {
          text: "Fecha de creación",
          align: "left",
          sortable: false,
          value: "created_at",
        },
        {
          text: "Acciones",
          align: "center",
          sortable: false,
          value: "acciones",
        },
      ],
      dataPreguntas: [],

      pageFormularios: 1,
      totalDataVozCliente: 1, //0
      headersFormularios: [
        {
          text: "Voz cliente",
          align: "left",
          sortable: false,
          value: "nombre",
        },
        {
          text: "Fecha de creación",
          align: "left",
          sortable: false,
          value: "created_at",
        },
        {
          text: "Número de preguntas",
          align: "center",
          sortable: false,
          value: "numero_preguntas_count",
        },
        {
          text: "Acciones",
          align: "center",
          sortable: false,
          value: "acciones",
        },
      ],
      dataVozCliente: [],
      loadingtable: false,
      pageCountPreguntas: 1, //0
      pageCountVozCliente: 1, //0

      totalDataFormularios: 1,
      dataFormularios: [],
    };
  },
  computed: {},
  mounted() {
    this.getTiposPreguntas();
  },
  watch: {
    tabs_voz_cliente() {
      this.searchTable = "";
      if (this.tabs_voz_cliente == 0) {
        //PREGUNTAS
        this.getPreguntas();
      } else if (this.tabs_voz_cliente == 1) {
        //FORMULARIOS
        this.getFormularios();
      }
    },
    tipoPreguntaSelect(valor) {
      if (valor) {
        this.formNuevaPregunta.tipo_pregunta_id = valor.id;
        this.formNuevaPregunta.tipo_pregunta_item_id = null;
        this.formNuevaPregunta.pregunta = null;
        this.formNuevaPregunta.requerida = true;
        this.formNuevaPregunta.otra_respuesta = false;
        this.formNuevaPregunta.opcionesRespuestaFormPregunta = [];
      }
    },

    pagePreguntas() {
      this.getPreguntas();
    },
    pageFormularios() {
      this.getFormularios();
    },
    "options.itemsPerPage"() {
      this.getPreguntas();
    },
    "optionsFormularios.itemsPerPage"() {
      this.getFormularios();
    },
  },
  methods: {
    verFormulario(idFormulario) {
      this.$router.push("/adm/voz-cliente/formulario/" + idFormulario);
    },
    eliminarFormulario(idFormulario) {
     
      this.loaderComponent = true;
      this.textoFormularioEliminar = null;
      axios
        .post("/validarDisponibleFormulario", { id_formulario: idFormulario })
        .then((res) => {
          this.loaderComponent = false;
          // console.log(res);
          if (res.data.eliminar) {
             this.idFormularioEliminar = idFormulario;
      this.dialogConfirmarFormulario = true;
          } else {
            this.textoFormularioEliminar =
              "Este formulario no se puede eliminar, esta vinculado a una o más matrices.";
            this.dialogConfirmarFormulario = true;
          }
        })
        .catch((err) => {
          this.loaderComponent = false;
          console.error(err);
        });
    },
    eliminarPregunta(idPregunta, estado) {
      this.loaderComponent = true;
      this.textoPreguntaEliminar = null;
      axios
        .post("/validarDisponiblePregunta", { id_pregunta: idPregunta })
        .then((res) => {
          this.loaderComponent = false;
          // console.log(res);
          if (res.data.eliminar) {
            this.idPreguntaEliminar = idPregunta;
            this.estadoPreguntaEliminar = estado;
            this.dialogConfirmar = true;
          } else {
            this.textoPreguntaEliminar =
              "Esta pregunta no se puede eliminar, esta vinculada a uno o más formularios.";
            this.dialogConfirmar = true;
          }
        })
        .catch((err) => {
          this.loaderComponent = false;
          console.error(err);
        });
    },


    deletePregunta() {
      this.snackbarValidaciones = false;
      this.loaderComponent = true;
      axios
        .delete("/crudPreguntas/" + this.idPreguntaEliminar)
        .then((res) => {
          console.log(res);
          if (res.data.respuesta.codigo == 202) {
            this.dialogConfirmar = false;
            this.loaderComponent = false;
            // this.resetFormulario();
            this.getPreguntas();
          }
        })
        .catch((err) => {
          var errores = err.response.data.errors;
          this.loaderComponent = false;
          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.erroresRetornados.push(element);
              });
            }
          }
          this.snackbarValidaciones = true;
        });
    },
    deleteFormulario() {
      this.snackbarValidaciones = false;
      this.loaderComponent = true;
      axios
        .delete("/crudFormulario/" + this.idFormularioEliminar)
        .then((res) => {
          console.log(res);
          if (res.data.respuesta.codigo == 202) {
            this.dialogConfirmarFormulario = false;
            this.loaderComponent = false;
            // this.resetFormulario();
            this.getFormularios();
          }
        })
        .catch((err) => {
          var errores = err.response.data.errors;
          this.loaderComponent = false;
          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.erroresRetornados.push(element);
              });
            }
          }
          this.snackbarValidaciones = true;
        });
    },

    resetFormCrearPregunta() {
      this.tipoPreguntaSelect = null;
      this.formNuevaPregunta.tipo_pregunta_id = 0;
      this.formNuevaPregunta.tipo_pregunta_item_id = null;
      this.formNuevaPregunta.pregunta = null;
      this.formNuevaPregunta.requerida = true;
      this.formNuevaPregunta.otra_respuesta = false;
      this.formNuevaPregunta.opcionesRespuestaFormPregunta = [];
    },
    convertToNumberingScheme(number) {
      var baseChar = "A".charCodeAt(0),
        letters = "";

      do {
        number -= 1;
        letters = String.fromCharCode(baseChar + (number % 26)) + letters;
        number = (number / 26) >> 0; // quick `floor`
      } while (number > 0);

      return letters;
    },
    editarPreguntaDialog(idPregunta) {
      this.loaderComponent = true;
      axios
        .get("/crudPreguntas/" + idPregunta)
        .then((res) => {
          this.formEditarPregunta = res.data;
          this.dialogEditarPreguntas = true;
          this.loaderComponent = false;
          this.disabledEditarPreguntas = true;
        })
        .catch((err) => {
          console.error(err);
          this.loaderComponent = false;
        });
      // dialogEditarPreguntas
    },
    enableEditPregunta(index) {
      this.disabledEditarPreguntas = false;
    },
    deleteOpcionR(index, item = null) {
      if (item) {
        //EDITAR
        if (item.id) {
          //EDITAR ESTADO
          const pregunta = this.formEditarPregunta.opciones_respuesta_form_pregunta.find(
            (pre) => pre.id == item.id
          );

          if (pregunta.activo) {
            pregunta.activo = false;
          } else {
            pregunta.activo = true;
          }
        } else {
          //ELIMINAR DEL ARRAY
          this.formEditarPregunta.opciones_respuesta_form_pregunta.splice(
            index,
            1
          );
        }
        // this.formNuevaPregunta.opcionesRespuestaFormPregunta.splice(index, 1);
      } else {
        this.formNuevaPregunta.opcionesRespuestaFormPregunta.splice(index, 1);
      }
    },
    agregarItemRespuesta(form = "crear") {
      if (form == "editar") {
        this.formEditarPregunta.opciones_respuesta_form_pregunta.push({
          nombre:
            "respuesta " +
            (this.formEditarPregunta.opciones_respuesta_form_pregunta.length +
              1),
          activo: true,
        });
      } else {
        this.formNuevaPregunta.opcionesRespuestaFormPregunta.push({
          nombre:
            "respuesta " +
            (this.formNuevaPregunta.opcionesRespuestaFormPregunta.length + 1),
        });
      }
    },
    getTiposPreguntas() {
      axios
        .post("/getTiposPreguntas")
        .then((res) => {
          this.itemsTipoPreguntas = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },

    getPreguntas() {
      this.loaderComponent = true;
      this.dataPreguntas = [];
      axios
        .get(
          "/crudPreguntas?search=" +
            this.searchTable +
            "&page=" +
            this.pagePreguntas +
            "&rowsPerPage=" +
            this.options.itemsPerPage
        )
        .then((res) => {
          this.dataPreguntas = res.data.data_registros;
          this.totalDataPreguntas = res.data.total_registros;
          this.numberOfPages = Math.ceil(
            res.data.total_registros / this.options.itemsPerPage
          );
          this.loaderComponent = false;
        })
        .catch((err) => {
          console.error(err);
          this.loaderComponent = false;
        });
    },
    nuevaPregunta() {
      if (this.$refs.formPreguntas.validate()) {
        this.disabledBtnGuardar = true;
        this.snackbarValidaciones = false;
        this.loaderComponent = true;
        this.erroresRetornados = [];
        axios
          .post("/crudPreguntas", {
            dataform: this.formNuevaPregunta,
          })
          .then((res) => {
            this.disabledBtnGuardar = false;
            console.log(res);
            if (res.data.respuesta.codigo == 202) {
              this.dialogRespuesta = true;
              this.dialogCrearPreguntas = false;
              // this.resetFormulario();
              this.loaderComponent = false;
              this.resetFormCrearPregunta();
              this.getPreguntas();
            }
          })
          .catch((err) => {
            this.disabledBtnGuardar = false;
            var errores = err.response.data.errors;
            this.loaderComponent = false;
            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach((element) => {
                  this.erroresRetornados.push(element);
                });
              }
            }
            this.snackbarValidaciones = true;
          });
      }
    },
    editarPregunta() {
      if (this.$refs.formEditarPreguntas.validate()) {
        this.disabledBtnGuardar = true;
        this.snackbarValidaciones = false;
        this.loaderComponent = true;
        this.erroresRetornados = [];
        axios
          .put("/crudPreguntas/" + this.formEditarPregunta.id, {
            dataform: this.formEditarPregunta,
          })
          .then((res) => {
            this.disabledBtnGuardar = false;
            console.log(res);
            if (res.data.respuesta.codigo == 202) {
              this.dialogRespuesta = true;
              this.dialogEditarPreguntas = false;
              this.loaderComponent = false;
              // this.resetFormulario();
              this.getPreguntas();
            }
          })
          .catch((err) => {
            this.disabledBtnGuardar = false;
            var errores = err.response.data.errors;
            this.loaderComponent = false;
            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach((element) => {
                  this.erroresRetornados.push(element);
                });
              }
            }
            this.snackbarValidaciones = true;
          });
      }
    },
    getFormularios() {
      this.loaderComponent = true;
      this.dataFormularios = [];
      axios
        .get(
          "/crudFormulario?search=" +
            this.searchTable +
            "&page=" +
            this.pageFormularios +
            "&rowsPerPage=" +
            this.optionsFormularios.itemsPerPage
        )
        .then((res) => {
          this.dataFormularios = res.data.data_registros;
          this.totalDataFormularios = res.data.total_registros;
          this.numberOfPages = Math.ceil(
            res.data.total_registros / this.optionsFormularios.itemsPerPage
          );
          this.loaderComponent = false;
        })
        .catch((err) => {
          console.error(err);
          this.loaderComponent = false;
        });
    },
  },
};
</script>