<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar-title class="font-weight-bold headline">
        <router-link
          style="text-decoration: none"
          to="/adm/voz-cliente"
          class="grey--text text--darken-1"
          black
        >
          <span class="body-2 font-weight-bold">
            <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
          </span>
        </router-link>
      </v-toolbar-title>

      <v-toolbar-title
        class="font-weight-bold headline mt-9 mb-0"
      >{{ dataInfoFormulario ? dataInfoFormulario.nombre : "" }}</v-toolbar-title>
      <v-toolbar-title class="font-weight-bold headline mb-4">
        <v-btn
          text
          color="black"
          class="text-capitalize font-weight-bold pa-0 no-background-hover"
          @click="verMatricesAsignadas"
        >
          Ver matrices asignadas
          <v-icon small right>mdi-arrow-right</v-icon>
        </v-btn>

        <v-dialog scrollable v-model="dialogMatricesAsignadas" max-width="950" persistent>
          <v-card class="pl-9 pr-9">
            <v-card-title
              class="headline text-center font-weight-bold pt-9 pl-8 pr-8 pb-5"
            >Matrices asignadas
            
            <v-icon @click="dialogMatricesAsignadas = false" style="margin-left: auto;">
              mdi-close
            </v-icon>

            </v-card-title>
                        <v-divider></v-divider>

            <v-card-text class="pt-6 pr-9 pl-9 pb-6">
              <v-chip
                v-for="(matriz, indexM) in dataMatricesAsignadas"
                :key="indexM"
                class="ma-2"
                outlined
              >
                <v-avatar left>
                  <v-icon>mdi-account-circle</v-icon>
                </v-avatar>
                {{matriz.nombre}}
              </v-chip>
            </v-card-text>


          
          </v-card>
        </v-dialog>

        <v-btn
          v-if="!editarFormulario"
          right
          style="display: block; float: right"
          color="secondary"
          class="text-capitalize font-weight-bold"
          min-width="230"
          @click="editarFormulario = true"
        >Editar formulario</v-btn>
      </v-toolbar-title>
      <v-divider></v-divider>
      <v-layout v-if="editarFormulario" class="mt-3 mb-5">
        <v-flex md5>
          <label class="font-weight-bold">Búsqueda por preguntas</label>
          <v-autocomplete
            v-model="autocompletePregunta"
            :items="preguntasCreadas"
            :loading="isLoading"
            :search-input.sync="searchPregunta"
            chips
            clearable
            hide-details
            hide-selected
            item-text="pregunta"
            item-value="id"
            solo
            dense
            outlined
            flat
            @change="addPregunta"
            return-object
          >
            <template v-slot:append>
              <v-icon>mdi-magnify</v-icon>
            </template>
            <template v-slot:no-data>
              <v-list-item>
                <v-list-item-title>
                  Busque por
                  <strong>pregunta</strong>
                </v-list-item-title>
              </v-list-item>
            </template>

            <template v-slot:item="{ item }">
              <v-list-item-content>
                <v-list-item-title class="text-capitalize font-weight-bold" v-text="item.pregunta"></v-list-item-title>
                <!-- <v-list-item-subtitle
                  v-text="item.symbol"
                ></v-list-item-subtitle>-->
              </v-list-item-content>
              <!-- <v-list-item-action>
                <v-icon @click.stop="">mdi-plus-circle</v-icon>
              </v-list-item-action>-->
            </template>
          </v-autocomplete>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12>
          <draggable
            v-bind="dragOptions"
            :disabled="!editarFormulario"
            v-if="dataInfoFormulario"
            v-model="dataInfoFormulario.preguntas_acivas"
            handle=".handle"
            @start="drag = true"
            @end="drag = false"
          >
            <renderpregunta
              @deletePre="deletePregunta"
              :editarForm="editarFormulario"
              v-for="(item, indexP) in dataInfoFormulario.preguntas_acivas"
              :key="indexP"
              :identificador="indexP"
              :elemento="item"
            ></renderpregunta>
          </draggable>
        </v-flex>
      </v-layout>
      <v-card-title v-if="editarFormulario" class="text-right pa-0" style="display: block">
        <v-btn
          depressed
          min-width="265"
          max-width="265"
          color="grey lighten-2"
          class="text-capitalize font-weight-bold mr-3"
          to="/adm/voz-cliente"
        >Cancelar</v-btn>

        <v-btn
          :loading="disabledBtnGuardar"
          :disabled="disabledBtnGuardar"
          @click="guardarFormulario"
          color="secondary"
          max-width="265"
          width="265"
          class="text-capitalize font-weight-bold"
        >Guardar</v-btn>
      </v-card-title>
    </v-container>
    <v-overlay fixed z-index="999" opacity="1" color="white" :value="loaderComponent">
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block"
          class="display-2 primary--text text-center font-weight-bold"
        >{{ textTitleLoader }}</v-card-title>
        <v-card-subtitle class="headline black--text text-center">
          {{
          textSubTitleLoader
          }}
        </v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
    <v-snackbar bottom right color="secondary" v-model="snackbarPreguntas">
      <v-alert
        class="pa-0 ma-0 caption"
        color="secondary"
        dark
        :icon="snackbarPreguntasIcon"
      >{{ snackbarPreguntasText }}</v-alert>
    </v-snackbar>
    <v-snackbar color="primary" top right v-model="snackbarValidaciones">
      <v-alert prominent class="ma-0" color="primary" dark icon="mdi-alert-octagon">
        <ul>
          <li
            v-for="(error, index) in erroresRetornados"
            :key="index"
            class="font-weight-bold caption"
          >{{ error }}</li>
        </ul>
      </v-alert>
    </v-snackbar>
  </v-content>
</template>
<script>
import draggable from "vuedraggable";

import reglasForm from "../../import/reglasForm";
import renderpregunta from "./renderPreguntas";
export default {
  components: {
    draggable,
    renderpregunta
  },
  mixins: [reglasForm],
  data() {
    return {
      dialogMatricesAsignadas: false,
      disabledBtnGuardar: false,
      snackbarValidaciones: false,
      dataMatricesAsignadas: [],
      erroresRetornados: [],
      snackbarPreguntas: false,
      snackbarPreguntasText: null,
      snackbarPreguntasIcon: null,
      editarFormulario: false,
      dataInfoFormulario: null,
      loaderComponent: false,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      isLoading: false,
      preguntasCreadas: [],
      autocompletePregunta: null,
      searchPregunta: null,
      drag: false
    };
  },
  watch: {
    idformulario: {
      immediate: true,
      handler(value) {
        this.getInfoFormulario();
      }
    },
    searchPregunta(val) {
      // Items have already been loaded
      if (this.preguntasCreadas.length > 0) return;

      this.isLoading = true;

      // Lazily load input items
      axios
        .get("/crudPreguntas")
        .then(res => {
          this.preguntasCreadas = res.data.data_registros;
        })
        .catch(err => {
          console.error(err);
          this.loaderComponent = false;
        })
        .finally(() => (this.isLoading = false));
    }
  },

  computed: {
    idformulario() {
      return this.$route.params.idformulario;
    },
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false
      };
    }
  },
  methods: {
    verMatricesAsignadas() {
      this.loaderComponent = true;
      this.dialogMatricesAsignadas = false;
      axios
        .get("/verMatricesAsignadas/" + this.idformulario)
        .then(res => {
          this.dataMatricesAsignadas = res.data;
          this.loaderComponent = false;
          this.dialogMatricesAsignadas = true;
        })
        .catch(err => {
          console.error(err);
          this.loaderComponent = false;
          this.dialogMatricesAsignadas = false;
        });
    },
    deletePregunta(id) {
      this.dataInfoFormulario.preguntas_acivas.splice(id, 1);
    },
    guardarFormulario() {
      this.disabledBtnGuardar = true;
      this.snackbarValidaciones = false;
      this.loaderComponent = true;
      this.erroresRetornados = [];
      axios
        .put("/crudFormulario/" + this.idformulario, {
          dataform: this.dataInfoFormulario.preguntas_acivas
        })
        .then(res => {
          this.disabledBtnGuardar = false;
          console.log(res);
          if (res.data.respuesta.codigo == 202) {
            this.dialogRespuesta = true;
            this.textTitleLoader = "¡Bien hecho!";
            this.textSubTitleLoader = "Formulario actualizado.";
            setTimeout(() => {
              this.loaderComponent = false;
              this.$router.push("/adm/voz-cliente");
            }, 2000);
          }
        })
        .catch(err => {
          this.disabledBtnGuardar = false;
          var errores = err.response.data.errors;
          this.loaderComponent = false;
          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach(element => {
                this.erroresRetornados.push(element);
              });
            }
          }
          this.snackbarValidaciones = true;
        });
    },
    getInfoFormulario() {
      this.loaderComponent = true;
      this.dataInfoFormulario = null;
      axios
        .get("/crudFormulario/" + this.idformulario)
        .then(res => {
          this.dataInfoFormulario = res.data;
          this.loaderComponent = false;
        })
        .catch(err => {
          console.error(err);
          this.loaderComponent = false;
        });
    },
    addPregunta() {
      var preguntaCrear = this.autocompletePregunta;
      const existePregunta = this.dataInfoFormulario.preguntas_acivas.find(
        pre => pre.pregunta.id == preguntaCrear.id
      );

      if (!existePregunta) {
        this.dataInfoFormulario.preguntas_acivas.push({
          pregunta: preguntaCrear
        });
        this.snackbarPreguntasIcon = "mdi-check-circle";
        this.snackbarPreguntasText = "Pregunta agregada al final del listado.";
        this.snackbarPreguntas = true;
      } else {
        this.snackbarPreguntasIcon = "mdi-alert-circle";
        this.snackbarPreguntasText = "La pregunta ya se encuentra agregada.";
        this.snackbarPreguntas = true;
      }
      this.limpiarValor();
    },
    limpiarValor() {
      setTimeout(() => {
        this.autocompletePregunta = null;
      }, 1);
    }
  }
};
</script>

<style>
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none !important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
.no-background-hover::before {
  background-color: transparent !important;
}

.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
</style>
