<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <!-- <v-toolbar style="height: 45px" flat color="white">
        <v-toolbar-title class="font-weight-bold subtitle-1	">Módulo Auditoría</v-toolbar-title>
      </v-toolbar>-->
      <v-toolbar flat color="white">
        <v-toolbar-title class="font-weight-bold headline">¡Bienvenido al Módulo de Supervisor!</v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title class="subtitle-1">Aquí podrás generar una auditoría por matriz y ver el listado de auditorías correspondiente a cada una.</v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-radio-group v-model="tipoGestion" row>
          <v-radio color="accent" label="Auditar" value="Auditar"></v-radio>
          <v-radio color="accent" label="Retroalimentar" value="Retroalimentar"></v-radio>
          <v-radio color="accent" label="Ver auditorías de la matriz" value="verAuditorias"></v-radio>
          <v-radio color="accent" label="Reportería" value="reporte"></v-radio>
        </v-radio-group>
      </v-toolbar>
 <v-layout class="mt-9">
        <v-flex md5>
          <v-text-field
            v-model="searchTable"
            placeholder="Búsqueda por nombre de matriz"
            dense
            solo
            outlined
            hide-details
            flat
            append-icon="mdi-magnify"
            @click:append="getMatriz"
          >
            <!-- <template v-slot:append-outer>
                <v-btn
                  @click="getMatriz"
                  style="top: -6px"
                  max-width="265"
                  width="265"
                  color="secondary"
                  class="ml-5 text-capitalize font-weight-bold"
                >
                  Buscar
                  <v-icon right>mdi-magnify</v-icon>
                </v-btn>
            </template>-->
          </v-text-field>
        </v-flex>
      
      </v-layout>
      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12 class="mt-3">
          <v-toolbar-title
            class="subtitle-1 mb-5 mt-3"
          >Seleccione una de las siguientes campañas para iniciar:</v-toolbar-title>
          <v-data-iterator
            :loading="cargandoConsulta"
            :items="matricesItems"
            :items-per-page.sync="itemsPerPage"
            :page="page"
            hide-default-footer
          >
            <!-- <template v-slot:header>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="searchTable"
                  placeholder="Búsqueda por nombre de matriz"
                  dense
                  solo
                  outlined
                  flat
                >
                  <template v-slot:append-outer>
                    <v-btn
                      @click="getMatriz"
                      style="top: -6px"
                      max-width="265"
                      width="265"
                      color="secondary"
                      class="ml-5 text-capitalize font-weight-bold"
                    >
                      Buscar
                      <v-icon right>mdi-magnify</v-icon>
                    </v-btn>
                  </template>
                </v-text-field>
              </v-card-actions>
            </template> -->
            <template v-slot:loading>
              <v-row>
                <v-col v-for="item in itemsPerPage" :key="item" cols="12" sm="6" md="4" lg="3">
                  <v-skeleton-loader height="120" class="mx-auto" type="image"></v-skeleton-loader>
                </v-col>
              </v-row>
            </template>
            <template v-slot:default="props">
              <v-row>
                <v-col
                  v-for="matriz in props.items"
                  :key="matriz.id"
                  cols="12"
                  sm="6"
                  md="4"
                  lg="3"
                >
                  <v-card
                    :style="'border: 2px solid ' + (matriz.activo ? '#D52B1E' : '#9e9e9e') "
                    outlined
                    height="120"
                  >
                    <v-toolbar
                      height="86"
                      :color="matriz.activo ? 'primary' : 'grey lighten-1'"
                      dark
                      flat
                    >
                      <div style="width:40px">
                        <svg
                          width="40"
                          height="40"
                          viewBox="0 0 40 40"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M31.4339 8.33327V11.6666H24.9397V8.33327H31.4339ZM15.1983 8.33327V18.3333H8.70402V8.33327H15.1983ZM31.4339 21.6666V31.6666H24.9397V21.6666H31.4339ZM15.1983 28.3333V31.6666H8.70402V28.3333H15.1983ZM34.681 4.99994H21.6925V14.9999H34.681V4.99994ZM18.4454 4.99994H5.45691V21.6666H18.4454V4.99994ZM34.681 18.3333H21.6925V34.9999H34.681V18.3333ZM18.4454 24.9999H5.45689V34.9999H18.4454V24.9999Z"
                            fill="white"
                          />
                        </svg>
                      </div>
                      <v-list-item tow-line style="    width: 90%;">
                        <v-list-item-content>
                          <v-tooltip color="grey darken-4" top>
                            <template v-slot:activator="{ on }">
                              <v-list-item-title
                                v-on="on"
                                class="title mb-1 font-weight-bold text-capitalize"
                              >{{matriz.nombre}}</v-list-item-title>
                            </template>
                            <span>{{matriz.nombre}}</span>
                          </v-tooltip>
                          <v-list-item-subtitle>{{matriz.tipo_matriz.nombre}}</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <!-- <p
                        class="ml-3 font-weight-bold text-capitalize"
                        style="width: 100%"
                      >{{matriz.nombre}}</p>
                      <p
                        class="ml-3 font-weight-bold text-capitalize"
                        style="width: 100%"
                      >{{matriz.nombre}}</p>-->
                      <v-spacer></v-spacer>
                      <!-- <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            v-on="on"
                            @click="confirmarMatriz(matriz.id)"
                            small
                            icon
                            style="top: -25px;"
                          >
                            <v-icon
                              small
                              color="white"
                            >{{matriz.activo ? 'mdi-eye-off' : 'mdi-eye'}}</v-icon>
                          </v-btn>
                        </template>
                        <span>{{matriz.activo ? '¿Des-habilitar matriz?' : '¿Habilitar matriz?'}}</span>
                      </v-tooltip> -->
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-actions class="pa-1">
                      <span class="caption font-weight-bold">{{matriz.created_at}}</span>
                      <v-spacer></v-spacer>
                      <router-link
                        :to=" tipoGestion == 'Auditar' ? '/supervisor/matrizauditar/'+matriz.id : (  tipoGestion == 'Retroalimentar' ? '/supervisor/matrizretroalimentar/'+matriz.id :(tipoGestion == 'verAuditorias' ? '/supervisor/verauditorias/'+matriz.id : 'supervisor/informes/'+matriz.id))"
                        class="text--black"
                        black
                      >
                        <span class="body-2 font-weight-bold">Ingresar</span>
                      </router-link>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </template>

            <template v-slot:footer>
              <v-row class="mt-2 pl-4 pr-4" align="center" justify="center">
                <span class="grey--text">Items por página</span>
                <v-menu offset-y>
                  <template v-slot:activator="{ on }">
                    <v-btn dark text color="primary" class="ml-2 mr-2" v-on="on">
                      {{ itemsPerPage }}
                      <v-icon>mdi-chevron-down</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(number, index) in itemsPerPageArray"
                      :key="index"
                      @click="updateItemsPerPage(number)"
                    >
                      <v-list-item-title>{{ number }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <span class="grey--text">
                  Registros totales
                  <strong>{{totalItems}}</strong>
                </span>

                <v-spacer></v-spacer>

                <span class="mr-4 grey--text">Página {{ page }} de {{ numberOfPages }}</span>
                <v-btn small fab dark color="secondary" class="mr-1" @click="formerPage">
                  <v-icon small>mdi-chevron-left</v-icon>
                </v-btn>
                <v-btn small fab dark color="secondary" class="ml-1" @click="nextPage">
                  <v-icon small>mdi-chevron-right</v-icon>
                </v-btn>
              </v-row>
            </template>
          </v-data-iterator>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data() {
    return {
      tipoGestion: "Auditar",
      itemsPerPageArray: [4, 8, 12],
      page: 1,
      itemsPerPage: 8,
    cargandoConsulta: false,
      matricesItems: [],
      searchTable: "",
      totalItems: 0,
      numberOfPages: 0
    };
  },
  computed: {},
  watch: {
    page() {
      this.getMatriz();
    },
    itemsPerPage() {
      this.getMatriz();
    }
  },
  mounted() {
    this.getMatriz();
  },
  methods: {
    getMatriz() {
       this.cargandoConsulta = true;
      this.matricesItems = [];
      axios
        .get(
          "/crudMatriz?search=" +
            this.searchTable +
            "&page=" +
            this.page +
            "&rowsPerPage=" +
            this.itemsPerPage
        )
        .then(res => {
          this.matricesItems = res.data.data_registros;
          this.totalItems = res.data.total_registros;
          this.numberOfPages = Math.ceil(
            res.data.total_registros / this.itemsPerPage
          );
           this.cargandoConsulta = false;
        })
        .catch(err => {
          console.error(err);
           this.cargandoConsulta = false;
        });
    },
 
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    }
  }
};
</script>