<template>
  <v-col>
    <span class="font-weight-bold text-capitalize">
      {{ identificador + 1 }}. {{ elemento.pregunta.pregunta }}
    </span>

    <v-icon
      size="20"
      v-if="editarForm"
      right
      style="float: right; top: -1px"
      color="primary"
      @click="deletePregunta(identificador)"
      >mdi-trash-can</v-icon
    >
    <v-icon
      size="20"
      v-if="editarForm"
      class="handle"
      style="float: right; top: -1px"
      left
      color="secondary"
      >mdi-arrow-all</v-icon
    >
    <!-- Respuesta corta -->
    <v-text-field
      v-if="elemento.pregunta.tipo_pregunta_id == 1"
      dense
      solo
      outlined
      flat
      v-model="elemento.pregunta.respuesta_usuario"
      :rules="elemento.pregunta.requerida ? [rules_form.requerido] : []"
    >
    </v-text-field>
    <!-- Respuesta corta -->
    <!-- Selección múltiple -->
    <template v-else-if="elemento.pregunta.tipo_pregunta_id == 2">
      <v-radio-group
        :rules="elemento.pregunta.requerida ? [rules_form.requerido] : []"
        v-model="elemento.pregunta.respuesta_usuario"
        row
        @change="
          procesarValor(
            elemento.pregunta.respuesta_usuario,
            elemento.pregunta.opciones_respuesta_form_pregunta_activos,
            identificador
          )
        "
      >
        <v-radio
          class="text-capitalize col-3 ma-0"
          v-for="(itemRespuestas, indexOpcR) in elemento.pregunta
            .opciones_respuesta_form_pregunta_activos"
          :key="indexOpcR"
          :label="itemRespuestas.nombre"
          :value="itemRespuestas.id"
        ></v-radio>
      </v-radio-group>

      <template v-if="elemento.pregunta.respuesta_usuario_otra_enable">
        <span class="font-weight-bold text-capitalize"> ¿Cuál? </span>

        <v-text-field
          :rules="[rules_form.requerido]"
          dense
          solo
          outlined
          flat
          v-model="elemento.pregunta.respuesta_usuario_otra"
        >
        </v-text-field>
      </template>
    </template>

    <!-- Selección múltiple -->
    <!-- Escala lineal -->
    <v-slider
      :rules="elemento.pregunta.requerida ? [rules_form.requerido] : []"
      v-model="elemento.pregunta.respuesta_usuario"
      v-else-if="elemento.pregunta.tipo_pregunta_id == 3"
      thumb-label
      :min="minLine(elemento.pregunta.rango.regla)"
      :max="maxLine(elemento.pregunta.rango.regla)"
    ></v-slider>
    <!-- Escala lineal -->
    <!-- Fecha -->
    <v-menu
      v-else-if="elemento.pregunta.tipo_pregunta_id == 4"
      v-model="elemento.pregunta.dialog"
      :close-on-content-click="false"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="elemento.pregunta.respuesta_usuario"
          append-icon="mdi-calendar"
          readonly
          v-bind="attrs"
          v-on="on"
          dense
          solo
          :rules="elemento.pregunta.requerida ? [rules_form.requerido] : []"
          outlined
          flat
        ></v-text-field>
      </template>
      <v-date-picker
        locale="es-co"
        v-model="elemento.pregunta.respuesta_usuario"
        @input="elemento.pregunta.dialog = false"
      ></v-date-picker>
    </v-menu>
    <!-- Fecha -->
    <!-- Hora -->
    <v-text-field
      :rules="elemento.pregunta.requerida ? [rules_form.requerido] : []"
      v-else-if="elemento.pregunta.tipo_pregunta_id == 5"
      v-model="elemento.pregunta.respuesta_usuario"
      append-icon="mdi-clock-outline"
      dense
      type="time"
      solo
      outlined
      flat
    ></v-text-field>
    <!-- Hora -->
  </v-col>
</template>

<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  props: ["elemento", "identificador", "editarForm"],
  data() {
    return {};
  },
  methods: {
    procesarValor(valor, items, indexPregunta) {
      // console.log(valor, items, indexPregunta);
      var validar = items.find((item) => item.id == valor);

      if (validar) {
        if (validar.otra_respuesta) {
          this.$emit("campoOtraRespuesta", indexPregunta, valor, "mostrar");
          // console.log("mostrar campo");
        } else {
          this.$emit("campoOtraRespuesta", indexPregunta, valor, "ocultar");
          // console.log("ocultar campo");
        }
      } else {
        this.$emit("campoOtraRespuesta", indexPregunta, valor, "ocultar");
        console.log("ocultar campo");
      }
    },
    deletePregunta(id) {
      this.$emit("deletePre", id);
    },
    minLine(regla) {
      var separar = regla.split("to");

      return parseInt(separar[0]);
    },
    maxLine(regla) {
      var separar = regla.split("to");

      return parseInt(separar[1]);
    },
  },
};
</script>
