<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar height="30" flat color="white">
        <v-toolbar-title class="font-weight-bold headline">
          <router-link
            style="text-decoration: none;"
            to="/supervisor"
            class="grey--text text--darken-1"
            black
          >
            <span class="body-2 font-weight-bold">
              <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
            </span>
          </router-link>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title class="font-weight-bold headline">¡Bienvenido a la lista de las auditorías!</v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title class="subtitle-1">Aqui se podran visauliar el listado de las audirotias realizadas.</v-toolbar-title>
      </v-toolbar>
      <!-- <v-toolbar flat color="white">
        <v-radio-group v-model="tipoMatriz" row>
          <v-radio color="accent" label="Valor" value="valor"></v-radio>
          <v-radio color="accent" label="Cumplimiento" value="cumplimiento"></v-radio>
          <v-radio color="accent" label="Des-habilitar Matriz" value="deshabilitar"></v-radio>
        </v-radio-group>
      </v-toolbar>-->

      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md10>
          <v-card class="elevation-3 mt-9">
            <v-card-text class="pt-6 pr-9 pl-9 pb-6">
              <v-form ref="formBuscar">
                <v-row class="pt-6 pr-9 pl-9 pb-6">
                  
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Seleccione el asesor</span>
                    <v-select
                    :items="asesoresItems"
                    item-text="detalle_asesor.nombre"
                    item-value="detalle_asesor.id_usuario"
                      :rules="[rules_form.requerido]"
                      v-model="formBuscar.asesor_id"
                      placeholder="Buscar"
                      dense
                      solo
                      outlined
                      flat
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Fecha inicial</span>
                    <v-menu
                      v-model="menuDate1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :rules="[rules_form.requerido]"
                          v-on="on"
                          v-model="formBuscar.fechaInicial"
                          readonly
                          placeholder="Selecciona..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        :max="formBuscar.fechaFinal ? formBuscar.fechaFinal : new Date().toJSON().slice(0, 10)"
                        v-model="formBuscar.fechaInicial"
                        @input="menuDate1 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Fecha final</span>
                    <v-menu
                      v-model="menuDate2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-on="on"
                          :rules="[rules_form.requerido]"
                          v-model="formBuscar.fechaFinal"
                          readonly
                          placeholder="Selecciona..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        :min="formBuscar.fechaInicial"
                        :max="new Date().toJSON().slice(0, 10)"
                        v-model="formBuscar.fechaFinal"
                        @input="menuDate2 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">&nbsp;</span>
                    <v-btn
                      :disabled="loadingFormBuscar"
                      :loading="loadingFormBuscar"
                      @click="buscarAsesor"
                      block
                      color="secondary"
                      class="text-capitalize font-weight-bold"
                    >
                      Buscar
                      <v-icon right>mdi-magnify</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout v-if="dataFormularios" align-center justify-center class="mt-9">
        <v-flex xs12 sm12 md6 class="pa-4">
          <h2 class="font-font-weight-bold text-center">Auditorías del Supervisor</h2>
          <v-data-table
            :footer-props="{'no-results-text': 'No se han encontrado registros',
            'loading-text': 'Cargando registros items...', 
            'page-text': '{0}-{1} de {2}',
            'items-per-page-text': 'Registros por página:',
            'items-per-page-all-text': 'Todos los registros'}"
            :page.sync="page"
            :options.sync="options"
            :items-per-page="itemsPerPage"
            :server-items-length="totalData"
            dense
            hide-default-header
            :headers="headers"
            :items="dataFormularios.supervisor"
            :loading="loadingtable"
            class="elevation-0"
            @page-count="pageCount = $event"
          >
            >
            <template v-slot:header="{ props: { headers } }">
              <thead class="v-data-table-header">
                <tr>
                  <th
                    class="headtable primary white--text subtitle-2 font-weight-bold text-center"
                    v-for="(item, index) in headers"
                    :key="index"
                  >{{item.text}}</th>
                </tr>
              </thead>
            </template>
              <template v-slot:item.cantidad="{  }">
            1
            </template>
          
          </v-data-table>
        </v-flex>
        <v-flex xs12 sm12 md6 class="pa-4">
          <h2 class="font-font-weight-bold text-center">Auditorías del Auditor</h2>
          <v-data-table
            :footer-props="{'no-results-text': 'No se han encontrado registros',
            'loading-text': 'Cargando registros items...', 
            'page-text': '{0}-{1} de {2}',
            'items-per-page-text': 'Registros por página:',
            'items-per-page-all-text': 'Todos los registros'}"
            :page.sync="page"
            :options.sync="options"
            :items-per-page="itemsPerPage"
            :server-items-length="totalData"
            dense
            hide-default-header
            :headers="headers"
            :items="dataFormularios.auditor"
            :loading="loadingtable"
            class="elevation-0"
            @page-count="pageCount = $event"
          >
            >
            <template v-slot:header="{ props: { headers } }">
              <thead class="v-data-table-header">
                <tr>
                  <th
                    class="headtable accent white--text subtitle-2 font-weight-bold text-center"
                    v-for="(item, index) in headers"
                    :key="index"
                  >{{item.text}}</th>
                </tr>
              </thead>
            </template>
             <template v-slot:item.cantidad="{  }">
            1
            </template>
          
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>


    <v-overlay fixed z-index="999" opacity="1" color="white" :value="loaderComponent">
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block;"
          class="display-2 primary--text text-center font-weight-bold"
        >{{textTitleLoader}}</v-card-title>
        <v-card-subtitle class="headline black--text text-center">{{textSubTitleLoader}}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-content>
</template>
<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  data() {
    return {
      loaderComponent: false,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      loadingFormBuscar: false,
      asesoresItems: [],
      auditoriaSeleccionada: null,
      formBuscar: {
        asesor_id: null,
        fechaInicial: null,
        fechaFinal: null,
      },
      formAuditor: {
        retroalimentacion: null
      },
      menuDate1: false,
      fechaInicial: null,
      menuDate2: false,
      fechaFinal: null,

      page: 1,
      options: {},
      itemsPerPage: 10,
      totalData: 1, //0
      headers: [
        {
          text: "Tipo de Auditoría",
          align: "center",
          sortable: false,
          value: "tipo_audioria.nombre"
        },
        {
          text: "Cédula Asesor",
          align: "center",
          sortable: false,
          value: "detalle_asesor.cedula_usuario"
        },
        {
          text: "Asesor",
          align: "center",
          sortable: false,
          value: "detalle_asesor.nombre"
        },
        {
          text: "F. Auditoría",
          align: "center",
          sortable: false,
          value: "created_at"
        },
        {
          text: "Auditada Por",
          align: "center",
          sortable: false,
          value: "detalle_auditor.nombre"
        },
        {
          text: "Nota",
          align: "center",
          sortable: false,
          value: "total_punaje"
        }
       
      ],
      dataFormularios: [
        // {
        //   id: 1,
        //   matriz: "Prueba de matriz",
        //   fecha: "2020-04-22 13:20:00",
        //   cedula: "1030649098",
        //   nombre: "Yecid Tovar",
        //   auditado: "Tambien Yecid",
        //   telefono: "3214140263"
        // }
      ],
      loadingtable: false,
      pageCount: 1, //0
      dialogRetroalimentar: false
    };
  },
  watch: {},
  computed: {
    idMatriz() {
      return this.$route.params.idmatriz;
    }
  },
  created() {
    this.getAsesoresMatriz();
    
  },
  methods: {
    getAsesoresMatriz(){
      axios.post('/getAsesoresMatriz',{
        matriz_id: this.idMatriz
      })
      .then(res => {
        console.log(res)
        this.asesoresItems = res.data;
      })
      .catch(err => {
        console.error(err); 
      })
    },
    abrirModalRetroalimentar(auditoria) {
      this.auditoriaSeleccionada = JSON.parse(JSON.stringify(auditoria));
      this.dialogRetroalimentar = true;
    },

    buscarAsesor() {
      if (this.$refs.formBuscar.validate()) {
        this.loaderComponent = true;
        this.loadingFormBuscar = true;
        this.dataFormularios = [];
        this.auditoriaSeleccionada = null;
        axios
          .post("/buscarAsesorAuditoria", {
            dataForm: this.formBuscar,
            matriz_id: this.idMatriz
          })
          .then(res => {
            console.log(res);
            if (res.data) {
              this.dataFormularios = res.data;
            }
            this.loadingFormBuscar = false;

            this.loaderComponent = false;
          })
          .catch(err => {
            console.error(err);
            this.loadingFormBuscar = false;
            this.loaderComponent = false;
          });
      }
    }
  }
};
</script>

<style>
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none!important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
.headtable:first-child {
  border-radius: 10px 0 0 0;
}
.headtable:last-child {
  border-radius: 0 10px 0 0;
}
</style>