<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar height="30" flat color="white">
        <v-toolbar-title class="font-weight-bold headline">
          <router-link
            style="text-decoration: none"
            to="/control"
            class="grey--text text--darken-1"
            black
          >
            <span class="body-2 font-weight-bold">
              <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
            </span>
          </router-link>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar v-if="infoMatriz" flat color="white">
        <v-toolbar-title style="width: 100%" class="font-weight-bold headline">
          <v-list-item class="pa-0" two-line>
            <v-list-item-content>
              <v-list-item-title
                class="headline mb-1 text-uppercase secondary--text font-weight-bold"
                >{{ infoMatriz.nombre }}</v-list-item-title
              >
              <v-list-item-subtitle
                class="text-capitalize secondary--text font-weight-bold"
                >({{ infoMatriz.tipo_matriz.nombre }})</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar v-if="infoMatriz" flat color="white">
        <v-toolbar-title style="width: 100%" class="font-weight-bold headline">
          <v-list-item class="pa-0" two-line>
            <v-list-item-content>
              <v-list-item-subtitle
                class="text-capitalize secondary--text font-weight-bold"
                >Rango de peso ({{ infoMatriz.valor_peso_validacion.minimo }} -
                {{ infoMatriz.valor_peso_validacion.maximo }})
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
      </v-toolbar>

      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12>
          <v-card class="elevation-0">
            <v-card-text>
              <v-row>
                <v-col col="5">
                  <span class="font-weight-bold">Búsqueda por grupo</span>
                  <v-text-field
                    placeholder="Nombre de grupo"
                    v-model="search"
                    dense
                    solo
                    outlined
                    flat
                    hide-details
                    append-icon="mdi-magnify"
                  >
                  </v-text-field>
                </v-col>
                <v-col col="2" offset="5">
                  <span>&nbsp;</span>
                  <v-btn
                    block
                    color="secondary"
                    class="ml-5 text-capitalize font-weight-bold"
                    xs2
                    sm2
                    @click="abrirGrupo($route.params.id)"
                  >
                    Crear Grupo
                    <v-icon right>mdi-plus-circle-outline</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-spacer></v-spacer>
      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12 class="mt-6">
          <v-data-table
            :headers="headers"
            :items="gruposN"
            :items-per-page="5"
            :search="search"
            class="elevation-0"
            hide-default-header
            dense
          >
            <template
              v-slot:header="{ props: { headers } }"
              class="elevation-4"
            >
              <thead class="v-data-table-header">
                <tr>
                  <th
                    class="headtable primary accent-4 text-capitalize white--text font-weight-bold"
                    v-for="(item, index) in headers"
                    :key="index"
                  >
                    {{ item.text }}
                  </th>
                </tr>
              </thead>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon
                class="mr-2"
                @click="abrirDialog(item)"
                style="margin-left: 25%"
                color="black"
                >mdi-eye</v-icon
              >
              <v-icon
                class="mr-2"
                @click="abrirEliminarGrupo(item)"
                style="margin-left: 25%"
                color="red"
                >mdi-trash-can-outline</v-icon
              >
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="700px">
        <v-card scrollable class="pa-5">
          <v-card-title class="headline font-weight-bold"
            >Crear Grupo</v-card-title
          >
          <v-divider></v-divider>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6" class="pb-0">
                  <span class="font-weight-bold text--center">Campaña</span>
                  <v-text-field
                    v-if="infoMatriz && infoMatriz.seleccion_campaign"
                    disabled
                    v-model="infoMatriz.seleccion_campaign.name"
                    placeholder="Sin campaña"
                    append-icon="mdi-chevron-down"
                    solo
                    dense
                    outlined
                    flat
                  ></v-text-field>
                  <v-text-field
                    v-else
                    disabled
                    placeholder="Sin campaña"
                    append-icon="mdi-chevron-down"
                    solo
                    dense
                    outlined
                    flat
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6" class="pb-0">
                  <span class="font-weight-bold text--center">Supervisor</span>
                  <v-select
                    v-model="supervisorSelect"
                    :items="supervisores"
                    item-text="supervisornombre"
                    label="supervisor"
                    solo
                    dense
                    return-object
                    outlined
                    flat
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="12" class="pt-0 pb-0">
                  <span class="text--center font-weight-bold"
                    >Nombre del grupo</span
                  >
                  <v-text-field
                    :loading="loadingNombreGrupo"
                    disabled
                    v-model="nombre_grupo"
                    placeholder="Nombre del Grupo"
                    solo
                    dense
                    outlined
                    flat
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6" class="pt-0 pb-0">
                  <span class="text--center font-weight-bold"
                    >Correo jefe de opreaciones</span
                  >
                  <v-text-field
                    v-model="correo_jefe_opraciones"
                    placeholder="Nombre del Grupo"
                    solo
                    dense
                    outlined
                    flat
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6" class="pt-0 pb-0">
                  <span class="text--center font-weight-bold"
                    >Correo supervisor</span
                  >
                  <v-text-field
                    v-model="correo_supervisor"
                    placeholder="Nombre del Grupo"
                    solo
                    dense
                    outlined
                    flat
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <v-spacer></v-spacer>
            <v-card-text class="text-center">
              <v-btn
                depressed
                color="grey lighten-2"
                class="text-capitalize font-weight-bold"
                style="width: 200px"
                @click="
                  dialog = false;
                  nombre_grupo = '';
                  supervisores = [];
                  supervisorId = '';
                  correo_jefe_opraciones = '';
                  correo_supervisor = '';
                "
                dense
                >Cancelar</v-btn
              >
              <v-btn
                color="secondary"
                class="text-capitalize font-weight-bold ml-3"
                style="width: 200px"
                @click="crearGrupo()"
                dense
                >Guardar</v-btn
              >
            </v-card-text>
          </v-card-text>
        </v-card>
      </v-dialog>
       <v-dialog v-model="dialogEliminarGrupo" max-width="618" persistent>
      <v-card>
        <v-card-title
          class="headline text-center font-weight-bold pt-9"
          style="display: block"
          >¡Está seguro!</v-card-title
        >

        <v-card-text class="text-center"
          >¿Desea eliminar este grupo?, esto sera definitivo y no se podrá des-hacer.</v-card-text
        >

        <v-card-text class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogEliminarGrupo = false"
            >Cancelar</v-btn
          >

          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="eliminarGrupo()"
            >Aceptar</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
      
    </v-row>
    <v-row justify="center">
      <v-dialog
        v-model="dialogrupo"
        persistent
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card>
          <v-container class="pt-5">
            <v-toolbar height="30" flat color="white">
              <v-toolbar-title class="font-weight-bold headline">
                <v-btn
                  style="text-decoration: none"
                  @click="dialogrupo = false"
                  class="grey--text text--darken-1"
                  black
                  small
                  text
                >
                  <span class="body-2 font-weight-bold text-capitalize">
                    <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon
                    >Inicio
                  </span>
                </v-btn>
              </v-toolbar-title>
            </v-toolbar>
            <br />
            <v-toolbar flat color="white">
              <v-toolbar-title class="font-weight-bold headline"
                >¡Bienvenido al Módulo de Edición de Grupos!</v-toolbar-title
              >
              <v-spacer></v-spacer>
              <v-btn
                class="text-capitalize"
                outlined
                color="secondary"
                @click="dialogPersonal()"
              >
                <v-icon left>mdi-account-group</v-icon>Asesores Integrantes del
                grupo
              </v-btn>
            </v-toolbar>
            <v-toolbar flat color="white">
              <v-toolbar-title class="subtitle-1"
                >Aquí podrás visualizar, agregar y/o modificar los
                asesores.</v-toolbar-title
              >
            </v-toolbar>
            <v-spacer></v-spacer>
            <v-toolbar flat color="white">
              <v-toolbar-title class="font-weight-bold headline">
                <span style="color: #d52b1e">{{ nombreCampaña }}</span>
              </v-toolbar-title>
            </v-toolbar>
            <!-- <v-divider></v-divider> -->
            <v-layout align-center justify-center>
              <v-flex xs12 sm12 md12>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-text-field
                    placeholder="Buscar"
                    v-model="search2"
                    :rules="cedulaRules"
                    :maxlength="max"
                    :counter="11"
                    required
                    min="0"
                    dense
                    solo
                    outlined
                    flat
                  >
                    <template v-slot:append-outer>
                      <v-btn
                        style="top: -6px"
                        max-width="265"
                        width="265"
                        color="secondary"
                        class="ml-5 text-capitalize font-weight-bold"
                        xs2
                        sm2
                        @click="buscarAsesor()"
                      >
                        Buscar Asesor
                        <v-icon right>mdi-magnify</v-icon>
                      </v-btn>
                    </template>
                  </v-text-field>
                </v-card-actions>
              </v-flex>
            </v-layout>
            <v-layout align-center justify-center>
              <v-flex xs12 sm12 md12 class="mt-6">
                <v-data-table
                  :headers="headersCard"
                  :items="asesor"
                  :items-per-page="5"
                  class="elevation-0"
                  hide-default-header
                  dense
                >
                  <template
                    v-slot:header="{ props: { headers } }"
                    class="elevation-4"
                  >
                    <thead class="v-data-table-header">
                      <tr>
                        <th
                          class="headtable primary accent-4 text-capitalize white--text font-weight-bold"
                          v-for="(item, index) in headers"
                          :key="index"
                        >
                          {{ item.text }}
                        </th>
                      </tr>
                    </thead>
                  </template>
                  <template v-slot:item.actions="{ item }">
                    <v-icon
                      class="mr-2"
                      @click="agregarNombre(item)"
                      color="black"
                      >mdi-plus-circle-outline</v-icon
                    >
                   
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-container>
          <br />
          <v-container>
            <v-card-text class="text-right pa-0">
              <v-btn
                depressed
                min-width="165"
                max-width="165"
                color="grey lighten-2"
                class="text-capitalize font-weight-bold mr-3"
                @click="dialogrupo = false"
                >Cancelar</v-btn
              >

              <v-btn
                depressed
                min-width="165"
                max-width="165"
                color="secondary"
                class="text-capitalize font-weight-bold ml-3"
                @click="
                  dialogrupo = false;
                  asesor = [];
                "
                >Aceptar</v-btn
              >
            </v-card-text>
          </v-container>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="dialogAgregar"
        persistent
        :overlay="false"
        max-width="618"
        transition="dialog-transition"
      >
        <v-card class="mx-auto" max-width="618" outlined>
          <v-card-title
            class="headline text-center font-weight-bold pt-9"
            style="display: block"
            >Agregar Asesor</v-card-title
          >

          <v-card-text class="text-center"
            >¿Agregar al asesor al grupo actual?</v-card-text
          >

          <!-- <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">asesor</div>
              <v-list-item-title class="headline mb-1">Agregar Asesor</v-list-item-title>
              <v-list-item-subtitle>Vas a agregar este asesor, estás de acuerdo?</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
          </v-list-item> -->

          <v-card-text class="text-center pb-9">
            <v-btn
              min-width="165"
              max-width="165"
              color="grey lighten-2"
              class="text-capitalize font-weight-bold mr-3"
              depressed
              @click="dialogAgregar = false"
              >NO</v-btn
            >
            <v-btn
              min-width="165"
              max-width="165"
              color="secondary"
              class="text-capitalize font-weight-bold mr-3"
              depressed
              @click="agregarAsesor()"
              >SI</v-btn
            >
          </v-card-text>
        </v-card>
      </v-dialog>

<v-dialog v-model="dialogEliminar" max-width="618" persistent>
      <v-card>
        <v-card-title
          class="headline text-center font-weight-bold pt-9"
          style="display: block"
          >¡Está seguro!</v-card-title
        >

        <v-card-text class="text-center"
          >¿Desea eliminar al asesor?, esto sera definitivo y no se podrá des-hacer.</v-card-text
        >

        <v-card-text class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogEliminar = false"
            >Cancelar</v-btn
          >

          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="eliminarAsesor()"
            >Aceptar</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>

      
      <v-dialog
        v-model="dialogGrupoPersonal"
        persistent
        :overlay="false"
        max-width="600px"
        transition="dialog-transition"
      >
        <v-card class="mx-auto" max-width="600px" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <!-- <div class="overline mb-4">asesores</div> -->
              <v-list-item-title class="headline mb-1 font-weight-bold"
                >Integrantes del grupo</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-card-text>
            <v-data-table
              :headers="headersPersonal"
              :items="migrupo"
              :items-per-page="5"
              class="elevation-0"
              hide-default-header
              dense
            >
              <template
                v-slot:header="{ props: { headers } }"
                class="elevation-4"
              >
                <thead class="v-data-table-header">
                  <tr>
                    <th
                      class="headtable primary accent-4 text-capitalize white--text font-weight-bold"
                      v-for="(item, index) in headers"
                      :key="index"
                    >
                      {{ item.text }}
                    </th>
                  </tr>
                </thead>
              </template>

               <template v-slot:item.actions="{ item }">
                  
                    <v-icon
                    small
                      class="mr-2"
                      @click="eliminarNombre(item)"
                      color="red"
                      >mdi-trash-can-outline</v-icon
                    >
                  </template>
            </v-data-table>
          </v-card-text>

          <v-card-text class="text-center">
            <v-btn
              depressed
              min-width="165"
              max-width="165"
              color="grey lighten-2"
              class="text-capitalize font-weight-bold mr-3"
              @click="cerrardialogpersonal()"
              >Cerrar</v-btn
            >
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
    <v-snackbar color="error" top right v-model="snackbar_error">
      <div>
        <p class="mx-2 my-2" v-for="(item, i) in text_snack" :key="i">
          —&nbsp;{{ item }}
        </p>
      </div>
      <v-btn color="white" text @click="cerrarError()">CERRAR</v-btn>
    </v-snackbar>
    <v-snackbar color="error" top right v-model="snackbar_usuario_registrado">
      <div>
        <p class="mx-2 my-2">—&nbsp;{{ asesorAgregado }}</p>
      </div>
      <v-btn color="white" text @click="snackbar_usuario_registrado = false"
        >CERRAR</v-btn
      >
    </v-snackbar>
    <v-snackbar
      color="error"
      top
      right
      v-model="snackbar_error_noencontrado"
      v-if="mensaje != ''"
    >
      <div>
        <p class="mx-2 my-2">—&nbsp;{{ mensaje }}</p>
      </div>
      <v-btn color="white" text @click="snackbar_error_noencontrado = false"
        >CERRAR</v-btn
      >
    </v-snackbar>
     <v-overlay
      fixed
      z-index="999"
      opacity="1"
      color="white"
      :value="loaderComponent"
    >
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block"
          class="display-2 primary--text text-center font-weight-bold"
          >{{ textTitleLoader }}</v-card-title
        >
        <v-card-subtitle class="headline black--text text-center">{{
          textSubTitleLoader
        }}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular
            color="primary"
            indeterminate
            size="64"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-content>
</template>

<script>
export default {
  name: "control-campaña",
  props: ["id"],
  data() {
    return {
       textTitleLoader: "Un momento por favor",
    textSubTitleLoader: "Estamos procesando tu solicitud",
      loaderComponent: true,
      loadingNombreGrupo: false,
      infoMatriz: null,
      campaignSeleccion: null,
      snackbar_cerrar: false,
      supervisorId: "",
      supervisorNombre: "",
      correo_jefe_opraciones: "",
      correo_supervisor: "",
      supervisorSelect: null,
      usuario: "",
      mensaje: "",
      text_snack: [],
      snackbar_error_noencontrado: false,
      snackbar_error: false,
      snackbar_usuario_registrado: false,
      notifications: false,
      sound: true,
      widgets: false,
      dialog: false,
      dialogrupo: false,
      campana: "",
      itemsPerPageArray: [3, 6, 9],
      search: "",
      search2: "",
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 3,
      sortBy: "name",
      headers: [
        { text: "Nombre Grupo", value: "nombre" },
        { text: "", value: "actions", sortable: false },
      ],
      headersPersonal: [
        { text: "Nombres", value: "asesores[0].nombre_usuario" },
        { text: "Apellidos", value: "asesores[0].apellido_usuario" },
        { text: "", value: "actions", sortable: false , align: 'center'},
      ],
      headersCard: [
        { text: "Nombre Asesor", value: "nombre" },
        { text: "", value: "actions", sortable: false, align: 'center' },
      ],
      nombreCampaña: null,
      gruposN: [],
      idMatriz: "",
      nombre_grupo: null,
      cedulaRules: [
        (v) => !!v || "la cédula es requerida",
        (v) => v.length <= 11 || "la cédula no puede tener mas de 11 números",
        (v) => {
          const identificacion = /[0-9]/;
          return identificacion.test(v) || "esto no es una cédula";
        },
      ],
      max: 11,
      asesor: [],
      idCampaña: "",
      dialogAgregar: false,
      idAsesor: "",
      dialogEliminar: false,
      dialogGrupoPersonal: false,
      idGrupoPersonal: "",
      migrupo: [],
      asesorAgregado: "",
      supervisores: [],
      grupoEliminar: "",
      dialogEliminarGrupo: false,
    };
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.items.length / this.itemsPerPage);
    },
    filteredKeys() {
      return this.keys.filter((key) => key !== `Name`);
    },
  },
  watch: {
    supervisorSelect() {
      this.nombre_grupo = "";
      if (this.supervisorSelect) {
        this.supervisorId = this.supervisorSelect.id_usuario;
        this.supervisorNombre = this.supervisorSelect.supervisornombre;
        this.loadingNombreGrupo = true;
        this.countGruposSupervisor();
      }
    },
  },
  methods: {
    countGruposSupervisor() {
      axios
        .post("/countGruposSupervisor/", {
          matrizId: this.$route.params.id,
          supervisorId: this.supervisorId,
          supervisorNombre: this.supervisorNombre,
          nombreCampania: this.infoMatriz.seleccion_campaign
            ? this.infoMatriz.seleccion_campaign.name
            : "",
        })
        .then((res) => {
          this.nombre_grupo = res.data.nombre;
          // this.loaderComponent = false;
          // this.infoMatriz = res.data;
          this.loadingNombreGrupo = false;
        })
        .catch((err) => {
          console.error(err);
          this.loadingNombreGrupo = false;
        });
    },
    detalleMatriz() {
      this.loaderComponent = true;
      axios
        .get("/crudMatriz/" + this.$route.params.id)
        .then((res) => {
          // this.loaderComponent = false;
          this.infoMatriz = res.data;
          this.loaderComponent = false;
        })
        .catch((err) => { 
          this.loaderComponent = false;
          console.error(err);
        });
    },
    cerrarError() {
      this.snackbar_error = false;
    },
    navigate() {
      router.go(-1);
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    },
    abrirDialog(item) {
      this.dialogrupo = true;
      this.nombreCampaña = item.nombre;
      this.idCampaña = item.id;
    },
    abrirGrupo(id) {
      this.dialog = true;
      this.idMatriz = id;
      this.traerSupervisores();
    },
    abrirEliminarGrupo(item) {
      this.dialogEliminarGrupo = true;
      this.grupoEliminar = item.id;
    },
    eliminarGrupo() {
      axios
        .post("/eliminar_grupo", {
          idGrupoEliminar: this.grupoEliminar,
        })
        .then((res) => {
          this.grupoeliminado = res.data;
          this.traerGrupos();
          this.dialogEliminarGrupo = false;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    agregarNombre(item) {
      this.dialogAgregar = true;
      this.idAsesor = item.id_usuario;
    },
    eliminarNombre(item) {
      this.dialogEliminar = true;
      this.idAsesor = item.usuario_id;
    },
    agregarAsesor() {
      this.loaderComponent = true;
      axios
        .post("/agregar-asesor", {
          idGrupo: this.idCampaña,
          idAsesor: this.idAsesor,
          idMatriz: this.$route.params.id,
        })
        .then((res) => {
          this.loaderComponent = false;
          if (typeof res.data === "string" || res.data instanceof String) {
            this.snackbar_usuario_registrado = true;
            this.asesorAgregado = res.data;
          }
          this.dialogAgregar = false;
          this.asesor = [];
        })
        .catch((error) => {
          this.loaderComponent = false;
          console.error(error);
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;
          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.text_snack.push(element);
              });
            }
          }

          this.mensaje = "Asesor no se pudo guardar";
        });
    },
    eliminarAsesor() {
      this.loaderComponent = true;
      axios
        .post("/eliminarUsuarioGrupo", {
          idGrupo: this.$route.params.id,
          idAsesor: this.idAsesor,
        })
        .then((res) => {
          this.loaderComponent = false;
          this.usuarioBorrado = res.data;
          this.dialogEliminar = false;
          this.asesor = [];
          this.dialogPersonal();
        })
        .catch((error) => {
          this.loaderComponent = false;
          console.error(error);
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.text_snack.push(element);
              });
            }
          }

          this.mensaje = "Asesor no se pudo eliminar";
        });
    },

    crearGrupo() {
      this.loaderComponent = true;
      axios
        .post("/crear-grupo", {
          id: this.idMatriz,
          nombre: this.nombre_grupo,
          supervisor_id: this.supervisorId,
          correo_jefe_opraciones: this.correo_jefe_opraciones,
          correo_supervisor: this.correo_supervisor,
        })
        .then((res) => {
          this.loaderComponent = false;
          this.grupocreado = res.data;
          this.traerGrupos();
          this.dialog = false;
          this.supervisores = [];
          this.nombre_grupo = "";
          this.supervisorId = "";
          if (typeof res.data === "string" || res.data instanceof String) {
            this.snackbar_usuario_registrado = true;
            this.asesorAgregado = res.data;
          }
        })
        .catch((error) => {
          this.loaderComponent = false;
          console.error(error);
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.text_snack.push(element);
              });
            }
          }

          this.mensaje = "EL grupo no se pudo guardar";
        });
    },
    traerGrupos() {
      axios
        .get(`/grupos/${this.$route.params.id}`)
        .then((res) => {
          this.gruposN = res.data;
        })
        .catch((error) => {
          console.error(error);
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.text_snack.push(element);
              });
            }
          }

          this.mensaje = "No se pudo traer la data de los grupos";
        });
    },
    traerSupervisores() {
      axios
        .get("/supervisores")
        .then((res) => {
          this.supervisores = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    buscarAsesor() {
      this.loaderComponent = true;
      axios
        .post("/buscar-asesor", {
          cedula: this.search2,
        })
        .then((res) => {
          this.loaderComponent = false;
          if (res.data == "") {
            this.mensaje = "asesor no encontrado";
            this.snackbar_error_noencontrado = true;
          } else {
            this.asesor = [res.data];
          }
          this.search2 = "";
        })
        .catch((error) => {
          this.loaderComponent = false;
          console.error(error);
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.text_snack.push(element);
              });
            }
          }

          this.mensaje = "No se hizo la búsqueda del asesor";
        });
    },
    dialogPersonal() {
      this.loaderComponent = true;
      this.idGrupoPersonal = this.idCampaña;
      
      axios
        .post("/misAsesores", {
          idGrupoPersonal: this.idCampaña,
        })
        .then((res) => {
           this.loaderComponent = false;
           this.dialogGrupoPersonal = true;
          this.migrupo = [];
          let arr = [];
          res.data.forEach((element) => {
            this.arr = element;
            this.migrupo.push(element);
          });
        })
        .catch((error) => {
          this.loaderComponent = false;
          console.error(error);
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.text_snack.push(element);
              });
            }
          }

          this.mensaje = "No se pudo traer los asesores del grupo";
        });
    },
    cerrardialogpersonal() {
      this.dialogGrupoPersonal = false;
      this.migrupo = [];
    },
  },
  mounted() {
    this.traerGrupos();
    this.detalleMatriz();
  },
};
</script>

<style>
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none !important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
.headtable:first-child {
  border-radius: 10px 0 0 0;
}
.headtable:last-child {
  border-radius: 0 10px 0 0;
}
</style>