<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar flat color="white">
        <v-toolbar-title class="font-weight-bold headline">¡Bienvenido al Módulo de Control!</v-toolbar-title>
      </v-toolbar>
        <v-toolbar-title class="subtitle-1 pl-3 pr-3">Aquí podrás crear y editar los grupos de las campañas.</v-toolbar-title>
      <v-container class="pt-0">
        <v-layout align-center justify-center>
          <v-flex xs12 sm12 md12 class="mt-0">
            <v-spacer></v-spacer>
            <br />
              <v-toolbar-title
                class="subtitle-1"
              >Seleccione una de las siguientes campañas para revisar las auditorías:</v-toolbar-title>
            <v-data-iterator
              :loading="cargandoConsulta"
              :items="matricesItems"
              :items-per-page.sync="itemsPerPage"
              :page="page"
              :search="search"
              :sort-by="sortBy.toLowerCase()"
              :sort-desc="sortDesc"
              hide-default-footer
            >
              <template v-slot:header>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-text-field
                    placeholder="Búsqueda por nombre de matriz"
                    v-model="searchTable"
                    dense
                    solo
                    outlined
                    flat
                    hide-details
                  >
                    <template v-slot:append-outer>
                      <v-btn
                        style="top: -6px"
                        max-width="265"
                        width="265"
                        color="secondary"
                        class="ml-5 text-capitalize font-weight-bold"
                        xs2
                        sm2
                        @click="getMatriz"
                      >
                        Buscar
                        <v-icon right>mdi-magnify</v-icon>
                      </v-btn>
                    </template>
                  </v-text-field>
                </v-card-actions>
              </template>
              <template v-slot:loading>
                <v-row>
                  <v-col v-for="item in itemsPerPage" :key="item" cols="12" sm="6" md="4" lg="3">
                    <v-skeleton-loader height="120" class="mx-auto" type="image"></v-skeleton-loader>
                  </v-col>
                </v-row>
              </template>
              <template v-slot:default="props">
                <v-row>
                  <v-col
                    v-for="matriz in props.items"
                    :key="matriz.id"
                    cols="12"
                    sm="6"
                    md="4"
                    lg="3"
                  >
                    <v-card
                      :style="'border: 2px solid ' + (matriz.activo ? '#D52B1E' : '#9e9e9e') "
                      outlined
                      height="120"
                    >
                      <v-toolbar
                        height="86"
                        :color="matriz.activo ? 'primary' : 'grey lighten-1'"
                        dark
                        flat
                      >
                        <div style="width:40px">
                          <svg
                            width="40"
                            height="40"
                            viewBox="0 0 40 40"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M31.4339 8.33327V11.6666H24.9397V8.33327H31.4339ZM15.1983 8.33327V18.3333H8.70402V8.33327H15.1983ZM31.4339 21.6666V31.6666H24.9397V21.6666H31.4339ZM15.1983 28.3333V31.6666H8.70402V28.3333H15.1983ZM34.681 4.99994H21.6925V14.9999H34.681V4.99994ZM18.4454 4.99994H5.45691V21.6666H18.4454V4.99994ZM34.681 18.3333H21.6925V34.9999H34.681V18.3333ZM18.4454 24.9999H5.45689V34.9999H18.4454V24.9999Z"
                              fill="white"
                            />
                          </svg>
                        </div>

                        <v-list-item tow-line style="width: 90%;">
                          <v-list-item-content>
                            <v-tooltip color="grey darken-4" top>
                              <template v-slot:activator="{ on }">
                                <v-list-item-title
                                  v-on="on"
                                  class="title mb-1 font-weight-bold text-capitalize"
                                >{{matriz.nombre}}</v-list-item-title>
                              </template>
                              <span>{{matriz.nombre}}</span>
                            </v-tooltip>
                            <v-list-item-subtitle>{{matriz.tipo_matriz.nombre}}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <!-- <span class="ml-3 font-weight-bold">{{item.name}}</span> -->
                        <v-spacer></v-spacer>
                        <!--  <v-btn small icon style="top: -25px;">
                          <v-icon small color="white">mdi-eye-off</v-icon>
                        </v-btn>-->
                        <!-- <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn
                              v-on="on"
                              @click="confirmarMatriz(matriz.id, matriz.nombre)"
                              small
                              icon
                              style="top: -25px;"
                            >
                              <v-icon
                                small
                                color="white"
                              >{{matriz.activo ? 'mdi-eye-off' : 'mdi-eye'}}</v-icon>
                            </v-btn>
                          </template>
                          <span>{{matriz.activo ? '¿Des-habilitar matriz?' : '¿Habilitar matriz?'}}</span>
                        </v-tooltip>-->
                      </v-toolbar>
                      <v-divider></v-divider>
                      <v-card-actions class="pa-1">
                        <!-- <span class="caption">{{matriz.created_at}}</span> -->
                        <span class="caption font-weight-bold">{{matriz.created_at}}</span>
                        <v-spacer></v-spacer>
                        <router-link
                          :to="{name: 'control-campaña', params: {id:matriz.id, nombre:matriz.nombre}}"
                          class="text--black"
                          black
                        >
                          <span class="body-2 font-weight-bold">Ingresar</span>
                        </router-link>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
              </template>

              <template v-slot:footer>
                <v-row class="mt-2 pl-4 pr-4" align="center" justify="center">
                  <span class="grey--text">Items por página</span>
                  <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                      <v-btn dark text color="primary" class="ml-2" v-on="on">
                        {{ itemsPerPage }}
                        <v-icon>mdi-chevron-down</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        v-for="(number, index) in itemsPerPageArray"
                        :key="index"
                        @click="updateItemsPerPage(number)"
                      >
                        <v-list-item-title>{{ number }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                  <span class="grey--text">
                    Registros totales
                    <strong>{{totalItems}}</strong>
                  </span>

                  <v-spacer></v-spacer>

                  <span class="mr-4 grey--text">Página {{ page }} de {{ numberOfPages }}</span>
                  <v-btn small fab dark color="secondary" class="mr-1" @click="formerPage">
                    <v-icon small>mdi-chevron-left</v-icon>
                  </v-btn>
                  <v-btn small fab dark color="secondary" class="ml-1" @click="nextPage">
                    <v-icon small>mdi-chevron-right</v-icon>
                  </v-btn>
                </v-row>
              </template>
            </v-data-iterator>
          </v-flex>
        </v-layout>
        <v-dialog v-model="dialogConfirmar" max-width="618" persistent>
          <v-card>
            <v-card-title
              class="headline text-center font-weight-bold pt-9"
              style="display:block"
            >¡Está seguro!</v-card-title>

            <v-card-text
              class="text-center"
            >¿Desea habilitar o des-habilitar la matriz, {{nombreM}}?</v-card-text>

            <v-card-text class="text-center pb-9">
              <v-btn
                :disabled="loadingConfirmar"
                depressed
                min-width="165"
                max-width="165"
                color="grey lighten-2"
                class="text-capitalize font-weight-bold mr-3"
                @click="dialogConfirmar = false"
              >Cancelar</v-btn>

              <v-btn
                :disabled="loadingConfirmar"
                :loading="loadingConfirmar"
                depressed
                min-width="165"
                max-width="165"
                color="secondary"
                class="text-capitalize font-weight-bold ml-3"
                @click="eliminarMatriz"
              >Aceptar</v-btn>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-container>
    </v-container>
  </v-content>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      itemsPerPageArray: [4, 8, 12],
      searchTable: "",
      search: "",
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 4,
      sortBy: "name",
      matricesItems: [],
      cargandoConsulta: false,
      numberOfPages: 0,
      totalItems: 0,
      dialogConfirmar: false,
      dialogConfirmar: false,
      loadingConfirmar: false,
      nombreM: ""
    };
  },
  computed: {},
  mounted() {
    this.getMatriz();
  },
  watch: {
    page() {
      this.getMatriz();
    },
    itemsPerPage() {
      this.getMatriz();
    }
  },
  methods: {
    getMatriz() {
      this.matricesItems = [];
      this.cargandoConsulta = true;
      axios
        .get(
          "/crudMatriz?search=" +
            this.searchTable +
            "&page=" +
            this.page +
            "&rowsPerPage=" +
            this.itemsPerPage
        )
        .then(res => {
          this.matricesItems = res.data.data_registros;
          this.totalItems = res.data.total_registros;
          this.numberOfPages = Math.ceil(
            res.data.total_registros / this.itemsPerPage
          );
          this.cargandoConsulta = false;
        })
        .catch(err => {
          console.error(err);
          this.cargandoConsulta = false;
        });
    },
    confirmarMatriz(idMatriz, nombreMatriz) {
      this.nombreM = nombreMatriz;
      this.dialogConfirmar = true;
      this.deleteMatrizId = idMatriz;
    },
    eliminarMatriz() {
      this.loadingConfirmar = true;
      axios
        .delete("/crudMatriz/" + this.deleteMatrizId)
        .then(res => {
          console.log(res);
          this.getMatriz();
          this.loadingConfirmar = false;

          this.dialogConfirmar = false;
          this.deleteMatrizId = 0;
        })
        .catch(err => {
          this.loadingConfirmar = false;

          this.dialogConfirmar = false;
          this.deleteMatrizId = 0;

          console.error(err);
        });
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    }
  }
};
</script>