<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar height="30" flat color="white">
        <v-toolbar-title class="font-weight-bold headline">
          <router-link
            style="text-decoration: none;"
            to="/auditor"
            class="grey--text text--darken-1"
            black
          >
            <span class="body-2 font-weight-bold">
              <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
            </span>
          </router-link>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title
          class="font-weight-bold headline"
        >¡Bienvenido al Módulo de Retroalimentación!</v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title class="subtitle-1">Consulte una auditoría por número de cédula del asesor</v-toolbar-title>
      </v-toolbar>
      <!-- <v-toolbar flat color="white">
        <v-radio-group v-model="tipoMatriz" row>
          <v-radio color="accent" label="Valor" value="valor"></v-radio>
          <v-radio color="accent" label="Cumplimiento" value="cumplimiento"></v-radio>
          <v-radio color="accent" label="Des-habilitar Matriz" value="deshabilitar"></v-radio>
        </v-radio-group>
      </v-toolbar>-->

      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md10>
          <v-card class="elevation-3 mt-9">
            <v-card-text class="pt-6 pr-9 pl-9 pb-6">
              <v-form ref="formBuscar">
                <v-row class="pt-6 pr-9 pl-9 pb-6">
                  <v-col cols="12" md="3">
                     <span class="font-weight-bold">Seleccione el asesor</span>
                    <v-select
                    :items="asesoresItems"
                    item-text="detalle_asesor.nombre"
                    item-value="detalle_asesor.cedula_usuario"
                      :rules="[rules_form.requerido]"
                      v-model="formBuscar.cedulaAesor"
                      placeholder="Buscar"
                      dense
                      solo
                      outlined
                      flat
                    ></v-select>
                    <!-- <span class="font-weight-bold">Cédula del asesor</span>
                    <v-text-field
                      :rules="[rules_form.requerido]"
                      v-model="formBuscar.cedulaAesor"
                      placeholder="Buscar"
                      dense
                      solo
                      outlined
                      flat
                    ></v-text-field> -->
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Fecha inicial</span>
                    <v-menu
                      v-model="menuDate1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :rules="[rules_form.requerido]"
                          v-on="on"
                          v-model="formBuscar.fechaInicial"
                          readonly
                          placeholder="Selecciona..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        locale="es-ES"
                        :max="formBuscar.fechaFinal ? formBuscar.fechaFinal : new Date().toJSON().slice(0, 10)"
                        v-model="formBuscar.fechaInicial"
                        @input="menuDate1 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">Fecha final</span>
                    <v-menu
                      v-model="menuDate2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-on="on"
                          :rules="[rules_form.requerido]"
                          v-model="formBuscar.fechaFinal"
                          readonly
                          placeholder="Selecciona..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        locale="es-ES"
                        :min="formBuscar.fechaInicial"
                        :max="new Date().toJSON().slice(0, 10)"
                        v-model="formBuscar.fechaFinal"
                        @input="menuDate2 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <span class="font-weight-bold">&nbsp;</span>
                    <v-btn
                      :disabled="loadingFormBuscar"
                      :loading="loadingFormBuscar"
                      @click="buscarAsesores"
                      block
                      color="secondary"
                      class="text-capitalize font-weight-bold"
                    >
                      Buscar
                      <v-icon right>mdi-magnify</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout v-if="dataFormularios.length > 0" align-center justify-center class="mt-9">
        <v-flex xs12 sm12 md12 class="pa-4">
          <v-data-table
            :footer-props="{'no-results-text': 'No se han encontrado registros',
            'loading-text': 'Cargando registros items...', 
            'page-text': '{0}-{1} de {2}',
            'items-per-page-text': 'Registros por página:',
            'items-per-page-all-text': 'Todos los registros'}"
            :page.sync="page"
            :options.sync="options"
            :items-per-page="itemsPerPage"
            :server-items-length="totalData"
            dense
            hide-default-header
            :headers="headers"
            :items="dataFormularios"
            :loading="loadingtable"
            class="elevation-0"
            @page-count="pageCount = $event"
          >
            >
            <template v-slot:header="{ props: { headers } }">
              <thead class="v-data-table-header">
                <tr>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                    v-for="(item, index) in headers"
                    :key="index"
                  >{{item.text}}</th>
                </tr>
              </thead>
            </template>
            <template v-slot:item.ver="{ item }">
              <v-btn
                @click="abrirModalRetroalimentar(item)"
                class="font-weight-bold text-capitalize"
                small
                color="primary"
                text
              >
                Ver
                <v-icon small right>mdi-magnify</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog persistent v-model="dialogRetroalimentar" max-width="950">
      <v-card>
        <v-card-title
          v-if="auditoriaSeleccionada"
          class="headline font-weight-bold pt-9 primary--text"
          style="display:block"
        >ID DE LA AUDITORÍA - {{auditoriaSeleccionada.id}}</v-card-title>

        <v-card-text>
          <v-simple-table dense v-if="auditoriaSeleccionada">
            <template v-slot:default>
              <thead class="v-data-table-header">
                <tr>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Matriz</th>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Fecha auditoría</th>
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Tipo de auditoría</th>
                  <!-- <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Teléfono auditado</th>-->
                  <th
                    class="headtable primary white--text subtitle-1 font-weight-bold text-center"
                  >Calificación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align:center">{{auditoriaSeleccionada.detalle_matriz.nombre}}</td>
                  <!-- <td></td> -->
                  <td style="text-align:center">{{auditoriaSeleccionada.created_at}}</td>
                  <td style="text-align:center">{{auditoriaSeleccionada.tipo_audioria.nombre}}</td>
                  <td style="text-align:center"
                    class="text-center display-1 font-weight-bold"
                  >{{auditoriaSeleccionada.total_punaje}}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>

          <v-row class v-if="auditoriaSeleccionada">
            <v-col cols="12" md="6" style="overflow-y: auto;
    max-height: 734px;">
              <v-expansion-panels>
                <v-expansion-panel
                  v-for="(modulo, index) in auditoriaSeleccionada.items_afectados"
                  :key="index"
                >
                  <v-expansion-panel-header class="pt-1 pb-1" color="red lighten-4">
                    <v-card-actions class="ml-0 mr-0 pa-0 font-weight-bold">
                      <v-chip
                        v-if="auditoriaSeleccionada.detalle_matriz.tipo_matriz_id == 1 || auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4 || modulo.premium"
                        color="accent"
                        small
                        class="mr-2 font-weight-bold"
                      >
                        {{modulo.detalle_item.peso}} {{auditoriaSeleccionada.detalle_matriz.tipo_matriz_id == 1 && auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4 ? '%':''}}
                        <v-icon small v-if="modulo.detalle_item.premium">mdi-star</v-icon>
                      </v-chip>
                      {{modulo.detalle_item.sigla}}-&nbsp;
                      <span
                        class="text-capitalize font-weight-bold body-2"
                      >{{modulo.detalle_item.nombre}}</span>
                      <v-spacer></v-spacer>

                      <span
                        style="min-width: 50px;margin: 0;"
                        class="text-center caption font-weight-bold"
                      >{{auditoriaSeleccionada.detalle_matriz.tipo_matriz_id == 1 ? 'Cumple' : 'Si'}}</span>
                      <span
                        style="min-width: 72px;margin: 0;"
                        class="text-center caption font-weight-bold"
                      >{{auditoriaSeleccionada.detalle_matriz.tipo_matriz_id == 1 ? 'No Cumple' : 'No'}}</span>
                      <span
                        style="min-width: 32px;margin: 0;"
                        class="text-center caption font-weight-bold"
                      >N/A</span>
                      <span
                        v-if="(auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 3) || (auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4)"
                        style="min-width: 32px;margin: 0;"
                        class="text-center caption font-weight-bold"
                      >Peso</span>
                    </v-card-actions>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="pb-3" color="red lighten-4">
                    <v-card-actions
                      v-for="(item, index) in modulo.items"
                      :key="index"
                      style="border-radius: 5px; display: grid"
                      class="white ml-0 mt-1 mr-0"
                    >
                      <div style="display: inline-flex;">
                        <v-chip
                          small
                          label
                          color="primary"
                          class="mr-2 mt-2 font-weight-bold"
                        >{{item.detalle_item.sigla}}</v-chip>&nbsp;
                        <span
                          class="text-capitalize mt-2 font-weight-bold"
                        >{{item.detalle_item.nombre}}</span>
                        <v-spacer></v-spacer>

                        <v-radio-group
                          readonly
                          value="cumple"
                          :style="((auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 3) || (auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4 && item.premium == true)) ? 'min-width:186px; max-width:186px;' :'min-width:186px; max-width:186px;' "
                          hide-details
                          class="ma-0 pt-2 pb-2"
                          row
                          :rules="[v => !!v || 'Item is required']"
                          v-model="item.type_select"
                        >
                          <v-radio
                            style="width: 50px;margin: 0;display: block;"
                            class="text-center radio-b"
                            :value="auditoriaSeleccionada.detalle_matriz.tipo_matriz_id == 1 ? 'cumple' :  'si'"
                          ></v-radio>
                          <v-radio
                            style="width: 72px;margin: 0;display: block;"
                            class="text-center radio-b"
                            :value="auditoriaSeleccionada.detalle_matriz.tipo_matriz_id == 1 ? 'no_cumple' :  'no'"
                          ></v-radio>
                          <v-radio
                            style="width: 32px;margin: 0;display: block;"
                            class="text-center radio-b"
                            value="no_aplica"
                          ></v-radio>

                          <span
                            v-if="(auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 3) || (auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4 && item.detalle_item.premium == true)"
                            style="width: 32px;margin: 0;display: block;"
                            class="text-center font-weight-bold"
                            value="radio-3"
                          >{{item.detalle_item.peso}}</span>
                          <span
                            v-else
                            style="width: 32px;margin: 0;display: block;"
                            class="text-center font-weight-bold"
                            value="radio-3"
                          >&nbsp;</span>
                          <!-- {{auditoriaSeleccionada.detalle_matriz.tipo_peso_id}} -->
                        </v-radio-group>
                      </div>
                      <div
                        style="display: inline-flex;"
                        v-for="(subitem, index) in item.subitems"
                        :key="index"
                      >
                        <v-chip
                          small
                          label
                          color="warning"
                          class="mr-2 ml-9 mt-2 font-weight-bold"
                        >{{subitem.detalle_item.sigla}}</v-chip>&nbsp;
                        <span
                          class="text-capitalize mt-2 font-weight-bold"
                        >{{subitem.detalle_item.nombre}}</span>
                        <v-spacer></v-spacer>
                        <v-spacer></v-spacer>

                        <v-radio-group
                          readonly
                          :style="((auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 3) || (auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4 && subitem.premium == true)) ? 'min-width:186px; max-width:186px;' :'min-width:186px; max-width:186px;' "
                          hide-details
                          class="ma-0 pt-2 pb-2"
                          row
                          :rules="[v => !!v || 'Item is required']"
                          v-model="subitem.type_select"
                        >
                          <v-radio
                            style="width: 50px;margin: 0;display: block;"
                            class="text-center radio-b"
                            :value="auditoriaSeleccionada.detalle_matriz.tipo_matriz_id == 1 ? 'cumple' :  'si'"
                          ></v-radio>
                          <v-radio
                            style="width: 72px;margin: 0;display: block;"
                            class="text-center radio-b"
                            :value="auditoriaSeleccionada.detalle_matriz.tipo_matriz_id == 1 ? 'no_cumple' :  'no'"
                          ></v-radio>
                          <v-radio
                            style="width: 32px;margin: 0;display: block;"
                            class="text-center radio-b"
                            value="no_aplica"
                          ></v-radio>
                          <span
                            v-if="(auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 3) || (auditoriaSeleccionada.detalle_matriz.tipo_peso_id == 4 && subitem.detalle_item.premium == true)"
                            style="width: 32px;margin: 0;display: block;"
                            class="text-center font-weight-bold"
                            value="radio-3"
                          >{{subitem.detalle_item.peso}}</span>
                          <span
                            v-else-if="auditoriaSeleccionada.detalle_matriz.tipo_matriz==2"
                            style="width: 32px;margin: 0;display: block;"
                            class="text-center font-weight-bold"
                            value="radio-3"
                          ></span>
                        </v-radio-group>
                      </div>
                    </v-card-actions>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>

              <!-- {{auditoriaSeleccionada.items_afectados}} -->
            </v-col>
            <v-col cols="12" md="6">
              <v-form ref="formAuditor">
                <v-row>
                  <!-- <v-col cols="12" md="6">
                  <span class="font-weight-bold">Items Afectados</span>
                  <v-textarea rows="4" dense solo outlined flat></v-textarea>
                  </v-col>-->
                   <v-col cols="12" md="12">
                    <span class="font-weight-bold">Observación de la auditoría:</span>
                    <v-textarea
                      disabled
                      readonly
                      v-model="auditoriaSeleccionada.observacion_auditor"
                      rows="4"
                      dense
                      filled
                      outlined
                      flat
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" md="12">
                    <span class="font-weight-bold">Retroalimentación generada:</span>
                    <v-textarea
                      v-if="auditoriaSeleccionada.retroalimentacion_auditor == '' || auditoriaSeleccionada.retroalimentacion_auditor == null"
                      :rules="[rules_form.requerido, rules_form.maximo150caracteres]"
                      v-model="formAuditor.retroalimentacion"
                      rows="4"
                      filled
                      dense
                      solo
                      outlined
                      flat
                    ></v-textarea>
                    <v-textarea
                      v-else
                      disabled
                      readonly
                      v-model="auditoriaSeleccionada.retroalimentacion_auditor"
                      rows="4"
                      filled
                      dense
                      
                      outlined
                      flat
                    ></v-textarea>
                  </v-col>
                  
                  <v-col cols="12" md="12">
                    <span class="font-weight-bold">Retroalimentación Supervisor:</span>
                    <v-textarea
                      disabled
                      readonly
                      v-model="auditoriaSeleccionada.retroalimentacion_supervisor"
                      rows="4"
                      filled
                      dense
                      
                      outlined
                      flat
                    ></v-textarea>
                  </v-col>
                 
                  <v-col cols="12" md="12">
                    <span class="font-weight-bold">Compromiso Calidad:</span>
                    <v-textarea disabled readonly rows="4"  v-model="auditoriaSeleccionada.compromiso_calidad"
dense filled outlined flat></v-textarea>
                  </v-col>
                  <v-col cols="12" md="12">
                    <span class="font-weight-bold">Compromiso Operación:</span>
                    <v-textarea disabled readonly rows="4" v-model="auditoriaSeleccionada.compromiso" dense filled outlined flat></v-textarea>
                  </v-col>
                </v-row>
              </v-form>
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-text v-if="auditoriaSeleccionada" class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogRetroalimentar = false"
          >Cancelar</v-btn>

          <v-btn
            :disabled="auditoriaSeleccionada.retroalimentacion_auditor != '' && auditoriaSeleccionada.retroalimentacion_auditor != null"
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="guardarRetroalimentacion"
          >Guardar</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-overlay fixed z-index="999" opacity="1" color="white" :value="loaderComponent">
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block;"
          class="display-2 primary--text text-center font-weight-bold"
        >{{textTitleLoader}}</v-card-title>
        <v-card-subtitle class="headline black--text text-center">{{textSubTitleLoader}}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-content>
</template>
<script>
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  data() {
    return {
       asesoresItems: [],
      loaderComponent: false,
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      loadingFormBuscar: false,
      auditoriaSeleccionada: null,
      formBuscar: {
        cedulaAesor: null,
        fechaInicial: null,
        fechaFinal: null,
      },
      formAuditor: {
        retroalimentacion: null,
      },
      menuDate1: false,
      menuDate2: false,

      page: 1,
      options: {},
      itemsPerPage: 10,
      totalData: 1, //0
      headers: [
        {
          text: "Id",
          align: "center",
          sortable: false,
          value: "id",
        },
        {
          text: "Tipo de auditoría",
          align: "center",
          sortable: false,
          value: "tipo_audioria.nombre",
        },
        {
          text: "Matriz",
          align: "center",
          sortable: false,
          value: "detalle_matriz.nombre",
        },
        {
          text: "Fecha de auditoría",
          align: "center",
          sortable: false,
          value: "created_at",
        },
        {
          text: "Cédula asesor",
          align: "center",
          sortable: false,
          value: "cedula_asesor",
        },
        {
          text: "Nombre asesor",
          align: "center",
          sortable: false,
          value: "detalle_asesor.nombre",
        },
        {
          text: "Auditado por",
          align: "center",
          sortable: false,
          value: "detalle_auditor.nombre",
        },
        // {
        //   text: "¿Quien cargo?",
        //   align: "left",
        //   sortable: false,
        //   value: "user_id"
        // },
        {
          text: "UCID",
          align: "center",
          sortable: false,
          value: "ucid",
        },
        {
          text: "Ver",
          align: "center",
          sortable: false,
          value: "ver",
        },
      ],
      dataFormularios: [
        // {
        //   id: 1,
        //   matriz: "Prueba de matriz",
        //   fecha: "2020-04-22 13:20:00",
        //   cedula: "1030649098",
        //   nombre: "Yecid Tovar",
        //   auditado: "Tambien Yecid",
        //   telefono: "3214140263"
        // }
      ],
      loadingtable: false,
      pageCount: 1, //0
      dialogRetroalimentar: false,
    };
  },
  watch: {},
  computed: {
    idMatriz() {
      return this.$route.params.idmatriz;
    },
  },
  created() {
     this.getAsesoresMatriz();
  },
  methods: {
    getAsesoresMatriz(){
      axios.post('/getAsesoresMatriz',{
        matriz_id: this.idMatriz
      })
      .then(res => {
        console.log(res)
        this.asesoresItems = res.data;
      })
      .catch(err => {
        console.error(err); 
      })
    },
    abrirModalRetroalimentar(auditoria) {
      this.auditoriaSeleccionada = null;
      // this.auditoriaSeleccionada = JSON.parse(JSON.stringify(auditoria));
      // this.dialogRetroalimentar = true;
      this.loadingFormBuscar = true;
      this.loaderComponent = true;
      axios
        .post("/buscarAsesorRetroalimentar", {
          dataForm: this.formBuscar,
          matriz_id: this.idMatriz,
          itemsafectados: true,
          id_auditoria: auditoria.id,
        })
        .then((res) => {
          console.log(res);
          // if (res.data.length > 0) {
          this.auditoriaSeleccionada = res.data;
          this.dialogRetroalimentar = true;
          // }
          this.loadingFormBuscar = false;
          this.loaderComponent = false;
        })
        .catch((err) => {
          console.error(err);
          this.loadingFormBuscar = false;
          this.loaderComponent = false;
        });
    },
    guardarRetroalimentacion() {
      if (this.$refs.formAuditor.validate()) {
        this.loaderComponent = true;
        axios
          .post("/crudRetroalimentacion", {
            idAuditoria: this.auditoriaSeleccionada.id,
            retroalimentacion: this.formAuditor.retroalimentacion
                      })
          .then((res) => {
            console.log(res);
            if (res.data.respuesta.codigo == 202) {
              this.textTitleLoader = res.data.respuesta.text;
              this.dialogRetroalimentar = false;
              this.buscarAsesores();
            } else {
              this.textTitleLoader = "Error al almacenar la información";
            }
            setTimeout(() => {
              this.loaderComponent = false;
              this.textTitleLoader = "Un momento por favor";
            }, 2000);
          })
          .catch((err) => {
            console.error(err);
          });
      }
    },
    buscarAsesores() {
      if (this.$refs.formBuscar.validate()) {
        this.loaderComponent = true;
        this.loadingFormBuscar = true;
        this.dataFormularios = [];
        this.auditoriaSeleccionada = null;
        axios
          .post("/buscarAsesorRetroalimentar", {
            dataForm: this.formBuscar,
            matriz_id: this.idMatriz,
            itemsafectados: false,
          })
          .then((res) => {
            console.log(res);
            if (res.data.length > 0) {
              this.dataFormularios = res.data;
            }
            this.loadingFormBuscar = false;

            this.loaderComponent = false;
          })
          .catch((err) => {
            console.error(err);
            this.loadingFormBuscar = false;
            this.loaderComponent = false;
          });
      }
    },
  },
};
</script>

<style>
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none!important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
.headtable:first-child {
  border-radius: 10px 0 0 0;
}
.headtable:last-child {
  border-radius: 0 10px 0 0;
}
.v-expansion-panel-content .v-expansion-panel-content__wrap {
  padding: 0 16px 0px !important;
}
.v-expansion-panel:not(:first-child):after {
    border-top: none!important;
}
.v-expansion-panel--active>.v-expansion-panel-header {
    min-height: 48px!important;
}
.v-application--is-ltr .v-expansion-panel-header__icon {
    margin-left: auto;
    position: absolute;
    left: 1px;
    top: 16px;
}
</style>