<template>
  <v-content>
    <!-- Provides the application the proper gutter -->
    <v-container>
      <v-toolbar height="30" flat color="white">
        <v-toolbar-title class="font-weight-bold headline">
          <router-link
            style="text-decoration: none"
            to="/auditor"
            class="grey--text text--darken-1"
            black
          >
            <span class="body-2 font-weight-bold">
              <v-icon left>mdi-arrow-left-bold-circle-outline</v-icon>Inicio
            </span>
          </router-link>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar v-if="infoMatriz" flat color="white">
        <v-toolbar-title style="width: 100%" class="font-weight-bold headline">
          <v-list-item class="pa-0" two-line>
            <v-list-item-content>
              <v-list-item-title
                class="headline mb-1 text-uppercase secondary--text font-weight-bold"
                >{{ infoMatriz.nombre }}</v-list-item-title
              >
              <v-list-item-subtitle
                class="text-capitalize secondary--text font-weight-bold"
                >({{ infoMatriz.tipo_matriz.nombre }})</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title class="font-weight-bold headline"
          >¡Bienvenido al Módulo de Auditoría!</v-toolbar-title
        >
      </v-toolbar>
      <v-toolbar flat color="white">
        <v-toolbar-title class="subtitle-1">
          Aquí podrás auditar con la respectiva calificación correspondiente a
          <br />la matriz asignada.
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-card
          color="primary"
          class="mx-auto mr-2"
          max-width="206"
          width="206"
          height="110"
          outlined
        >
          <v-card-title
            class="text-center white--text pa-3 body-2 font-weight-bold"
            style="display: block"
            >Calificación Campaña</v-card-title
          >
          <v-list-item>
            <v-list-item-avatar class="mt-2 mb-2" tile>
              <v-icon size="42" color="white" large>mdi-clipboard-list</v-icon>
            </v-list-item-avatar>

            <v-list-item-content
              style="height: 60px; display: grid"
              class="display-1 white--text text-center font-weight-bold pa-0"
              >{{
                !Number.isInteger(clasifiacionCampania)
                  ? clasifiacionCampania.toFixed(3).replace(/0+$/, "")
                  : clasifiacionCampania
              }}</v-list-item-content
            >
          </v-list-item>
        </v-card>
        <v-card class="mx-auto ml-2" min-width="265" height="110" outlined>
          <v-card-title
            class="primary text-center white--text pa-3 body-2 font-weight-bold"
            style="display: block"
            >Calificación Campaña</v-card-title
          >
          <v-layout align-center justify-center>
            <v-flex md="6">
              <div class="text-center pa-3 body-2 font-weight-bold">
                Auditoría Interna
                <br />
                {{ auditoriaInterna }}
              </div>
            </v-flex>
            <v-divider vertical></v-divider>
            <v-flex md="6">
              <div class="text-center pa-3 body-2 font-weight-bold">
                Auditoría Cliente
                <br />
                {{ auditoriaCliente }}
              </div>
            </v-flex>
          </v-layout>
        </v-card>
      </v-toolbar>
      <!-- <v-toolbar flat color="white">
        <v-radio-group v-model="tipoMatriz" row>
          <v-radio color="accent" label="Valor" value="valor"></v-radio>
          <v-radio color="accent" label="Cumplimiento" value="cumplimiento"></v-radio>
          <v-radio color="accent" label="Des-habilitar Matriz" value="deshabilitar"></v-radio>
        </v-radio-group>
      </v-toolbar>-->
      <v-row class="pl-4 pr-4 mt-9">
        <v-col cols="12" md="6">
          <v-card>
            <v-card-text>
              <v-form ref="formAsesor">
                <v-row class>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">Cédula de asesor</span>
                    <v-text-field
                      v-model="formAsesor.cedula_asesor"
                      placeholder="Buscar"
                      append-icon="mdi-magnify"
                      dense
                      solo
                      outlined
                      flat
                      :loading="buscarAsesorLoading"
                      @click:append="buscarAsesor"
                      :rules="[rules_form.requerido]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">Nombre del asesor</span>
                    <v-text-field
                      v-model="formAsesor.nombre_asesor"
                      disabled
                      placeholder="Nombre del asesor"
                      dense
                      solo
                      outlined
                      flat
                      :append-icon="
                        formAsesor.nombre_asesor
                          ? 'mdi-checkbox-marked-circle'
                          : 'mdi-close-circle'
                      "
                      :rules="[rules_form.requerido]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">Fecha llamada auditada</span>

                    <v-menu
                      v-model="menuDate1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          readonly
                          v-on="on"
                          v-model="formAsesor.fecha_llamada"
                          placeholder="Seleccione..."
                          append-icon="mdi-calendar"
                          dense
                          solo
                          outlined
                          flat
                          :rules="[rules_form.requerido]"
                          @click:append="menuDate1 = true"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        :max="new Date().toJSON().slice(0, 10)"
                        locale="es-ES"
                        v-model="formAsesor.fecha_llamada"
                        @input="menuDate1 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>

                  <v-col cols="12" md="6">
                    <span class="font-weight-bold"
                      >Número teléfono auditado</span
                    >
                    <v-text-field
                      v-model="formAsesor.tlf_auditados"
                      placeholder="Número teléfono"
                      dense
                      solo
                      outlined
                      flat
                      :rules="[rules_form.requerido]"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" md="6">
                    <span class="font-weight-bold"
                      >Hora contacto asesor-cliente</span
                    >
                    <v-text-field
                      pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$"
                      v-model="formAsesor.hora_contacto"
                      type="time"
                      append-icon="mdi-clock-outline"
                      dense
                      solo
                      outlined
                      flat
                      :rules="[rules_form.requerido]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">Duración grabación</span>

                    <v-row>
                      <v-col cols="12" md="6" class="pt-0">
                        <v-text-field
                          v-model="formAsesor.grabacion_minutos"
                          placeholder="Minutos"
                          append-icon="mdi-clock-outline"
                          dense
                          solo
                          outlined
                          flat
                          :rules="[rules_form.requerido, rules_form.numeros]"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" md="6" class="pt-0">
                        <v-text-field
                          v-model="formAsesor.grabacion_segundos"
                          placeholder="Segundos"
                          append-icon="mdi-clock-outline"
                          dense
                          solo
                          outlined
                          flat
                          :rules="[rules_form.requerido, rules_form.numeros]"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">Tipo de monitoreo</span>
                    <v-select
                      v-model="formAsesor.tipo_monitoreo_id"
                      placeholder="Seleccione..."
                      dense
                      solo
                      outlined
                      flat
                      :items="tipoMonitoreoItems"
                      item-value="id"
                      item-text="nombre"
                      :rules="[rules_form.requerido]"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">Tipo de servicio</span>
                    <v-select
                      v-model="formAsesor.tipo_servicio_id"
                      placeholder="Seleccione..."
                      dense
                      solo
                      outlined
                      flat
                      :items="tipoServicioItems"
                      item-value="id"
                      item-text="nombre"
                      :rules="[rules_form.requerido]"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">UCID</span>
                    <v-text-field
                      v-model="formAsesor.ucid"
                      placeholder="UCID"
                      dense
                      solo
                      outlined
                      flat
                      :rules="[rules_form.requerido]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">Tipo de auditoría</span>
                    <v-select
                      v-model="formAsesor.tipo_auditoria_id"
                      placeholder="Seleccione..."
                      dense
                      solo
                      outlined
                      flat
                      :items="tipoAuditoriaItems"
                      item-value="id"
                      item-text="nombre"
                      :rules="[rules_form.requerido]"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold"
                      >Solución primer contácto</span
                    >
                    <v-select
                      v-model="formAsesor.solucion_primer_contacto_id"
                      placeholder="Seleccione..."
                      dense
                      solo
                      outlined
                      flat
                      :items="tipoSolucionContactoItems"
                      item-value="id"
                      item-text="nombre"
                      :rules="[rules_form.requerido]"
                    ></v-select>
                  </v-col>
                  <v-col
                    v-if="formAsesor.solucion_primer_contacto_id == 17"
                    cols="12"
                    md="6"
                  >
                    <span class="font-weight-bold">Razón de no solución</span>
                    <v-select
                      v-model="formAsesor.razon_solucion_id"
                      placeholder="Seleccione..."
                      dense
                      solo
                      outlined
                      flat
                      :items="razonesItems"
                      item-value="id"
                      item-text="nombre"
                      :rules="[rules_form.requerido]"
                    ></v-select>
                  </v-col>
                  <v-col
                    v-if="formAsesor.solucion_primer_contacto_id == 17"
                    cols="12"
                    md="12"
                  >
                    <span class="font-weight-bold"
                      >¿Por qué no se brindó solución?</span
                    >
                    <v-textarea
                      v-model="formAsesor.porque_no"
                      placeholder="..."
                      dense
                      solo
                      outlined
                      flat
                      :rules="[rules_form.requerido]"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" md="6">
                    <span class="font-weight-bold">OJT</span>
                    <v-select
                      v-model="formAsesor.ojt_id"
                      placeholder="Seleccione..."
                      dense
                      solo
                      outlined
                      flat
                      :items="ojtItems"
                      item-value="id"
                      item-text="nombre"
                      :rules="[rules_form.requerido]"
                    ></v-select>
                  </v-col>
                  <v-col v-if="formAsesor.ojt_id == 18" cols="12" md="6">
                    <span class="font-weight-bold">Día</span>
                    <v-select
                      v-model="formAsesor.seleccionar_dia"
                      placeholder="Seleccione..."
                      dense
                      solo
                      outlined
                      flat
                      :items="seleccionDiaItems"
                      item-value="id"
                      item-text="nombre"
                      :rules="[rules_form.requerido]"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="12">
                    <span class="font-weight-bold">Observaciones</span>
                    <v-textarea
                      v-model="formAsesor.observacion_auditor"
                      placeholder="..."
                      dense
                      solo
                      outlined
                      flat
                      :rules="[rules_form.requerido]"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" md="12">
                    <v-card-actions class="text-center" style="display: block">
                      <v-btn
                        @click="enviarFormAuditor"
                        :disabled="loaderComponent"
                        :loading="loaderComponent"
                        max-width="265"
                        width="265"
                        color="secondary"
                        class="ml-5 text-capitalize font-weight-bold"
                        >Guardar</v-btn
                      >
                    </v-card-actions>
                  </v-col>
                </v-row>
                <!-- <code>{{seleccionItemsAfectacion}}</code> -->
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col
          cols="12"
          md="6"
          style="overflow-y: auto; max-height: 1031.2px"
          v-if="infoMatriz"
        >
          <v-form ref="formItems">
            <v-expansion-panels>
              <v-expansion-panel
                v-for="(modulo, index) in infoMatriz.modulos"
                :key="index"
              >
                <v-expansion-panel-header
                  class="pt-1 pb-1"
                  color="red lighten-4"
                >
                  <v-card-actions class="ml-0 mr-0 pa-0 font-weight-bold">
                    <v-chip
                      v-if="
                        infoMatriz.tipo_matriz_id == 1 ||
                        infoMatriz.tipo_peso_id == 4 ||
                        modulo.premium
                      "
                      color="accent"
                      small
                      class="mr-2 font-weight-bold"
                    >
                      {{ modulo.peso }}
                      {{
                        infoMatriz.tipo_matriz_id == 1 &&
                        infoMatriz.tipo_peso_id == 4
                          ? "%"
                          : ""
                      }}
                      <v-icon small v-if="modulo.premium">mdi-star</v-icon>
                    </v-chip>
                    {{ modulo.sigla }}-&nbsp;
                    <span class="text-capitalize font-weight-bold body-2">{{
                      modulo.nombre
                    }}</span>
                    <v-spacer></v-spacer>

                    <span
                      style="width: 50px; margin: 0"
                      class="text-center caption font-weight-bold"
                      >{{
                        infoMatriz.tipo_matriz_id == 1 ? "Cumple" : "Si"
                      }}</span
                    >
                    <span
                      style="width: 72px; margin: 0"
                      class="text-center caption font-weight-bold"
                      >{{
                        infoMatriz.tipo_matriz_id == 1 ? "No Cumple" : "No"
                      }}</span
                    >
                    <span
                      style="width: 32px; margin: 0"
                      class="text-center caption font-weight-bold"
                      >N/A</span
                    >
                    <span
                      v-if="
                        infoMatriz.tipo_peso_id == 3 ||
                        infoMatriz.tipo_peso_id == 4
                      "
                      style="width: 32px; margin: 0"
                      class="text-center caption font-weight-bold"
                      >Peso</span
                    >
                  </v-card-actions>
                </v-expansion-panel-header>
                <v-expansion-panel-content
                  eager
                  class="pb-3"
                  color="red lighten-4"
                >
                  <v-expansion-panels>
                    <v-expansion-panel
                      v-for="(item, index) in modulo.items_modulo"
                      :key="index"
                    >
                      <v-expansion-panel-header
                        class="no-opacity pt-1 pb-1 pr-0"
                        color="red lighten-4"
                      >
                        <v-card-actions
                          style="border-radius: 5px; display: grid"
                          class="white ml-0 mt-1 mr-0 pt-0 pb-0"
                        >
                          <div style="display: inline-flex">
                            <v-chip
                              small
                              label
                              color="primary"
                              class="mr-2 mt-2 font-weight-bold"
                              >{{ item.sigla }}</v-chip
                            >&nbsp;
                            <span
                              class="text-capitalize mt-2 font-weight-bold"
                              >{{ item.nombre }}</span
                            >
                            <v-spacer></v-spacer>

                            <v-radio-group
                              :style="
                                infoMatriz.tipo_peso_id == 3 ||
                                (infoMatriz.tipo_peso_id == 4 &&
                                  item.premium == true)
                                  ? 'min-width:186px; max-width:186px;'
                                  : 'min-width:186px; max-width:186px;'
                              "
                              hide-details
                              class="ma-0 pt-2 pb-2"
                              row
                              :rules="[(v) => !!v || 'Item is required']"
                              v-model="item.type_select"
                              @click.native.stop="procesarItems(item, 'item')"
                            >
                              <v-radio
                                style="width: 50px; margin: 0; display: block"
                                class="text-center radio-b"
                                :value="
                                  infoMatriz.tipo_matriz_id == 1
                                    ? 'cumple'
                                    : 'si'
                                "
                              ></v-radio>
                              <v-radio
                                style="width: 72px; margin: 0; display: block"
                                class="text-center radio-b"
                                :value="
                                  infoMatriz.tipo_matriz_id == 1
                                    ? 'no_cumple'
                                    : 'no'
                                "
                              ></v-radio>
                              <v-radio
                                style="width: 32px; margin: 0; display: block"
                                class="text-center radio-b"
                                value="no_aplica"
                              ></v-radio>

                              <span
                                v-if="
                                  infoMatriz.tipo_peso_id == 3 ||
                                  (infoMatriz.tipo_peso_id == 4 &&
                                    item.premium == true)
                                "
                                style="width: 32px; margin: 0"
                                class="text-center font-weight-bold"
                                value="radio-3"
                                >{{ item.peso }}</span
                              >
                              <span
                                v-else-if="infoMatriz.tipo_matriz == 2"
                                style="width: 32px; margin: 0"
                                class="text-center font-weight-bold"
                                value="radio-3"
                              ></span>
                              <!-- {{infoMatriz.tipo_peso_id}} -->
                            </v-radio-group>
                          </div>
                        </v-card-actions>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content
                        class="pb-3"
                        color="red lighten-4"
                        eager
                      >
                        <div
                          style="display: flex"
                          v-for="(subitem, index) in item.subItems"
                          :key="index"
                        >
                          <v-chip
                            small
                            label
                            color="warning"
                            class="mr-2 ml-9 mt-2 font-weight-bold"
                            >{{ subitem.sigla }}</v-chip
                          >&nbsp;
                          <span class="text-capitalize mt-2 font-weight-bold">{{
                            subitem.nombre
                          }}</span>
                          <v-spacer></v-spacer>
                          <v-spacer></v-spacer>

                          <v-radio-group
                            :style="
                              infoMatriz.tipo_peso_id == 3 ||
                              (infoMatriz.tipo_peso_id == 4 &&
                                subitem.premium == true)
                                ? 'min-width:177px; max-width:177px;'
                                : 'min-width:177px; max-width:177px;'
                            "
                            hide-details
                            class="ma-0 pt-2 pb-2"
                            row
                            :rules=" item.subItemsActivos ? [(v) => !!v || 'Item is required'] : []"
                            v-model="subitem.type_select"
                            @change="procesarItems(subitem, 'subitem', modulo)"
                            :disabled="!item.subItemsActivos"
                          >
                            <v-radio
                              style="width: 50px; margin: 0; display: block"
                              class="text-center radio-b"
                              :value="
                                infoMatriz.tipo_matriz_id == 1 ? 'cumple' : 'si'
                              "
                            ></v-radio>
                            <v-radio
                              style="width: 72px; margin: 0; display: block"
                              class="text-center radio-b"
                              :value="
                                infoMatriz.tipo_matriz_id == 1
                                  ? 'no_cumple'
                                  : 'no'
                              "
                            ></v-radio>
                            <v-radio
                              style="width: 32px; margin: 0; display: block"
                              class="text-center radio-b"
                              value="no_aplica"
                            ></v-radio>
                            <span
                              v-if="
                                infoMatriz.tipo_peso_id == 3 ||
                                (infoMatriz.tipo_peso_id == 4 &&
                                  subitem.premium == true)
                              "
                              style="width: 32px; margin: 0; display: block"
                              class="text-center font-weight-bold"
                              value="radio-3"
                              >{{ subitem.peso }}</span
                            >
                            <span
                              v-else-if="infoMatriz.tipo_matriz == 2"
                              style="width: 32px; margin: 0; display: block"
                              class="text-center font-weight-bold"
                              value="radio-3"
                            ></span>
                          </v-radio-group>
                        </div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            <!-- <v-card
              class="pa-1 pb-3 mb-2"
              color="red lighten-4"
              elevation="0"
              outlined
              v-for="(modulo, index) in infoMatriz.modulos"
              :key="index"
            >
              <v-card-actions class="ml-2 mr-2 font-weight-bold">
                <v-chip
                  v-if="infoMatriz.tipo_matriz_id == 1 || infoMatriz.tipo_peso_id == 4 || modulo.premium"
                  color="accent"
                  small
                  class="mr-2 font-weight-bold"
                >
                  {{modulo.peso}} {{infoMatriz.tipo_matriz_id == 1 && infoMatriz.tipo_peso_id == 4 ? '%':''}}
                  <v-icon small v-if="modulo.premium">mdi-star</v-icon>
                </v-chip>
                {{modulo.sigla}}-&nbsp;
                <span
                  class="text-capitalize font-weight-bold body-2"
                >{{modulo.nombre}}</span>
                <v-spacer></v-spacer>

                <span
                  style="width: 50px;margin: 0;"
                  class="text-center caption font-weight-bold"
                >{{infoMatriz.tipo_matriz_id == 1 ? 'Cumple' : 'Si'}}</span>
                <span
                  style="width: 72px;margin: 0;"
                  class="text-center caption font-weight-bold"
                >{{infoMatriz.tipo_matriz_id == 1 ? 'No Cumple' : 'No'}}</span>
                <span
                  style="width: 32px;margin: 0;"
                  class="text-center caption font-weight-bold"
                >N/A</span>
                <span
                  v-if="(infoMatriz.tipo_peso_id == 3) || (infoMatriz.tipo_peso_id == 4)"
                  style="width: 32px;margin: 0;"
                  class="text-center caption font-weight-bold"
                >Peso</span>
              </v-card-actions>
              <v-card-actions
                v-for="(item, index) in modulo.items_modulo"
                :key="index"
                style="border-radius: 5px; display: grid"
                class="white ml-2 mt-1 mr-2"
              >
                <div style="display: inline-flex;">
                  <v-chip
                    small
                    label
                    color="primary"
                    class="mr-2 mt-2 font-weight-bold"
                  >{{item.sigla}}</v-chip>&nbsp;
                  <span class="text-capitalize mt-2 font-weight-bold">{{item.nombre}}</span>
                  <v-spacer></v-spacer>

                  <v-radio-group
                    :style="((infoMatriz.tipo_peso_id == 3) || (infoMatriz.tipo_peso_id == 4 && item.premium == true)) ? 'min-width:186px; max-width:186px;' :'min-width:186px; max-width:186px;' "
                    hide-details
                    class="ma-0 pt-2 pb-2"
                    row
                    :rules="[v => !!v || 'Item is required']"
                    v-model="item.type_select"
                    @change="procesarItems(item, 'item')"
                  >
                    <v-radio
                      style="width: 50px;margin: 0;"
                      class="text-center radio-b"
                      :value="infoMatriz.tipo_matriz_id == 1 ? 'cumple' :  'si'"
                    ></v-radio>
                    <v-radio
                      style="width: 72px;margin: 0;"
                      class="text-center radio-b"
                      :value="infoMatriz.tipo_matriz_id == 1 ? 'no_cumple' :  'no'"
                    ></v-radio>
                    <v-radio
                      style="width: 32px;margin: 0;"
                      class="text-center radio-b"
                      value="no_aplica"
                    ></v-radio>

                    <span
                      v-if="(infoMatriz.tipo_peso_id == 3) || (infoMatriz.tipo_peso_id == 4 && item.premium == true)"
                      style="width: 32px;margin: 0;"
                      class="text-center font-weight-bold"
                      value="radio-3"
                    >{{item.peso}}</span>
                    <span
                      v-else-if="infoMatriz.tipo_matriz==2"
                      style="width: 32px;margin: 0;"
                      class="text-center font-weight-bold"
                      value="radio-3"
                    ></span>
                     {{infoMatriz.tipo_peso_id}} 
                  </v-radio-group>
                </div>
                <div
                  style="display: inline-flex;"
                  v-for="(subitem, index) in item.subItems"
                  :key="index"
                >
                  <v-chip
                    small
                    label
                    color="warning"
                    class="mr-2 ml-9 mt-2 font-weight-bold"
                  >{{subitem.sigla}}</v-chip>&nbsp;
                  <span class="text-capitalize mt-2 font-weight-bold">{{subitem.nombre}}</span>
                  <v-spacer></v-spacer>
                  <v-spacer></v-spacer>

                  <v-radio-group
                    :style="((infoMatriz.tipo_peso_id == 3) || (infoMatriz.tipo_peso_id == 4 && subitem.premium == true)) ? 'min-width:186px; max-width:186px;' :'min-width:186px; max-width:186px;' "
                    hide-details
                    class="ma-0 pt-2 pb-2"
                    row
                    :rules="[v => !!v || 'Item is required']"
                    v-model="subitem.type_select"
                    @change="procesarItems(subitem, 'subitem', modulo)"
                    :disabled="!item.subItemsActivos"
                  >
                    <v-radio
                      style="width: 50px;margin: 0;"
                      class="text-center radio-b"
                      :value="infoMatriz.tipo_matriz_id == 1 ? 'cumple' :  'si'"
                    ></v-radio>
                    <v-radio
                      style="width: 72px;margin: 0;"
                      class="text-center radio-b"
                      :value="infoMatriz.tipo_matriz_id == 1 ? 'no_cumple' :  'no'"
                    ></v-radio>
                    <v-radio
                      style="width: 32px;margin: 0;"
                      class="text-center radio-b"
                      value="no_aplica"
                    ></v-radio>
                    <span
                      v-if="(infoMatriz.tipo_peso_id == 3) || (infoMatriz.tipo_peso_id == 4 && subitem.premium == true)"
                      style="width: 32px;margin: 0;"
                      class="text-center font-weight-bold"
                      value="radio-3"
                    >{{subitem.peso}}</span>
                    <span
                      v-else-if="infoMatriz.tipo_matriz==2"
                      style="width: 32px;margin: 0;"
                      class="text-center font-weight-bold"
                      value="radio-3"
                    ></span>
                  </v-radio-group>
                </div>
              </v-card-actions>
            </v-card>-->
          </v-form>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="dialogFormularioPrefuntas" max-width="618" scrollable>
      <v-card v-if="infoMatriz && infoMatriz.formuarioEncuesta">
        <v-card-title
          class="headline text-center font-weight-bold pt-9"
          style="display: block"
          >{{ infoMatriz.formuarioEncuesta.nombre }}</v-card-title
        >

        <v-card-text class="">
          <v-form ref="formPreguntas">
            <renderpregunta
              @campoOtraRespuesta="otraRespuesta"
              v-for="(item, indexP) in infoMatriz.formuarioEncuesta
                .preguntas_acivas"
              :key="indexP"
              :identificador="indexP"
              :elemento="item"
            ></renderpregunta>
          </v-form>
        </v-card-text>

        <v-card-title class="text-center pb-9" style="display: block">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogFormularioPrefuntas = false"
            >Cancelar</v-btn
          >

          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="confirmarEnvioOk"
            >Enviar Respuestas</v-btn
          >
        </v-card-title>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogConfirmar" max-width="618">
      <v-card>
        <v-card-title
          class="headline text-center font-weight-bold pt-9"
          style="display: block"
          >¡Está seguro!</v-card-title
        >

        <v-card-text class="text-center"
          >¿Deseas des-habilitar el módulo de la matriz de calidad?</v-card-text
        >

        <v-card-text class="text-center pb-9">
          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="grey lighten-2"
            class="text-capitalize font-weight-bold mr-3"
            @click="dialogConfirmar = false"
            >Cancelar</v-btn
          >

          <v-btn
            depressed
            min-width="165"
            max-width="165"
            color="secondary"
            class="text-capitalize font-weight-bold ml-3"
            @click="dialogConfirmar = false"
            >Aceptar</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-overlay
      fixed
      z-index="999"
      opacity="1"
      color="white"
      :value="loaderComponent"
    >
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block"
          class="display-2 primary--text text-center font-weight-bold"
          >{{ textTitleLoader }}</v-card-title
        >
        <v-card-subtitle class="headline black--text text-center">{{
          textSubTitleLoader
        }}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular
            color="primary"
            indeterminate
            size="64"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
    <v-snackbar color="primary" top right v-model="snackbarValidaciones">
      <v-alert class="ma-0" color="primary" dark>
        <ul>
          <li
            v-for="(error, index) in erroresRetornados"
            :key="index"
            class="font-weight-bold caption"
          >
            {{ error }}
          </li>
        </ul>
      </v-alert>
    </v-snackbar>
  </v-content>
</template>
<script>
function initialState() {
  return {
    dialogFormularioPrefuntas: false,
    menuDate1: false,
    snackbarValidaciones: false,
    erroresRetornados: [],
    seleccionItemsDB: [],
    seleccionItemsAfectacion: [],
    tipoMonitoreoItems: [],
    tipoServicioItems: [],
    tipoAuditoriaItems: [],
    tipoSolucionContactoItems: [],
    razonesItems: [],
    seleccionDiaItems: [
      {
        id: 1,
        nombre: "Día 1",
      },
      {
        id: 2,
        nombre: "Día 2",
      },
      {
        id: 3,
        nombre: "Día 3",
      },
      {
        id: 4,
        nombre: "Día 4",
      },
      {
        id: 5,
        nombre: "Día 5",
      },
      {
        id: 6,
        nombre: "Día 6",
      },
      {
        id: 7,
        nombre: "Día 7",
      },
      {
        id: 8,
        nombre: "Día 8",
      },
      {
        id: 9,
        nombre: "Día 9",
      },
      {
        id: 10,
        nombre: "Día 10",
      },
      {
        id: 11,
        nombre: "Día 11",
      },
      {
        id: 12,
        nombre: "Día 12",
      },
    ],
    ojtItems: [],
    formAsesor: {
      asesor_id: null,
      cedula_asesor: null,
      nombre_asesor: null,
      fecha_llamada: null,
      tlf_auditados: null,
      hora_contacto: null,
      ucid: null,
      grabacion_minutos: null,
      grabacion_segundos: null,
      tipo_monitoreo_id: null,
      tipo_servicio_id: null,
      tipo_auditoria_id: null,
      solucion_primer_contacto_id: null,
      razon_solucion_id: null,
      porque_no: null,
      ojt_id: null,
      seleccionar_dia: 0,
      // matriz_id: null,
      // auditor_id: null,
      observacion_auditor: null,
      total_punaje: null,
      observacion_encuesta: null,
      retroalimentacion: null,
      compromiso: null,
      encuesta_id: null,
      maximo_puntaje: null,
    },
    // a: "cumple",
    textTitleLoader: "Un momento por favor",
    textSubTitleLoader: "Estamos procesando tu solicitud",
    infoMatriz: null,
    loaderComponent: false,
    clasifiacionCampania: 0,
    auditoriaInterna: 0,
    auditoriaCliente: 0,

    buscarAsesorLoading: false,
    dialogConfirmar: false,
    tipoMatriz: "valor", //cumplimiento/valor
  };
}

import renderpregunta from "./renderPreguntas";
import reglasForm from "../../import/reglasForm";
export default {
  mixins: [reglasForm],
  components: {
    renderpregunta,
  },
  data() {
    return initialState();
  },
  watch: {
    "formAsesor.solucion_primer_contacto_id"() {
      if (this.formAsesor.solucion_primer_contacto_id == 17) {
        this.getRazones();
      } else {
        this.formAsesor.razon_solucion_id = null;
        this.formAsesor.porque_no = null;
        this.razonesItems = [];
      }
    },
    "formAsesor.ojt_id"() {
      if (this.formAsesor.ojt_id != 18) {
        this.formAsesor.seleccionar_dia = null;
      }
    },

    clasifiacionCampania() {
      //{{ !Number.isInteger(clasifiacionCampania) ? clasifiacionCampania.toFixed(3).replace(/0+$/, "") : clasifiacionCampania }}
      this.formAsesor.total_punaje = !Number.isInteger(
        this.clasifiacionCampania
      )
        ? this.clasifiacionCampania.toFixed(3).replace(/0+$/, "")
        : this.clasifiacionCampania;
    },
    "formAsesor.cedula_asesor"() {
      this.formAsesor.nombre_asesor = null;
      this.formAsesor.asesor_id = null;
    },
  },
  mounted() {
    this.inciarComponente();
  },
  computed: {
    idMatriz() {
      return this.$route.params.idmatriz;
    },
  },
  methods: {
    inciarComponente() {
      this.detalleMatriz();
      this.getTiposMonitoreo();
      this.getTiposServicio();
      this.getTiposAuditoria();
      this.getTiposSolucionContacto();
      this.getOjt();
    },
    otraRespuesta(indexPregunta, valor, status) {
      if (status == "mostrar") {
        this.infoMatriz.formuarioEncuesta.preguntas_acivas[
          indexPregunta
        ].pregunta.respuesta_usuario_otra_enable = true;
      } else {
        this.infoMatriz.formuarioEncuesta.preguntas_acivas[
          indexPregunta
        ].pregunta.respuesta_usuario_otra_enable = false;

        this.infoMatriz.formuarioEncuesta.preguntas_acivas[
          indexPregunta
        ].pregunta.respuesta_usuario_otra = null;
      }
    },
    getRazones() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 9,
        })
        .then((res) => {
          this.razonesItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    buscarAsesor() {
      this.buscarAsesorLoading = true;
      this.snackbarValidaciones = false;
      this.erroresRetornados = [];
      axios
        .post("/buscarAsesor", {
          cedula_asesor: this.formAsesor.cedula_asesor,
          matriz_id: this.idMatriz,
        })
        .then((res) => {
          this.buscarAsesorLoading = false;

          // console.log(res);
          if (res.data.nombre) {
            this.formAsesor.nombre_asesor = res.data.nombre;
            this.formAsesor.asesor_id = res.data.id_usuario;
          } else {
            //ASESOR NO ENCONTRADO
            this.snackbarValidaciones = true;
            this.erroresRetornados = [
              "No se ha encontrado el asesor con cédula " +
                this.formAsesor.cedula_asesor,
            ];
          }
        })
        .catch((err) => {
          this.buscarAsesorLoading = false;

          console.error(err);
        });
    },
    getTiposMonitoreo() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 3,
        })
        .then((res) => {
          this.tipoMonitoreoItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getTiposServicio() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 4,
        })
        .then((res) => {
          this.tipoServicioItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getTiposAuditoria() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 5,
        })
        .then((res) => {
          this.tipoAuditoriaItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getTiposSolucionContacto() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 7,
        })
        .then((res) => {
          this.tipoSolucionContactoItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getOjt() {
      axios
        .post("/listarItems", {
          nivel: 1,
          padre_id: null,
          clasificacion_id: 8,
        })
        .then((res) => {
          this.ojtItems = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    enviarFormAuditor() {
      if (this.$refs.formItems.validate() && this.$refs.formAsesor.validate()) {
        if (
          this.infoMatriz.tiene_encuesta &&
          this.infoMatriz.formuarioEncuesta
        ) {
          //TIENE ENCUESTA
          this.dialogFormularioPrefuntas = true;
        } else {
          //NO TIENE ENCUESTA
          this.confirmarEnvioOk();
        }
      } else if (!this.$refs.formItems.validate()) {
        this.snackbarValidaciones = true;
        this.erroresRetornados = ["No se ha completado la matriz de calidad"];
      } else if (!this.$refs.formAsesor.validate()) {
        this.snackbarValidaciones = true;
        this.erroresRetornados = [
          "Aún no se diligencia el formulario con la información necesaria",
        ];
      }

      console.log(this.$refs.formItems.validate());
    },

    confirmarEnvioOk() {
      //formPreguntas
      if (this.infoMatriz.tiene_encuesta && this.infoMatriz.formuarioEncuesta) {
        if (!this.$refs.formPreguntas.validate()) {
          this.snackbarValidaciones = true;
          this.erroresRetornados = [
            "Aún falta diligenciar el formulario voz cliente.",
          ];
          return false;
        }
      }

      this.loaderComponent = true;
      axios
        .post("/crudAuditoria", {
          formAsesor: this.formAsesor,
          seleccionItemsAfectacion: this.seleccionItemsAfectacion,
          matriz_id: this.idMatriz,
          encuesta: this.infoMatriz.formuarioEncuesta,
        })
        .then((res) => {
          // console.log(res);
          if (res.data.respuesta.codigo == 202) {
            this.textTitleLoader = res.data.respuesta.text;
            // this.buscarAsesores();
          } else {
            this.textTitleLoader = "Error al almacenar la información";
          }
          setTimeout(() => {
            this.loaderComponent = false;
            this.textTitleLoader = "Un momento por favor";
            if (res.data.respuesta.codigo == 202) {
              Object.assign(this.$data, initialState());
              this.$refs.formAsesor.resetValidation();
              this.inciarComponente();
              //  this.$forceUpdate();
              // this.$router.push("/supervisor");
            }
            //
          }, 2000);
        })
        .catch((err) => {
          console.error(err);
          this.textTitleLoader = "Error al almacenar la información";
          this.loaderComponent = false;
        });
    },

    procesarItems(item, typeItem, moduloPadre) {
      console.log(item);
      //  return false;
      var descontar, sumar;
      if (
        (item.type_select == "no_cumple" || item.type_select == "no") &&
        typeItem == "item"
      ) {
        descontar = item.peso_padre / item.total_items;
      } else {
        descontar = 0;
      }
      if (item.type_select == "no_aplica" && typeItem == "item") {
        item.subItemsActivos = false; //desactivar subitems
        item.subItems.forEach((element) => {
          element.type_select = null;
        });
      } else {
        item.subItemsActivos = true; //activar subitems
      }
      var padre = item.padre_id;
      var pesoP = item.peso_padre;
      var errorCritioP = item.error_critico;

      if (typeItem == "subitem") {
        padre = moduloPadre.id;
        pesoP = moduloPadre.peso;
        errorCritioP = moduloPadre.error_critico;
      }

      var keyArrayAfectacion = this.seleccionItemsAfectacion.findIndex(
        (itemElement) => itemElement.padre_id === padre
      );

      if (keyArrayAfectacion == -1) {
        this.seleccionItemsAfectacion.push({
          padre_id: padre,
          error_critico: errorCritioP,
          premium: item.premium,
          peso: pesoP,
          tipo_matriz_id: this.infoMatriz.tipo_matriz_id,
          tipo_peso_id: this.infoMatriz.tipo_peso_id,
          itemsAfectados: [],
          puntaje: null,
          puntaje_obtenido: null,
        });

        keyArrayAfectacion = this.seleccionItemsAfectacion.findIndex(
          (itemElement) => itemElement.padre_id === padre
        );
      }

      if (
        this.seleccionItemsAfectacion[keyArrayAfectacion].itemsAfectados
          .length > 0
      ) {
        const keyItem = this.seleccionItemsAfectacion[
          keyArrayAfectacion
        ].itemsAfectados.findIndex(
          (itemElement) => itemElement.item_id === item.id
        );
        // alert(keyItem);

        if (keyItem != -1) {
          this.seleccionItemsAfectacion[
            keyArrayAfectacion
          ].itemsAfectados.splice(keyItem, 1);
        }
      }

      this.seleccionItemsAfectacion[keyArrayAfectacion].itemsAfectados.push({
        item_id: item.id,
        error_critico: item.error_critico,
        premium: item.premium,
        type_seleccion: item.type_select,
        total_items: item.total_items,
        padreitem: item.padre_id,
        typeItem: typeItem,
        peso: item.peso,
        puntaje: null,
        puntaje_obtenido: null,
      });

      this.calcularAfectacion();
    },
    calcularAfectacion() {
      this.clasifiacionCampania = 0;
      var error_critico_modulo = false;

      if (this.infoMatriz.tipo_matriz_id == 1) {
        //PESO EN MODULOS
        this.seleccionItemsAfectacion.forEach((element) => {
          var pesoModulo = parseFloat(element.peso);
          var totalPositivo = 0;
          var totalNegativo = 0;
          var totalNoAplica = 0;
          var totalModulo = 0;

          var sumaInicial = 0;
          element.puntaje = element.peso;

          element.itemsAfectados.forEach((items) => {
            if (items.typeItem == "item") {
              // console.log(items);

              if (
                (items.error_critico == 1 || items.error_critico == true) &&
                items.type_seleccion == "no_cumple"
              ) {
                // this.clasifiacionCampania = 0;
                // return false;
                error_critico_modulo = true;
              }

              if (error_critico_modulo) {
                this.clasifiacionCampania = 0;
                return false;
              }

              if (
                items.type_seleccion == "cumple" 
                //|| items.type_seleccion == "no_aplica" // PARA QUE NO HAGA LA SUMA CUANDO ES NO APLICA
              ) {
                //SI O CUMPLE
                if (items.error_critico == 0 || items.error_critico == false) {
                  totalPositivo = totalPositivo + 1;
                }
              } else if (items.type_seleccion == "no_cumple") {
                //NO O NO CUMPLE

                totalNegativo = totalNegativo + 1;
              } else {
                //NO APLICA
                totalNoAplica = totalNoAplica + 1;
              }
            }
          });

          // console.log('cumple:'+totalPositivo, 'no cumple:'+totalNegativo, 'total:'+totalNoAplica, pesoModulo);

          sumaInicial = totalPositivo + totalNegativo;
          totalModulo = (totalPositivo / sumaInicial) * 100;
          var restar = ((pesoModulo * totalModulo) / 100).toFixed(0);
          // console.log(restar.);
          if (!isNaN(restar)) {
            this.clasifiacionCampania =
              parseFloat(this.clasifiacionCampania) + parseFloat(restar);
          }

          element.puntaje_obtenido = restar;
        });
      }
      if (this.infoMatriz.tipo_matriz_id == 2) {
        // alert();

        var error_critico_modulo = false;

        if (this.infoMatriz.tipo_peso_id == 3) {
          var pesoItem = 0;
          var total = 0;
          var totalSuma = 0;
          var totalResta = 0;
          var totalPremium = 0;
        
          this.seleccionItemsAfectacion.forEach((element) => {
              var pesoItemSuma = 0;
            element.itemsAfectados.forEach((items) => {
              pesoItem = parseFloat(items.peso ? items.peso : 0);
              pesoItemSuma = pesoItemSuma + pesoItem;
              items.puntaje = items.peso;
              // totalSuma = 0;
              console.log(items, pesoItemSuma);
              if (
                (items.error_critico == 1 || items.error_critico == true) &&
                items.type_seleccion == "no"
              ) {
                // this.clasifiacionCampania = 0;
                // return false;
                error_critico_modulo = true;
              }

              if (error_critico_modulo) {
                this.clasifiacionCampania = 0;
                  pesoItem = 0;
                  total = 0;
                  totalSuma = 0;
                  totalResta = 0;
                  totalPremium = 0;
                  pesoItemSuma = 0;
                return false;
              }
              if (
                (items.type_seleccion == "si" ||
                  items.type_seleccion == "no_aplica") &&
                (items.premium == 0 || items.premium == false)
              ) {
                items.puntaje_obtenido = pesoItem;
                totalSuma = parseFloat(totalSuma) + parseFloat(pesoItem);
              } else if (items.type_seleccion == "no") {
                if (items.premium == 0 || items.premium == false) {
                  // totalResta = parseFloat(totalResta) + parseFloat(pesoItem);
                }
              } else if (
                items.type_seleccion == "si" ||
                items.type_seleccion == "no_aplica"
              ) {
                if (items.premium == 1 || items.premium == true) {
                  items.puntaje_obtenido = pesoItem;
                  totalPremium =
                    parseFloat(totalPremium) + parseFloat(pesoItem);
                }
              }

              total = totalSuma - totalResta;

              if (total < 0) {
                total = 0;
              }
              total = total + totalPremium;
            });
            // element.puntaje =  pesoItemSuma;
            // element.puntaje_obtenido = total;
            this.clasifiacionCampania = total;
          });
        } else {
          this.seleccionItemsAfectacion.forEach((element) => {
            var pesoModulo = 0;
            var pesoItem = 0;
            var total = 0;
            var totalSuma = 0;
            var totalResta = 0;
            var totalPremium = 0;
            var totalItems = 0;
            var noSeleccionado = false;
            pesoModulo = parseFloat(element.peso);
            element.puntaje = element.peso ? element.peso : 0;
            // console.log(element.peso);

            element.itemsAfectados.forEach((items) => {
              if (
                (items.error_critico == 1 || items.error_critico == true) &&
                items.type_seleccion == "no"
              ) {
                // this.clasifiacionCampania = 0;
                // return false;
                error_critico_modulo = true;
              }

              if (error_critico_modulo) {
                this.clasifiacionCampania = 0;
               pesoModulo = 0;
               pesoItem = 0;
               total = 0;
               totalSuma = 0;
               totalResta = 0;
               totalPremium = 0;
               totalItems = 0;
               noSeleccionado = false;
                return false;
              }

              // console.log(items);
              if (items.premium) {
                pesoItem = items.peso;
              } else {
                pesoItem = pesoModulo / items.total_items;
              }
              items.puntaje = pesoItem;
              // totalSuma = 0;

              if (
                items.type_seleccion == "si" ||
                items.type_seleccion == "no_aplica"
              ) {
                totalSuma = parseFloat(totalSuma) + parseFloat(pesoItem);
                items.puntaje_obtenido = pesoItem;
              } else if (items.type_seleccion == "no") {
                noSeleccionado = true;
                if (items.premium == false) {
                  totalResta = parseFloat(totalResta) + parseFloat(pesoItem);
                }
              }

              total = totalSuma - totalResta;

              if (total < 0) {
                total = 0;
              }

              // total = total + totalPremium;
              if (noSeleccionado == true && items.premium == false) {
                total = 0;
                items.puntaje_obtenido = null;
              }
            });

            this.clasifiacionCampania = this.clasifiacionCampania + total;

            element.puntaje_obtenido = total;
          });
        }
      }
    },
    detalleMatriz() {
      this.loaderComponent = true;

      axios
        .get("/crudMatriz/" + this.idMatriz)
        .then((res) => {
          this.loaderList = false;
          this.loaderComponent = false;
          this.infoMatriz = res.data;
        })
        .catch((err) => {
          this.loaderList = false;
          console.error(err);
        });
    },
  },
};
</script>

<style>
.radio-b .v-input--selection-controls__input {
  margin: auto;
}
.v-expansion-panel-content .v-expansion-panel-content__wrap {
  padding: 0 16px 0px !important;
}
.v-expansion-panel:not(:first-child):after {
  border-top: none !important;
}
.v-expansion-panel--active > .v-expansion-panel-header {
  min-height: 48px !important;
}
.content-expansion .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.v-expansion-panel:before {
  box-shadow: none !important;
}
.itemSeleccionado {
  background-color: #e3e3e3 !important;
}
.v-application--is-ltr .v-expansion-panel-header__icon {
  margin-left: auto;
  position: absolute;
  left: 1px;
  top: 16px;
}
.v-expansion-panel-header.no-opacity:not(.v-expansion-panel-header--mousedown):focus:before {
  opacity: 0 !important;
}
</style>